{% set post = __SELF__.post %}
<div class="col-lg-8">
<div class="content_wrap">
  <h3>{{post.title}}</h3>
  <span class="date_post">Lượt xem: {{post.view_number}} | Ngày đăng: {{ post.published_at|date('d/m/Y') }}</span>
    {{ post.content_html|raw }}
</div> <!-- /content_wrap -->
</div> <!-- /col -->