==
<div class="section7" id="section7">
  <div class="container">
    <div class="main_info">
      <div class="title_all wow fadeInUp" data-wow-delay="0.8s">
        <h2>liên hệ</h2>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="contact_info wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1.2s">
            <p>
              CÔNG TY CỔ PHẦN ĐẦU TƯ BẤT ĐỘNG SẢN ĐẠI PHÚ MỸ HƯNG
            </p>
            <div class="logo">
              <a href="/"><img src="images/logo.png" alt="" class="img-fluid"></a>
            </div>
            <div class="contact">
              <ul>
                <li><p><i class="fa fa-map-marker" aria-hidden="true"></i> <span> Tầng 1+ Tầng 2, Số 20, Phố Ngụy Như Kon Tum, Phường Nhân Chính, Quận Thanh Xuân,HN</span></p></li>
                <li>
                  <p><i class="fa fa-phone" aria-hidden="true"></i>  <span>096 969 8993</span></p>
                </li>
                <li>
                  <p><i class="fa fa-globe" aria-hidden="true"></i> <span>trinhttp64@gmail.com</span></p>
                </li>
              </ul>
            </div>
            <div class="copy_right">
              <p>
                Copyright © 2018 Dai Phu My Hung Group
              </p>
            </div>
          </div>
        </div> <!-- /col -->

        <div class="col-lg-7">
          <div class="form_contact wow fadeInRight" data-wow-delay="0.5s" data-wow-duration="1.2s">
            <h2>đăng ký <br> nhận thông tin dự án</h2>
              {% component 'contact' %}
          </div> <!-- /form_contact -->
        </div> <!-- /col -->
      </div>
    </div><!--  /main_info -->
  </div> <!-- /container -->
</div> <!-- /section_7 -->