==
<div class="footer">
  <div class="container">
    <div class="phone_center">
          <a href="tel:0948699668" id="alo-phoneIcon"  class="alo-phone alo-green alo-show">
              <div class="alo-ph-circle"></div>
              <div class="alo-ph-circle-fill"></div>
              <div class="alo-ph-img-circle"><i class="fa fa-phone"></i></div>
              <span class="alo-ph-text">0948699668</span>
          </a>
          <a href="tel:0904565286" id="alo-phoneIcon" class="alo-phone alo-green alo-show alophone_fix">
              <span class="alo-ph-text">0904565286</span>
          </a>
          <!-- <a href="tel:0948699668" ><i class="fa fa-phone"></i>0948699668</a> -->
      </div> <!-- /phone_center -->


    <div class='scrolltop'>
      <a href="#" class="go-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div> <!-- /scrolltop -->
  </div>
</div>
