
<div class="header">
    <div class="wrap_menu">
      <div class="container">
        <div class="main_wrap_menu">
          <div class="logo">
            <a href="/"><img src="images/logo.png" alt="logo" class="img-fluid"></a>
          </div> <!-- /logo -->
          <nav class="navbar"> 
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="/" >giới thiệu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">tiện ích</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">Mặt bằng</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">Lý do đầu tư</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">chính sách</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#section6">tin tức</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#section7">liên hệ</a>
                </li>
            </ul>
          </nav>
        </div> <!-- /main_wrap_menu -->
        
      </div> <!-- /container -->
    </div> <!-- /wrap_menu -->

    <div class="wrap_menu_mobi">
      <div class="container">
        <!-- button menumobile -->
          <div class="open-nav" onclick="openNav()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>

                    <div class="logo">
            <a href="/"><img src="images/logo.png" alt="" class="img-fluid"></a>
          </div>
                    <!-- button menumobile -->
        <!--menu mobile -->
            <div id="menu-mobile" class="hidden-md hidden-lg">
                <div class="nav_mobile">
                  <div class="top">
                     <a href="/"><img src="images/logo.png" alt="logo" class="img-fluid"></a>
                       <i class="fa fa-times click_bg"  aria-hidden="true" onclick="closeNav()"></i>
                  </div>
                       
                    <ul class="nav">
                       <li class="nav-item active">
                        <a class="nav-link" href="/#section1" onclick="closeNav()">giới thiệu</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/#section2" onclick="closeNav()">tiện ích</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/#section3" onclick="closeNav()">Mặt bằng</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/#section4" onclick="closeNav()">Lý do đầu tư</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/#section5" onclick="closeNav()">chính sách</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/#section6" onclick="closeNav()">tin tức</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/#section7" onclick="closeNav()">liên hệ</a>
                      </li>
                  </ul>
                      

                </div>
            </div>
            <div class="click_out" onclick="openNav()"></div>
        <!--end menu mobile -->
      </div> <!-- /container -->
    </div> <!-- /wrap_menu_mobi -->

    <div class="wrap_banner_slide">
      <div class="owl-carousel owl-theme custom_owl_1">
        <div class="item">
          <div class="main_slide_item">
            <img src="images/banner2.jpg" alt="" class="img-fluid">
            <div class="caption">
              <h3 class="one">Vinpearl Phú Quốc</h3>
              <h3 class="two">Đẳng Cấp Căn Hộ Đáng Sống</h3>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="main_slide_item">
            <img src="images/banner2.jpg" alt="" class="img-fluid">
            <div class="caption">
              <h3 class="one">Vinpearl Phú Quốc</h3>
              <h3 class="two">Đẳng Cấp Căn Hộ Đáng Sống</h3>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="main_slide_item">
            <img src="images/banner2.jpg" alt="" class="img-fluid">
            <div class="caption">
              <h3 class="one">Vinpearl Phú Quốc</h3>
              <h3 class="two">Đẳng Cấp Căn Hộ Đáng Sống</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>