[contact]
==
<div class="md-modal">
  <div class="md-content">
    <div class="info_popup">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="indext wow0">
            <h3>đăng ký ngay</h3>
            <p>Nhận bộ tài liệu</p>
            <ul>
              <li>Thông tin đầy đủ dự án</li>
              <li>Mặt bằng khu</li>
              <li>Bảng giá chi tiết từng căn</li>
              <li>Tiến độ thanh toán</li>
              <li>Thư mời tham quán miễn phí</li>
              <li>Chương trình ưu đãi mới nhất</li>
              <li>Cam kết cho thuê lại</li>
            </ul>
          </div>
        </div> <!-- /col -->
        <div class="col-lg-6 col-md-6">
          <div class="form_contact">
            <h3>thông tin đăng ký</h3>
            {% component 'contact' %}
          </div>
        </div> <!-- /col -->
      </div> <!-- /row -->
      <button class="md-close"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div> <!-- /info_popup -->
  </div>
</div>