{% set posts = __SELF__.posts %}
{% if posts %}

<div class="row">
{% for post in posts %}
    {% if post.published %}
    <div class="col-lg-6">
      <div class="block_content">
        <div class="index">
          <h3><a href="/news/{{ post.slug }}">{{ html_limit(post.title,50) }}</a></h3>
          <p>
            {{ html_limit(post.excerpt,100) }}
          </p>
        </div>
        <div class="images">
          <a href="/news/{{ post.slug }}"><img src="{{ post.featured_images.path|resize(330,220, { mode: 'crop', extension: 'jpg' }) }}" alt="{{ post.title }}" class="img-fluid"></a>
          <span class="date_info">
            {{ post.published_at|date('d/m/Y') }}
          </span>
        </div>
      </div> <!-- /block_content -->
    </div> <!-- /col -->
   
    {% endif %}

{% endfor %}
{% else %}
    <div class="item">
      <div class="cs-offer-col wow fadeInUp" data-wow-delay="1.2s" data-wow-duration="1.5s">
        <h4>Đang nhập nhật</h4>
      </div> <!-- /wrap_content_blog -->
    </div> <!-- /item -->
{% endif %}
</div> <!-- /row -->
{% if posts.lastPage > 1 %}
<div class="panigation_bottom">
  <ul>
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
        {% endif %}
  </ul>
</div> <!-- /panigation_bottom -->