{% set posts = __SELF__.posts %}
{% if posts %}
  {% if seo_title == 'Trang chủ' %}
    {% for post in posts %}
        {% if post.published %}
        <div class="item">
          <div class="cs-offer-col wow fadeInUp" data-wow-delay="1.2s" data-wow-duration="1.5s">
              <div class="cs-single-item">
                  <a href="/news/detail/{{ post.slug }}"><img src="{{ post.featured_images.path|resize(362,253, { mode: 'crop', extension: 'jpg' }) }}" alt="{{ post.title }}" class="img-fluid"></a>
                  <div class="cs-item-text-box">
                      <span class="btn btn-default cs-my-btn" role="button">{{ post.published_at|date('d/m/Y') }}</span>
                      <h5><a href="/news/detail/{{ post.slug }}" title="{{ post.title }}">{{ post.title }}</a></h5>
                      <p>{{ post.excerpt }}</p>
                  </div>
              </div>
          </div>
        </div> <!-- /item -->
        {% endif %}
    {% endfor %}
  {% else %}
    <div class="top_post_conten">
      <div class="row">
        <div class="col-lg-9">
          <div class="big_hot_new">
            <div class="images">
              <a href="/news/detail/{{ posts[0].slug }}"><img src="{{ posts[0].featured_images.path|resize(823,510, { mode: 'crop', extension: 'jpg' }) }}" alt="{{ posts[0].title }}" class="img-fluid"></a>
            </div>
            <div class="caption">
              <h3><a href="/news/detail/{{ posts[0].slug }}">{{ posts[0].title }}</a></h3>
              <p>
                {{ posts[0].excerpt }}
              </p>
              <span class="date_post">
                Ngày đăng: {{ posts[0].published_at|date('d/m/Y') }}
              </span>
            </div>
          </div> <!--  /big_hot_new -->
        </div> <!-- /col -->
        <div class="col-lg-3">
        {% for k,post in posts %}
        {% if k > 0 and k < 4 %}
          <div class="thumb_conten">
            <div class="iamges">
              <a href="/news/detail/{{ post.slug }}"><img src="{{ post.featured_images.path|resize(330,220, { mode: 'crop', extension: 'jpg' }) }}" alt="{{ post.title }}" class="img-fluid"></a>
            </div>
            <div class="caption">
              <h3><a href="/news/detail/{{ post.slug }}">{{ post.title }}</a></h3>
            </div>
          </div> <!-- /thumb_conten -->
        {% endif %}
        {% endfor %}
        </div>
    </div> <!-- /row --></div> <!-- /row -->
      </div> <!--  /top_post_conten -->
      <div class="info_post_conten">
        <div class="row">
        {% for k,post in posts %}
        {% if (k>=4) %}
          <div class="col-lg-6">
            <div class="block_content">
              <div class="images">
                <a href="/news/detail/{{ post.slug }}"><img src="{{ post.featured_images.path|resize(330,220, { mode: 'crop', extension: 'jpg' }) }}" alt="{{ post.title }}" class="img-fluid"></a>
              </div>
              <div class="index">
                <h3><a href="/news/detail/{{ post.slug }}">{{ post.title }}</a></h3>

                <span class="date_info">
                  Ngày đăng: {{ post.published_at|date('d/m/Y')}}
                </span>
              </div>
            </div> <!-- /block_content -->
          </div> <!-- /col -->
        {% endif %}
        {% endfor %}
        </div>
      </div> <!-- /info_post_conten -->
    {% if posts.lastPage > 1 %}
    <div class="panigation_bottom">
      <ul>
            {% if posts.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
            {% endif %}

            {% for page in 1..posts.lastPage %}
                <li class="{{ posts.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if posts.lastPage > posts.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
            {% endif %}
      </ul>
    </div> <!-- /panigation_bottom -->
    {% endif %}
  {% endif %}
{% else %}
    <div class="item">
      <div class="cs-offer-col wow fadeInUp" data-wow-delay="1.2s" data-wow-duration="1.5s">
        <h4>Đang nhập nhật</h4>
      </div> <!-- /wrap_content_blog -->
    </div> <!-- /item -->
{% endif %}