﻿body
{
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
    color:#333;
    background:#fff;
    font-family:OpenSans;
    font-size:14px;
}
.cb{clear:both;}
a
{
    text-decoration:none;
}
h1,h2,h3,h4,h5
{
    margin:0;
    font-size:14px;
    font-weight:normal;
}

@font-face
{
    font-family: 'slick';
    src: url('fontface/slick.eot'); /* IE9 Compat Modes */
    src: url('fontface/slick.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fontface/slick.woff') format('woff'), /* Modern Browsers */
    url('fontface/slick.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fontface/slick.svg#slick') format('svg'); /* Legacy iOS */
}
@font-face
{
    font-family: 'OpenSans';
    src: url('fontface/OpenSans.eot'); /* IE9 Compat Modes */
    src: url('fontface/OpenSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fontface/OpenSans.woff') format('woff'), /* Modern Browsers */
    url('fontface/OpenSans.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fontface/OpenSans.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face
{
    font-family: 'OpenSansBold';
    src: url('fontface/OpenSansBold.eot'); /* IE9 Compat Modes */
    src: url('fontface/OpenSansBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fontface/OpenSansBold.woff') format('woff'), /* Modern Browsers */
    url('fontface/OpenSansBold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fontface/OpenSansBold.svg#OpenSansBold') format('svg'); /* Legacy iOS */
}
@font-face
{
    font-family: 'OpenSansExtrabold';
    src: url('fontface/OpenSansExtrabold.eot'); /* IE9 Compat Modes */
    src: url('fontface/OpenSansExtrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fontface/OpenSansExtrabold.woff') format('woff'), /* Modern Browsers */
    url('fontface/OpenSansExtrabold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fontface/OpenSansExtrabold.svg#OpenSansExtrabold') format('svg'); /* Legacy iOS */
}
@font-face
{
    font-family: 'OpenSansSemibold';
    src: url('fontface/OpenSansSemibold.eot'); /* IE9 Compat Modes */
    src: url('fontface/OpenSansSemibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fontface/OpenSansSemibold.woff') format('woff'), /* Modern Browsers */
    url('fontface/OpenSansSemibold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fontface/OpenSansSemibold.svg#OpenSansSemibold') format('svg'); /* Legacy iOS */
}
@font-face
{
    font-family: 'UTMHelvetIns';
    src: url('fontface/UTMHelvetIns.eot'); /* IE9 Compat Modes */
    src: url('fontface/UTMHelvetIns.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fontface/UTMHelvetIns.woff') format('woff'), /* Modern Browsers */
    url('fontface/UTMHelvetIns.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fontface/UTMHelvetIns.svg#UTMHelvetIns') format('svg'); /* Legacy iOS */
}
@font-face
{
    font-family: 'RobotoMedium';
    src: url('fontface/RobotoMedium.eot'); /* IE9 Compat Modes */
    src: url('fontface/RobotoMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fontface/RobotoMedium.woff') format('woff'), /* Modern Browsers */
    url('fontface/RobotoMedium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fontface/RobotoMedium.svg#RobotoMedium') format('svg'); /* Legacy iOS */
}
@font-face
{
    font-family: 'UVNSangSongBold';
    src: url('fontface/UVNSangSongBold.eot'); /* IE9 Compat Modes */
    src: url('fontface/UVNSangSongBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fontface/UVNSangSongBold.woff') format('woff'), /* Modern Browsers */
    url('fontface/UVNSangSongBold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fontface/UVNSangSongBold.svg#UVNSangSongBold') format('svg'); /* Legacy iOS */
}

.mainslide .khungAnh:before {padding-bottom: 51.0416667%;}

.wrap_section_six
{
    padding: 15px 0px;
}
.wrap_section_six .info a.btn_load_price_table
{
    padding: 7px 30px;
}
.footer
{
    margin-top: 215px;
}
.header.ducfixhd {
    background-image: none;
    background-size: initial;
    min-height: 1px;
    position:absolute;
    width:100%;
    z-index:10;
    top:0;
    left:0;
}
#slide_landingpage {
    width: 100%;
    overflow: hidden;
    position: relative;
}
#slide_landingpage .mainslide {
    width: 100%;
    position: relative;
}
.slick-next:before, .slick-prev:before{content:"";}
.slick-dots li button:before
{
    content:"";
}
.slick-dotted.slick-slider
{
    margin-bottom:0;
}
.mainslide button{
    background:#baecd5;
    border-radius:7.5px;
    width:11px;
    height:11px;
}
.mainslide .slick-dots 
{
    position: absolute;
    padding: 0;
    z-index:2;
    bottom: 26px;
}
.mainslide .slick-dots li 
{
    display: inline-block;
    margin:0 5px;
    width:15px;
    height:15px;
    list-style: none
}
.mainslide .slick-dots button 
{
    width:15px;
    height:15px;
    border: 2px solid #fff;
    outline: none;
    background-color:transparent;
    padding: 0;
    font-size: 0;
    cursor: pointer
}
.mainslide .slick-dots .slick-active button {background-color:#fff;}

.sub_project_overview
{
    width:100%;
    height:556px;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center;
    overflow:hidden;
    position:relative;
    z-index:1;
}
.sub_project_overview .subtongquanduan
{
    width:calc(100% - 40px);
    height:723.41px;
    margin:auto;
    position:absolute;
    padding:83px 75px 80px 75px;
    top:-40px;
    right:10px;
    z-index:3;
    background:#fff;
    border-radius:50%;
}
.sub_project_overview .overview_right:before
{
    content:"";
    width:100%;
    height:783.41px;
    margin:auto;
    position:absolute;
    top:-43px;
    right:-10px;
    z-index:2;
    border-radius:50%;
    background:rgba(177,230,252,0.5);
}
.content .list_cate
{
    width:100%;
    position:relative;
    overflow: hidden;
    text-align: center;
    z-index: 0;
}
.content .list_cate .title_listcate
{
    display:inline-block;
    font-family: UVNSangSongBold;
    font-size: 34px;
    color: #f8b431;
    line-height:60px;
    width: auto;
}
.content .list_cate .title_listcate:hover
{
    color:#f8b431;
}
.content .list_cate .note_list
{
    font-family: RobotoMedium;
    font-size: 13.5px;
    color: #9f9e9e;
    line-height: 20px;
    text-align: center;
    width:96%;
    margin:auto;
    margin-top:6px;
}
.sub_project_overview .subtongquanduan .lstdsduan
{
    width:100%;
    margin-top:5px;
    overflow:hidden;
}
.sub_project_overview .subtongquanduan .lstdsduan .item_dstongquanduan
{
    width:calc((100% - 21px)/3);
    float:left;
    overflow:hidden;
    margin-right:10px;
    margin-top:15px;
}
.sub_project_overview .subtongquanduan .lstdsduan .item_dstongquanduan:nth-child(3n)
{
    margin-right:0;
}
.sub_project_overview .subtongquanduan .lstdsduan .item_dstongquanduan .khungAnh
{
    width:auto;
    max-width:35px;
    height:35px;
    margin:auto;
    text-align:center;
    display:block;
}
.sub_project_overview .subtongquanduan .lstdsduan .item_dstongquanduan .ngoaia
{
    display:block;
    margin-top:10px;
    height:20px;
    width:100%;
    text-align:center;
    overflow:hidden;
}
.sub_project_overview .subtongquanduan .lstdsduan .item_dstongquanduan .ngoaia .title_tqda
{
    font-family:OpenSansBold;
    font-size:13.5px;
    color:#474747;
    line-height:20px;
    text-transform:uppercase;
    display:inline-block;
}
.sub_project_overview .subtongquanduan .lstdsduan .item_dstongquanduan .note_tqda
{
    font-family:OpenSansSemibold;
    font-size:12.5px;
    color:#474747;
    line-height:18px;
    height:36px;
    text-align:center;
    margin-top:5px;
    width:100%;
}

.sub_project_location
{
    width:100%;
    position:relative;
    overflow:hidden;
    background:url('../images/banner_d2.png') no-repeat left top;
    background-size:42% 100%;
}
.sub_project_location .sub_location_left
{
    width:100%;
    padding:60px 0;
}
.sub_project_location .list_cate
{
    width:calc(100% - 100px);
    margin-left:20px;
}
.sub_project_location .list_cate .title_listcate
{
    color:#fff;
    font-size:44px;
}
.sub_project_location .list_cate .title_listcate:hover
{
    color:#fff;
}
.sub_project_location .list_cate .note_list
{
    color:#fff;
    font-family:OpenSansSemibold;
    text-align:left;
}
.sub_project_location .lstdsvitri_duan
{
    width:calc(100% - 70px);
    margin-left:20px;
    overflow:hidden;
    margin-top:20px;
}
.sub_project_location .lstdsvitri_duan .item_dsvitriduan
{
    width:calc((100% - 10px)/2);
    float:left;
    margin-right:10px;
    margin-top:5px;
    margin-bottom:5px;
    overflow:hidden;
}
.sub_project_location .lstdsvitri_duan .item_dsvitriduan:nth-child(2n)
{
    margin-right:0;
}
.sub_project_location .lstdsvitri_duan .item_dsvitriduan .frames_mages
{
    width: 33.769%;
    float:left;
    overflow:hidden;
    background:rgba(255,255,255,0.42);
    border-radius:50%;
    position: relative;
    z-index: 1;
}
.sub_project_location .lstdsvitri_duan .item_dsvitriduan .frames_mages:before
{
    content:"";
    display:block;
    padding-bottom:100%;
}
.sub_project_location .lstdsvitri_duan .item_dsvitriduan .frames_mages .frames_mages_Crop
{
    overflow:hidden;
    text-align:center;
    display:inline-block;
    position:absolute;
    z-index:1;
    top:0;
    left:6px;
    width:calc(100% - 6px);
    height:calc(100% - 6px);
    border-radius:50%;
}
.sub_project_location .lstdsvitri_duan .item_dsvitriduan .frames_mages .frames_mages_Crop img
{
    height:100%;
    max-width:none;
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
    transition:0.5s all;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}
.sub_project_location .lstdsvitri_duan .item_dsvitriduan:hover .frames_mages .frames_mages_Crop img
{
    -webkit-transform:translate(-50%,-50%) scale(1.2);
    -moz-transform:translate(-50%,-50%) scale(1.2);
    -o-transform:translate(-50%,-50%) scale(1.2);
    transform:translate(-50%,-50%) scale(1.2)
}
.sub_project_location .lstdsvitri_duan .item_dsvitriduan .project_information
{
    width:calc(100% - 33.769% - 10px);
    float:right;
    overflow:hidden;
}
.sub_project_location .lstdsvitri_duan .item_dsvitriduan .project_information .ngoaia
{
    width:100%;
    overflow:hidden;
    margin-top:5px;
}
.sub_project_location .lstdsvitri_duan .item_dsvitriduan .project_information .ngoaia .title_vtda
{
    font-family:OpenSansExtrabold;
    font-size:20px;
    color:#fff;
    line-height:24px;
}
.sub_project_location .lstdsvitri_duan .item_dsvitriduan .project_information .note_vtda
{
    font-family:OpenSansSemibold;
    font-size:13px;
    color:#fff;
    line-height:17px;
    overflow:hidden;
    margin-top:3px;
}

.sub_project_utility
{
    width:100%;
    padding:70px 0 130px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position:center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.sub_project_utility:before
{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
}
.sub_project_utility:after
{
    content:"";
    width:100%;
    height:103px;
    position:absolute;
    z-index:4;
    left:0;
    bottom:0;
    background:url('../images/banner_d4.png') no-repeat left bottom;
    background-size:100%;
}
.sub_project_utility .utility_left
{
    width:100%;
    min-height:610px;
    position:relative;
    z-index:5;
    overflow:hidden;
}
.sub_project_utility .utility_left .lst_left_tienich
{
    width:600px;
    height:610px;
    position:absolute;
    z-index:10;
    top:0;
    right:0;
    background:url('../images/banner_d5.png') no-repeat center;
}
.sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich
{
    width:150px;
    height:150px;
    position:absolute;
    z-index:10;
    background:#441405;
    border-radius:50%;
    overflow:hidden;
}
.sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich:nth-child(n+8)
{
    display:none;
}
.sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich .frames_mages
{
    width:calc(100% - 12px);
    height:calc(100% - 12px);
    margin-left:6px;
    margin-top:6px;
    border-radius:50%;
    overflow:hidden;
    background:#fff;
    position: relative;
    z-index: 1;
}
.sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich .frames_mages:before
{
    padding-bottom:100%;
}
.sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich .frames_mages .frames_mages_Crop
{
    overflow:hidden;
    text-align:center;
    display:inline-block;
    position:absolute;
    z-index:1;
    top:4px;
    left:4px;
    width:calc(100% - 8px);
    height:calc(100% - 8px);
    border-radius:50%;
}
.sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich .frames_mages .frames_mages_Crop img
{
    height:100%;
    max-width:none;
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
    transition:0.5s all;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}
.sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich:hover .frames_mages .frames_mages_Crop img
{
    -webkit-transform:translate(-50%,-50%) scale(1.1);
    -moz-transform:translate(-50%,-50%) scale(1.1);
    -o-transform:translate(-50%,-50%) scale(1.1);
    transform:translate(-50%,-50%) scale(1.1)
}
.sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich01
{
    top: 86px;
    left: 23px;
}
.sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich02
{
    width:185px;
    height:185px;
    top: 25px;
    right: 63px;
}
.sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich03
{
    top: 246px;
    right: 5px;
}
.sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich04
{
    top: 413px;
    right: 92px;
}
.sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich05
{
    top: 458px;
    right: 315px;
}
.sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich06
{
    width:185px;
    height:185px;
    top: 308px;
    left: -42px;
}
.sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich07
{
    width:260px;
    height:260px;
    top: 174px;
    right: 186px;
    background:no-repeat;
}
.sub_project_utility .utility_right
{
    width:calc(100% - 50px);
    position:relative;
    overflow:hidden;
}
.sub_project_utility .sub_utility
{
    width:100%;
    overflow:hidden;
}
.sub_project_utility .sub_utility .list_cate .title_listcate
{
    font-size:44px;
}
.sub_project_utility .sub_utility .list_cate .note_list
{
    color:#fff;
    font-family:OpenSansSemibold;
    width:100%;
}
.sub_project_utility .sub_utility .lstdsutility
{
    width:100%;
    margin-top:10px;
    overflow:hidden;
}
.sub_project_utility .sub_utility .lstdsutility .itemdsutility
{
    width:33.3333%;
    padding:0 10px;
    float:left;
    overflow:hidden;
    margin-top:25px;
}
.sub_project_utility .sub_utility .lstdsutility .itemdsutility .frames_mages
{
    width:62px;
    position: relative;
    z-index: 1;
    margin:auto;
    border-radius:50%;
    border:1px solid #fff;
    overflow:hidden;
}
.sub_project_utility .sub_utility .lstdsutility .itemdsutility .frames_mages:before
{
    content:"";
    display:block;
    padding-bottom: 100%;
}
.sub_project_utility .sub_utility .lstdsutility .itemdsutility .frames_mages .frames_mages_Crop0
{
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sub_project_utility .sub_utility .lstdsutility .itemdsutility .frames_mages .frames_mages_Crop0 img
{
    max-width: 60%;
    max-height: 60%;
    position: absolute;
    z-index: 1;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.sub_project_utility .sub_utility .lstdsutility .itemdsutility .ngoaia
{
    width:100%;
    text-align:center;
    margin-top: 7px;
    height: 24px;
    overflow: hidden;
}
.sub_project_utility .sub_utility .lstdsutility .itemdsutility .ngoaia .title_tida
{
    font-family:OpenSansSemibold;
    font-size:16px;
    color:#f8b431;
    line-height:24px;
}

.sub_project_progress
{
    width:100%;
    background:#fff;
    overflow:hidden;
    padding:70px 0;
}
.sub_project_progress .list_cate .title_listcate
{
    font-size:48px;
    line-height:75px;
}
.sub_project_progress .list_cate .note_list
{
    width: 68%;
}
.sub_project_progress .lst_dsprogress
{
    width:100%;
    padding:10px 60px;
    overflow:hidden;
    margin:auto;
    margin-top:30px;
    background:url('../images/banner_d6.png') no-repeat center top -1px;
    background-size:100% 80%;
}
.sub_project_progress .lst_dsprogress .item_dsprogress
{
    width:33.333%;
    float:left;
    overflow:hidden;
    padding:0 15px;
}
.sub_project_progress .lst_dsprogress .item_dsprogress:nth-child(n+4)
{
    display:none;
}
.sub_project_progress .lst_dsprogress .item_dsprogress .frames_mages
{
    width:50%;
    position: relative;
    z-index: 1;
    margin:auto;
    border-radius:50%;
    overflow:hidden;
}
.sub_project_progress .lst_dsprogress .item_dsprogress .frames_mages:before
{
    content:"";
    display:block;
    padding-bottom:100%;
}
.sub_project_progress .lst_dsprogress .item_dsprogress .frames_mages .frames_mages_Crop
{
    overflow:hidden;
    text-align:center;
    display:inline-block;
    position:absolute;
    z-index:1;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border-radius:50%;
}
.sub_project_progress .lst_dsprogress .item_dsprogress .frames_mages .frames_mages_Crop img
{
    height:100%;
    max-width:none;
    position:absolute;
    z-index:1;
    top:50%;
    left:50%;
    transition:0.5s all;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}
.sub_project_progress .lst_dsprogress .item_dsprogress .frames_mages:hover .frames_mages_Crop img
{
    -webkit-transform:translate(-50%,-50%) scale(1.1);
    -moz-transform:translate(-50%,-50%) scale(1.1);
    -o-transform:translate(-50%,-50%) scale(1.1);
    transform:translate(-50%,-50%) scale(1.1)
}
.sub_project_progress .lst_dsprogress .item_dsprogress .progress_information
{
    width:100%;
    margin-top:30px;
    overflow:hidden;
}
.sub_project_progress .lst_dsprogress .item_dsprogress .progress_information .ngoaia
{
    width:100%;
    text-align:center;
}
.sub_project_progress .lst_dsprogress .item_dsprogress .progress_information .ngoaia .title_tdda
{
    font-family:OpenSansExtrabold;
    font-size:20px;
    color:#9f9e9e;
    line-height:24px;
}
.sub_project_progress .lst_dsprogress .item_dsprogress .progress_information .note_tdda
{
    width:100%;
    margin-top:20px;
    text-align:center;
    font-family:OpenSansSemibold;
    font-size:14px;
    max-height:168px;
    color:#9f9e9e;
    line-height:24px;
    overflow:hidden;
}
.sub_project_progress .lst_dsprogress .item_dsprogress:nth-child(2n)
{
    flex-direction:column-reverse;
    display:flex;
    margin-top: 35px;
}
.sub_project_progress .lst_dsprogress .item_dsprogress:nth-child(2n) .progress_information
{
    margin-bottom:30px;
}
.sub_project_progress .buttom_progress
{
    width:100%;
    overflow:hidden;
    margin-top:50px;
    text-align:center;
}
.sub_project_progress .buttom_progress .btn_receive_information
{
    display:inline-block;
    font-family:OpenSansBold;
    font-size:18px;
    color:#fff;
    padding:15px 50px 9px;
    border-radius:30px;
    text-transform:uppercase;
    background:#ef0f29;
    transition:0.5s all;
}
.sub_project_progress .buttom_progress .btn_receive_information:hover
{
    background:#fab020;
    transition:1s all;
}
.sub_video_image
{
    padding:50px 0 100px;
    width:100%;
    background-image:url('../images/banner_d7.png');
    background-position: top center;
    background-size: 100% 330px;
    background-repeat:no-repeat;
}
.sub_video_image .list_cate .title_listcate
{
    color: #fff;
    font-size:48px;
    line-height:75px;
}
.sub_video_image .list_cate .title_listcate:hover
{
    color:#fff;
}
.sub_video_image .lst_image_project,
.sub_video_image .lst_video_project
{
    width:100%;
    overflow:hidden;
    margin-top:35px;
    padding:0;
}
.sub_video_image .lst_image_project .item_image_project,
.sub_video_image .lst_video_project .item_video_project
{
    width:100%;
    overflow:hidden;
}
.sub_video_image .lst_image_project .item_image_project .frames_mages,
.sub_video_image .lst_video_project .item_video_project .frames_mages
{
    width: 100%;
    position: relative;
    z-index: 1;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}
.sub_video_image .lst_image_project .item_image_project .frames_mages:before,
.sub_video_image .lst_video_project .item_video_project .frames_mages:before
{
    content: "";
    display: block;
    padding-bottom:62.7027027%;
}
.sub_video_image .lst_image_project .item_image_project .frames_mages .frames_mages_Crop,
.sub_video_image .lst_video_project .item_video_project .frames_mages .frames_mages_Crop
{
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:20px;
}
.sub_video_image .lst_image_project .item_image_project .frames_mages .frames_mages_Crop img,
.sub_video_image .lst_video_project .item_video_project .frames_mages .frames_mages_Crop img
{
    height:100%;
    max-width: none;
    max-height: 150%;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -moz-transition:all 0.5s ease 0s;
    -o-transition:all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.sub_video_image .lst_image_project .item_image_project .frames_mages:hover .frames_mages_Crop img,
.sub_video_image .lst_video_project .item_video_project .frames_mages:hover .frames_mages_Crop img
{
    -webkit-transform:translate(-50%,-50%) scale(1.1);
    -moz-transform:translate(-50%,-50%) scale(1.1);
    -o-transform:translate(-50%,-50%) scale(1.1);
    transform:translate(-50%,-50%) scale(1.1);
}
.sub_video_image .lst_image_project .item_image_project .ngoaia,
.sub_video_image .lst_video_project .item_video_project .ngoaia
{
    width:100%;
    text-align:center;
    overflow:hidden;
    margin-top:20px;
    padding-bottom:10px
}
.sub_video_image .lst_image_project .item_image_project .ngoaia .title_hada,
.sub_video_image .lst_video_project .item_video_project .ngoaia .title_videoda
{
    font-family:RobotoMedium;
    font-size:18px;
    color:#441405;
    line-height:24px;
}
.sub_video_image .lst_image_project .slick-prev,
.sub_video_image .lst_image_project .slick-next
{
    width: 29px;
    height: 14px;
    max-width: 29px;
    opacity: 1;
    top: 43%;
    font-size: 0;
    z-index: 2;
}
.sub_video_image .lst_image_project .slick-prev
{
    left:17px;
    background:url('../images/nutslidetrai1.png') no-repeat center;
}
.sub_video_image .lst_image_project .slick-next
{
    right:17px;
    background:url('../images/nutslidephai1.png') no-repeat center;
}

.sub_price_policy
{
    width:100%;
    min-height:600px;
    overflow:hidden;
    position:relative;
    background-attachment: fixed;
    background-size: cover;
    background-position:right;
    padding: 120px 0px 105px;
}
.sub_price_policy:before
{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
}
.sub_price_policy .sub_policy
{
    padding:0px 0 65px;
    width:calc(100% - 110px);
    position: relative;
    z-index: 1;
    background:url('../images/banner_d9.png') repeat center;
}
.sub_price_policy .sub_policy:before
{
    content: "";
    position: absolute;
    height: 100%;
    z-index: -1;
    left: 0;
    width: 1000px;
    top: 0;
    margin-left: -1000px;
    background:url('../images/banner_d9.png') repeat center;
}
.sub_price_policy .sub_policy::after
{
    content: "";
    position: absolute;
    height: 100%;
    z-index: -1;
    right: -110px;
    width: 110px;
    top: 0;
    background-image: url('../images/banner_d8.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.sub_price_policy .sub_policy .title_listcate
{
    color:#fff;
    font-size:48px;
    line-height:75px;
}
.sub_price_policy .sub_policy .title_listcate:hover
{
    color:#fff;
}
.sub_price_policy .sub_policy .note_policy
{
    width:calc(100% - 10px);
    margin-top:10px;
    font-family:OpenSansSemibold;
    font-size:14px;
    color:#fff;
    line-height:20px;
}
.sub_price_policy .sub_policy .btn_seemore_policy
{
    display:none;
}
.sub_price_policy .sub_price
{
    padding:0;
    width:100%;
    overflow:hidden;
    position: relative;
}
.sub_price_policy .sub_price .list_cate .title_listcate
{
    color:#f3cc46;
    font-size:48px;
    line-height:75px;
}
.sub_price_policy .sub_price .information_price
{
    width:100%;
    position:relative;
    margin-top:20px;
    overflow:hidden;
}
.sub_price_policy .sub_price .information_price input[type="text"]
{
    display:block;
    width:100%;
    margin-bottom:20px;
    border:none;
    border-radius:25px;
    padding:13px 50px;
    line-height:24px;
    outline:none;
    font-family:OpenSansSemibold;
    font-size:16px;
    color:#fff;
    background:url('../images/banner_d9.png') repeat center;
}
.sub_price_policy .sub_price .information_price ::-webkit-input-placeholder {color: #fff}
.sub_price_policy .sub_price .information_price ::-moz-placeholder {color: #fff;opacity: 1}
.sub_price_policy .sub_price .information_price :-moz-placeholder {color: #fff;opacity: 1}
.sub_price_policy .sub_price .information_price textarea
{
    display:block;
    width:100%;
    resize:none;
    margin-bottom:20px;
    border:none;
    border-radius:25px;
    outline:none;
    padding:13px 50px;
    line-height:24px;
    font-family:OpenSansSemibold;
    font-size:16px;
    color:#fff;
    background:url('../images/banner_d9.png') repeat center;
}
.sub_price_policy .sub_price .butom_guithongtin
{
    width:100%;
    text-align:center;
    overflow:hidden;
}
.sub_price_policy .sub_price .butom_guithongtin .btn_guithongtin
{
    font-family:OpenSansBold;
    font-size:16px;
    color:#fff;
    line-height:24px;
    padding:16px 40px 10px;
    display:inline-block;
    background:#ef0f29;
    text-transform:uppercase;
    border-radius:25px;
    transition:1s all;
    border: 0;
}
.sub_price_policy .sub_price .butom_guithongtin .btn_guithongtin:hover
{
    background:#f8b431;
}

.sub_news_duc
{
    width:100%;
    padding: 50px 0 100px;
}
.sub_news_duc .list_cate .title_listcate
{
    color:#f3cc46;
    font-size: 48px;
    line-height: 75px;
}
.sub_news_duc .list_cate .title_listcate:hover
{
    color:#f3cc46;
}
.sub_news_duc .lst_dsnews_duc
{
    width:calc(100% + 30px);
    margin:0;
    padding:0;
    margin-top:10px;
    margin-left:-15px;
    margin-right:-15px;
}
.sub_news_duc .lst_dsnews_duc .item_news_duc
{
    width:33.33333%;
    padding:0 15px;
    box-sizing:border-box;
    float:left;
    overflow:hidden;
}
.sub_news_duc .lst_dsnews_duc .item_news_duc .frames_mages
{
    width: 100%;
    position: relative;
    z-index: 1;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
}
.sub_news_duc .lst_dsnews_duc .item_news_duc .frames_mages:before
{
    content: "";
    display: block;
    padding-bottom: 54.6667%;
}
.sub_news_duc .lst_dsnews_duc .item_news_duc .frames_mages .frames_mages_Crop
{
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:15px;
}
.sub_news_duc .lst_dsnews_duc .item_news_duc .frames_mages .frames_mages_Crop img
{
    width:100%;
    max-width: 150%;
    max-height: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -moz-transition:all 0.5s ease 0s;
    -o-transition:all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.sub_news_duc .lst_dsnews_duc .item_news_duc .frames_mages:hover .frames_mages_Crop img
{
    -webkit-transform:translate(-50%,-50%) scale(1.1);
    -moz-transform:translate(-50%,-50%) scale(1.1);
    -o-transform:translate(-50%,-50%) scale(1.1);
    transform:translate(-50%,-50%) scale(1.1);
}
.sub_news_duc .lst_dsnews_duc .item_news_duc .information_new_duc
{
    width:100%;
    overflow:hidden;
    margin-top:15px;
}
.sub_news_duc .lst_dsnews_duc .item_news_duc .information_new_duc .date_submitted_news_duc
{
    width:100%;
    font-family:OpenSans;
    font-size:15px;
    color:#441405;
    line-height:20px;
}
.sub_news_duc .lst_dsnews_duc .item_news_duc .information_new_duc .ngoaia
{
    width:100%;
    overflow:hidden;
    margin-top:20px;
}
.sub_news_duc .lst_dsnews_duc .item_news_duc .information_new_duc .ngoaia .title_news_duc
{
    font-family:OpenSansBold;
    font-size:17.5px;
    color:#f8b431;
    line-height:26px;
    text-transform:uppercase;
}
.sub_news_duc .lst_dsnews_duc .item_news_duc .information_new_duc .note_news_duc
{
    width:100%;
    margin-top:10px;
    font-family:OpenSans;
    font-size:14px;
    line-height:24px;
    max-height:72px;
    overflow:hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.sub_news_duc .lst_dsnews_duc .item_news_duc .information_new_duc .btn_chitiet_duc
{
    display:inline-block;
    padding:0 50px 0 27px;
    border:1px solid #deac4c;
    border-radius:15px;
    background:#f8b431 url('../images/icon_chitiet.png') no-repeat right 27px center;
    line-height:32px;
    height:32px;
    font-family:RobotoMedium;
    font-size:15px;
    color:#270b03;
    margin-top:20px;
    transition:0.5s all;
}
.sub_news_duc .lst_dsnews_duc .item_news_duc .information_new_duc .btn_chitiet_duc:hover
{
    color:#fff;
    background:#ef0f29 url('../images/icon_chitiet_hv.png') no-repeat right 27px center;
    border:1px solid #ca051c;
}
.sub_news_duc .lst_dsnews_duc .slick-prev,
.sub_news_duc .lst_dsnews_duc .slick-next
{
    width: 50px;
    height: 50px;
    max-width: 50px;
    border:1px solid #9d847c;
    opacity: 1;
    top: 25%;
    border-radius:50%;
    font-size: 0;
    z-index: 99999;
}
.sub_news_duc .lst_dsnews_duc .slick-prev
{
    left:-50px;
    background:url('../images/nutslidetrai2.png') no-repeat center;
}
.sub_news_duc .lst_dsnews_duc .slick-next
{
    right:-50px;
    background:url('../images/nutslidephai2.png') no-repeat center;
}
.submenu_flexleft
{
    margin:0;
    padding:0;
    position: fixed;
    top: 15%;
    right: 0;
    z-index: 1030;
    overflow:hidden;
    display:block;
}
.submenu_flexleft .navbar-nav
{
    width:100%;
    overflow:hidden;
}
.submenu_flexleft .navbar-nav .nav-item
{
    display: block;
    border-bottom: 1px solid #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateX(calc(100% - 40px));
    transform: translateX(calc(100% - 40px));
}
.submenu_flexleft .navbar-nav .nav-item:last-child
{
    border-bottom:none;
}
.submenu_flexleft .navbar-nav .nav-item:hover
{
    -webkit-transform: translateX(0);
    transform: translateX(0);
    border:none;
}
.submenu_flexleft .navbar-nav .nav-item .nav-link
{
    width:auto;
    position:relative;
    padding:0;
    padding-left: 45px;
    padding-right:15px;
    height: 40px;
    line-height:40px;
    color: #fff;
    background: rgba(248,180,49, 0.6);
    font-family: OpenSansSemibold;
    font-size: 18px;
    display: block;
    text-decoration: none;
}
.submenu_flexleft .navbar-nav .nav-item:hover .nav-link
{
    background:rgba(68,20,5,0.6);
    color:#f8b431;
}
.submenu_flexleft .navbar-nav .nav-item .nav-link:before
{
    content:"";
    width:40px;
    height:40px;
    position:absolute;
    z-index:10;
    top:0;
    left:0;
    background-position:center;
    background-repeat:no-repeat;
    background-size:60% 60%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.submenu_flexleft .navbar-nav .nav-item.icon_overview_duc .nav-link:before
{
    background-image:url('../images/icon_menu01.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_overview_duc:hover .nav-link:before
{
    background-image:url('../images/icon_menu01_hv.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_location_duc .nav-link:before
{
    background-image:url('../images/icon_menu02.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_location_duc:hover .nav-link:before
{
    background-image:url('../images/icon_menu02_hv.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_utilities_duc .nav-link:before
{
    background-image:url('../images/icon_menu03.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_utilities_duc:hover .nav-link:before
{
    background-image:url('../images/icon_menu03_hv.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_video_duc .nav-link:before
{
    background-image:url('../images/icon_menu04.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_video_duc:hover .nav-link:before
{
    background-image:url('../images/icon_menu04_hv.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_progress_duc .nav-link:before
{
    background-image:url('../images/icon_menu05.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_progress_duc:hover .nav-link:before
{
    background-image:url('../images/icon_menu05_hv.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_policy_duc .nav-link:before
{
    background-image:url('../images/icon_menu06.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_policy_duc:hover .nav-link:before
{
    background-image:url('../images/icon_menu06_hv.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_image_duc .nav-link:before
{
    background-image:url('../images/icon_menu07.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_image_duc:hover .nav-link:before
{
    background-image:url('../images/icon_menu07_hv.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_news_duc .nav-link:before
{
    background-image:url('../images/icon_menu08.png');
}
.submenu_flexleft .navbar-nav .nav-item.icon_news_duc:hover .nav-link:before
{
    background-image:url('../images/icon_menu08_hv.png');
}


@media screen and (max-width: 1920px)
{
    .sub_project_overview .subtongquanduan .list_cate .note_list
    {
        width:80%;
    }
    .sub_project_progress .lst_dsprogress .item_dsprogress:nth-child(2n)
    {
        margin-top:90px;
    }
    .sub_project_location .list_cate .title_listcate
    {
        font-size: 48px;
        line-height:75px;
    }
    .sub_project_utility .sub_utility .list_cate .title_listcate
    {
        font-size: 48px;
        line-height:75px;
    }
    .sub_project_location .lstdsvitri_duan .item_dsvitriduan
    {
        margin-top:10px;
        margin-bottom:10px;
    }
    .sub_project_location .lstdsvitri_duan
    {
        margin-top: 40px;
    }
}
@media screen and (max-width: 1700px)
{
    .sub_project_progress .lst_dsprogress .item_dsprogress:nth-child(2n)
    {
        margin-top:45px;
    }
    .sub_project_location .lstdsvitri_duan
    {
        margin-top: 30px;
    }
}
@media screen and (max-width: 1500px)
{
    .sub_project_overview .subtongquanduan .list_cate .note_list
    {
        width:96%;
    }
    .sub_project_location .list_cate .title_listcate
    {
        font-size: 44px;
        line-height:60px;
    }
    .sub_project_utility .sub_utility .list_cate .title_listcate
    {
        font-size: 44px;
        line-height:60px;
    }
    .sub_project_progress .lst_dsprogress .item_dsprogress:nth-child(2n)
    {
        margin-top:30px;
    }
    .sub_project_location .lstdsvitri_duan .item_dsvitriduan
    {
        margin-top:5px;
        margin-bottom:5px;
    }
    .sub_project_location .lstdsvitri_duan
    {
        margin-top: 20px;
    }
}
@media screen and (max-width: 1199px)
{
    .sub_news_duc
    {
        display:block;
    }
    .sub_news_duc .lst_dsnews_duc .slick-prev,
    .sub_news_duc .lst_dsnews_duc .slick-next
    {
        border:1px solid #fff;
    }
    .sub_news_duc .lst_dsnews_duc .slick-next
    {
        right:15px;
        background:rgba(255,255,255,0.6) url('../images/nutslidephai2.png') no-repeat center;
    }
    .sub_news_duc .lst_dsnews_duc .slick-prev
    {
        left:15px;
        background:rgba(255,255,255,0.6) url('../images/nutslidetrai2.png') no-repeat center;
    }
    .sub_project_overview
    {
        height:600px;
    }
    .sub_project_overview .subtongquanduan .lstdsduan .item_dstongquanduan .ngoaia .title_tqda
    {
        font-size:16px;
    }
    .sub_project_overview .subtongquanduan .lstdsduan .item_dstongquanduan .ngoaia
    {
        height:auto;
    }
    .sub_project_overview .subtongquanduan .lstdsduan .item_dstongquanduan .note_tqda
    {
        font-size:15px;
        line-height:20px;
        height:auto;
    }
    .sub_project_overview .col-lg-5
    {
        display:none;
    }
    .sub_project_overview .overview_right
    {
        max-width: 100%;
        flex: 100%;
    }
    .sub_project_overview .overview_right:before
    {
        right:0;
        top:-45px;
        height: 883.41px;
    }
    .sub_project_overview .subtongquanduan
    {
        right:20px;
        top:-40px;
        height: 823.41px;
    }
    .sub_project_location .col-lg-5
    {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sub_project_location .col-lg-7
    {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sub_project_location
    {
        background-image: url(../images/tiendo01.png);
    }
    .content .list_cate .title_listcate
    {
        font-size: 48px;
        line-height: 75px;
    }
    .content .list_cate .note_list
    {
        font-size:18px;
        line-height:24px;
    }
    .sub_project_location .lstdsvitri_duan .item_dsvitriduan .project_information .ngoaia .title_vtda
    {
        font-size:26px;
        line-height:36px;
    }
    .sub_project_location .lstdsvitri_duan .item_dsvitriduan .project_information .note_vtda
    {
        font-size:18px;
        line-height:24px;
    }
    .sub_project_utility  .col-lg-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sub_project_utility .row
    {
        flex-direction: column-reverse;
    }
    .sub_project_utility .utility_right
    {
        width:calc(100% - 60px);
        margin:auto;
    }
    .sub_project_utility .utility_left
    {
        margin-top:25px;
    }
    .sub_project_utility .utility_left .lst_left_tienich
    {
        right:10%;
    }
    .sub_project_progress .list_cate .note_list
    {
        width:90%;
    }
    .sub_project_progress .lst_dsprogress
    {
        background:none;
        padding: 10px 20px;
    }
    .sub_project_progress .lst_dsprogress .item_dsprogress:nth-child(2n)
    {
        display:block;
        margin-top:0;
    }
    .sub_price_policy
    {
        background-position: right;
    }
}
@media screen and (max-width: 991px)
{
    .wrap_top_header
    {
        display:none;
    }
    .sub_project_overview
    {
        height:auto;
        background-size: cover;
    }
    .sub_project_overview .overview_right:before
    {
        border-radius:0;
        height:100%;
        top:0;
    }
    .sub_project_overview .subtongquanduan
    {
        width:calc(100% - 20px);
        border-radius:0;
        height:auto;
        top:0;
        right:0;
        position:relative;
        padding:30px;
    }
    .sub_project_utility
    {
        background-size: cover;
    }
}
@media screen and (max-width: 767px)
{
    .content .list_cate .title_listcate
    {
        font-size:42px;
        line-height:65px;
    }
    .content .list_cate .note_list
    {
        font-size: 15px;
        line-height: 20px;
    }
    .sub_project_overview .subtongquanduan .lstdsduan .item_dstongquanduan
    {
            width: calc((100% - 10px)/2);
    }
    .sub_project_overview .subtongquanduan .lstdsduan .item_dstongquanduan:nth-child(3n)
    {
        margin-right: 10px;
    }
    .sub_project_overview .subtongquanduan .lstdsduan .item_dstongquanduan:nth-child(2n)
    {
        margin-right:0;
    }
    .sub_project_location .sub_location_left
    {
        padding:20px 0 30px;
    }
    .sub_project_location .list_cate
    {
        width:calc(100% - 20px);
        margin:auto;
    }
    .sub_project_location .lstdsvitri_duan
    {
        width: calc(100% - 30px);
        margin:auto;
        margin-top:20px;
    }
    .sub_project_location .lstdsvitri_duan .item_dsvitriduan .project_information .ngoaia .title_vtda {
        font-size: 20px;
        line-height: 28px;
    }
    .sub_project_location .lstdsvitri_duan .item_dsvitriduan .project_information .note_vtda {
        font-size: 15px;
        line-height: 20px;
    }
    .sub_project_utility
    {
        padding: 30px 0 100px;
    }
    .sub_project_utility .sub_utility .list_cate .title_listcate
    {
        font-size: 42px;
        line-height: 65px;
    }
    .sub_project_utility .utility_left
    {
        min-height: 560px;
    }
    .sub_project_utility .utility_left .lst_left_tienich
    {
        width: 550px;
        height: 560px;
        right:10px;
        background-size: 65%;
    }
    .sub_project_utility .utility_right
    {
        width: calc(100% - 20px);
        margin: auto;
    }
    .sub_project_utility .sub_utility .lstdsutility .itemdsutility
    {
        width:50%;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich
    {
        width: 110px;
        height: 110px;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich07
    {
        width: 190px;
        height: 190px;
        top: 184px;
        right: 192px;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich01
    {
        top: 120px;
        left: 73px;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich02
    {
        width: 140px;
        height: 140px;
        top: 67px;
        right: 100px;  
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich03
    {
        top: 238px;
        right: 60px;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich04
    {
        top: 356px;
        right: 128px;
        display:block;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich05
    {
        top: 390px;
        right: 286px;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich06
    {
        width: 140px;
        height: 140px;
        top: 280px;
        left: 21px;
    }
    .sub_project_progress .lst_dsprogress .item_dsprogress
    {
        width:100%;
        margin-bottom:30px;
    }
    .sub_project_progress .lst_dsprogress .item_dsprogress:nth-child(2n) .progress_information
    {
         margin-bottom: 0; 
    }
    .sub_project_progress .buttom_progress
    {
        margin-top:20px;
    }
    .sub_project_progress
    {
        padding: 30px 0;
    }
    .sub_video_image
    {
        padding: 30px 0 40px;
    }
    .sub_video_image .lst_image_project,
    .sub_video_image .lst_video_project
    {
        margin-top: 25px;
    }
    .sub_price_policy
    {
        padding: 70px 0px 75px;
        background-position: right -200px center;
    }
    .footer
    {
        margin-top: 190px;
    }
    .sub_news_duc
    {
        padding: 30px 0 50px;
    }
    .sub_price_policy .sub_policy .note_policy
    {
        height: 123px;
        overflow: hidden;
        transition: height 0.7s;
        -webkit-transition: height 0.7s;
    }
    .sub_price_policy .sub_policy.active .note_policy
    {
        height:auto;
        transition: height 0.7s;
        -webkit-transition: height 0.7s;
    }
    .sub_price_policy .sub_policy .btn_seemore_policy
    {
        display:inline-block;
        font-family: OpenSansBold;
        font-size: 16px;
        color: #fff;
        line-height: 24px;
        padding: 10px 30px 6px;
        background: #ef0f29;
        text-transform: uppercase;
        border-radius: 25px;
        transition: 1s all;
        margin-top:20px;
    }
    .sub_price_policy .sub_policy .btn_seemore_policy .close_compact
    {
        display:none;
    }
    .sub_price_policy .sub_policy.active .btn_seemore_policy .open_seemore
    {
        display:none;
    }
    .sub_price_policy .sub_policy.active .btn_seemore_policy .close_compact
    {
        display:inline-block;
    }
    .submenu_flexleft
    {
        width:40px;
    }
    .sub_price_policy{
        background-attachment: unset;
    }
}
@media screen and (max-width: 575px)
{

    .sub_project_location
    {
        background-image: url(../images/tiendo01.png);
        background-size: cover;
    }
    .sub_project_location .row
    {
        border-radius: 30px;background: #48433940;
    }
    #slide_landingpage
    {
        margin-top:67.55px;
    }
    .mainslide .slick-dots
    {
        bottom: 10px;
    }
    .sub_project_overview .subtongquanduan
    {
        width:100%;
        padding:10px 0 30px 0;
        border-radius: 85px;
        background-color: rgba(255,255,255,0.6);
    }
    .content .list_cate .title_listcate
    {
        font-size: 30px;
        line-height: 45px;
    }
    .content .list_cate .note_list
    {
        font-size: 14px;
        line-height: 18px;
    }
    .sub_project_overview .subtongquanduan .lstdsduan .item_dstongquanduan .ngoaia .title_tqda
    {
        font-size: 14px;
    }
    .sub_project_overview .subtongquanduan .lstdsduan .item_dstongquanduan .note_tqda
    {
        font-size: 14px;
        line-height: 18px;
        height: auto;
    }
    .sub_project_location .lstdsvitri_duan .item_dsvitriduan
    {
        width:100%;
    }
    .sub_project_utility .sub_utility .list_cate .title_listcate
    {
        font-size: 30px;
        line-height: 45px;
    }
    .sub_project_utility .sub_utility .lstdsutility .itemdsutility .ngoaia
    {
        height:auto;
    }
    .sub_project_utility .sub_utility .lstdsutility .itemdsutility .ngoaia .title_tida
    {
        font-size: 15px;
        line-height: 22px;
    }
    .sub_project_utility .utility_left .lst_left_tienich
    {
        width: 300px;
        height: 310px;
        background-size: 70%;
        right: 0;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich
    {
        width: 65px;
        height: 65px;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich .frames_mages
    {
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        margin-left: 3px;
        margin-top: 3px;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich .frames_mages .frames_mages_Crop
    {
        top: 3px;
        left: 3px;
        width: calc(100% - 6px);
        height: calc(100% - 6px);
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich07
    {
        width: 110px;
        height: 110px;
        top: 99px;
        right: 102px;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich01
    {
        top: 60px;
        left: 30px;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich02
    {
        width: 85px;
        height: 85px;
        top: 28px;
        right: 45px;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich03
    {
        top: 127px;
        right: 25px;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich04
    {
        top: 200px;
        right: 62px;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich05
    {
        top: 217px;
        right: 153px;
    }
    .sub_project_utility .utility_left .lst_left_tienich .item_bieudotienich.tienich06
    {
        width: 85px;
        height: 85px;
        top: 152px;
        left: -2px;
    }
    .sub_project_utility
    {
        padding: 20px 0 40px;
    }
    .sub_project_utility .utility_left
    {
        min-height: 310px;
    }
    .sub_project_progress .lst_dsprogress .item_dsprogress
    {
        padding:0 5px;
    }
    .sub_project_progress .lst_dsprogress .item_dsprogress .progress_information
    {
        margin-top: 15px;
    }
    .sub_project_progress .lst_dsprogress .item_dsprogress .progress_information .ngoaia .title_tdda
    {
        font-size: 18px;
        line-height: 22px;
    }
    .sub_project_progress .lst_dsprogress .item_dsprogress .progress_information .note_tdda
    {
        margin-top:10px;
        line-height:20px;
        max-height:none;
    }
    .sub_project_progress .buttom_progress
    {
        margin-top: 0;
    }
    .sub_project_progress .buttom_progress .btn_receive_information
    {
        font-size: 15px;
        padding: 10px 30px 8px;
    }
    .sub_video_image
    {
        background-size: 100% 172px;
    }
    .sub_video_image .lst_image_project,
    .sub_video_image .lst_video_project
    {
        margin-top: 15px;
    }
    .sub_price_policy .sub_policy
    {
        padding: 10px 0 35px;
        width: 100%;
    }
    .sub_price_policy .sub_policy::after
    {
        background: url(../images/banner_d9.png) repeat center;
    }
    .sub_price_policy .sub_policy .note_policy
    {
        width:100%;
    }
    .sub_price_policy
    {
        background-position: right -140px center;
    }
}