@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important; }
  a:hover {
    text-decoration: none;
    outline: none;
    background: transparent; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: utm;
  src: url("../fonts/UTM HelvetIns.ttf"); }
@font-face {
  font-family: open-regula;
  src: url("../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: open-semi;
  src: url("../fonts/OpenSans-SemiBold.ttf"); }
@font-face {
  font-family: open-ex;
  src: url("../fonts/OpenSans-ExtraBold.ttf"); }
@font-face {
  font-family: open-bold;
  src: url("../fonts/OpenSans-Bold.ttf"); }
body {
  font-family: 'open-regula';
  overflow-x: hidden; }

/* ------------- header -------------------- */
.header {
  background-image: url("../images/banner1.webp");
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 800px; }

.wrap_top_header {
  background: #270b03; }
  .wrap_top_header .main_info {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between; }
    .wrap_top_header .main_info .left_info, .wrap_top_header .main_info .right_info {
      display: flex; }
      .wrap_top_header .main_info .left_info p, .wrap_top_header .main_info .right_info p {
        color: #f8b431;
        padding-right: 30px;
        font-size: 14px; }
        .wrap_top_header .main_info .left_info p i, .wrap_top_header .main_info .right_info p i {
          font-size: 16px;
          padding-right: 3px; }
        .wrap_top_header .main_info .left_info p a, .wrap_top_header .main_info .right_info p a {
          color: #f8b431;
          font-size: 16px;
          padding: 0px 3px; }
          .wrap_top_header .main_info .left_info p a:hover, .wrap_top_header .main_info .right_info p a:hover {
            color: #f8b431; }
    .wrap_top_header .main_info .right_info p {
      padding-right: 0; }

.wrap_bot_header.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #000000d9;
  z-index: 9999;
  transition: 0.5s all; }

.wrap_bot_header.active .main_wrap nav.navbar ul li a .logo {
  padding: 8px 10px;
  text-align: center;
  transition: 0.5s all; }

.wrap_bot_header.active .main_wrap nav.navbar ul li a .logo img {
  width: 70%;
  transition: 0.5s all; }

.wrap_bot_header {
  border-bottom: 3px solid #f8b431;
  background-color: #00000045;
  transition: 0.5s all; }
  .wrap_bot_header .main_wrap {
    display: flex;
    align-items: baseline;
    justify-content: center; }
    .wrap_bot_header .main_wrap nav.navbar {
      padding: 0; }
      .wrap_bot_header .main_wrap nav.navbar ul {
        align-items: baseline; }
        .wrap_bot_header .main_wrap nav.navbar ul li {
          padding: 0px 11px; }
          .wrap_bot_header .main_wrap nav.navbar ul li:first-child {
            padding-left: 0; }
          .wrap_bot_header .main_wrap nav.navbar ul li a {
            font-size: 16px;
            color: white;
            text-transform: capitalize;
            padding: 0;
            font-family: 'open-semi'; }
            .wrap_bot_header .main_wrap nav.navbar ul li a .logo {
              display: inline-block;
              padding: 15px 10px;
              transition: 0.5s all;
              text-align: center; }
              .wrap_bot_header .main_wrap nav.navbar ul li a .logo img {
                transition: 0.5s all; }
    .wrap_bot_header .main_wrap .position_right button.click_seach {
      font-size: 18px;
      color: white;
      cursor: pointer;
      background: none;
      border: 0;
      outline: 0;
      padding: 0px 15px; }
    .wrap_bot_header .main_wrap .position_right a.login_project {
      font-size: 14px;
      color: white;
      background: #f8b431;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
      padding: 6px 20px;
      border-radius: 40px;
      font-family: 'open-ex';
      margin-left: 10px; }

.info_index_banner {
  text-align: center;
  padding: 160px 0px;
  height: 100%; }
  .info_index_banner .info h1 {
    color: white;
    font-size: 52px;
    text-transform: uppercase;
    font-family: 'open-ex';
    padding-bottom: 20px; }
  .info_index_banner .info p {
    color: white;
    font-family: open-semi;
    display: inline-block;
    font-size: 16px;
    padding-bottom: 30px; }
  .info_index_banner .info .group_button a.one, .info_index_banner .info .group_button a.two {
    padding: 10px 40px;
    position: relative;
    color: white;
    font-size: 18px;
    font-family: 'open-ex';
    border: 3px solid white;
    border-radius: 4px;
    display: inline-block;
    margin-right: 27px;
    z-index: 3;
    letter-spacing: 1px;
    overflow: hidden; }
  .info_index_banner .info .group_button a.one:hover {
    color: #f8b431;
    transition: 0.3s all;
    border: 3px solid #f8b431; }
  .info_index_banner .info .group_button a.one:hover::before {
    -webkit-transform: translateX(-30%);
    transform: translateX(-30%); }
  .info_index_banner .info .group_button a.one:hover::after {
    -webkit-transform: translateX(30%);
    transform: translateX(35%); }
  .info_index_banner .info .group_button a.one::before {
    border-right: 40px solid transparent;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    box-sizing: border-box;
    right: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
    left: 0;
    border-top: 24px solid #270b03;
    border-bottom: 24px solid #270b03; }
  .info_index_banner .info .group_button a.one::after {
    border-left: 40px solid transparent;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    border-top: 24px solid #270b03;
    border-bottom: 24px solid #270b03; }
  .info_index_banner .info .group_button a.two {
    background: #f8b431;
    border: 3px solid #f8b431;
    margin-right: 0;
    overflow: hidden;
    position: relative; }

.info_index_banner .info .group_button a.two::before, .info_index_banner .info .group_button a.two::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: 0.5s ease-in-out; }

.info_index_banner .info .group_button a.two::before {
  bottom: 0;
  left: 0;
  border-color: transparent transparent transparent #270b03;
  transition: 0.5s ease-in-out;
  z-index: -1; }

.info_index_banner .info .group_button a.two::after {
  top: 0;
  right: 0;
  border-color: transparent #270b03 transparent transparent;
  transition: 0.5s ease-in-out;
  z-index: -1; }

.info_index_banner .info .group_button a.two:hover::before, .info_index_banner .info .group_button a.two:hover::after {
  border-width: 40px 240.5px;
  transition: 0.5s ease-in-out; }

.wrap_menu_mobile {
  display: none; }

/* menu mobile */
.click_out {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8); }

.open-nav {
  font-size: 30px;
  z-index: 99;
  cursor: pointer;
  display: inline-block;
  line-height: 1.1;
  color: #ebf82a; }

#menu-mobile {
  background: #542f2f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 300px;
  height: 100%;
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  transform: translateX(-300px);
  transition: all 0.4s;
  overflow: auto; }
  #menu-mobile .far.fa-window-close {
    color: black !important;
    font-size: 28px !important;
    cursor: pointer; }
  #menu-mobile .nav_mobile {
    padding: 20px 15px; }
    #menu-mobile .nav_mobile .top {
      border-bottom: 1px solid #eee;
      padding-bottom: 10px; }
      #menu-mobile .nav_mobile .top .fa.fa-times.click_bg {
        font-size: 27px;
        float: right;
        cursor: pointer;
        color: white;
        padding-top: 13px; }
    #menu-mobile .nav_mobile ul {
      list-style: none;
      padding-top: 10px;
      overflow: auto;
      display: block; }
      #menu-mobile .nav_mobile ul li {
        clear: both;
        position: relative; }
        #menu-mobile .nav_mobile ul li:first-child {
          border: none; }
        #menu-mobile .nav_mobile ul li a {
          color: white;
          padding: 12px 0;
          display: block;
          font-size: 14px;
          text-transform: uppercase; }
          #menu-mobile .nav_mobile ul li a:hover {
            color: #0556c0; }
        #menu-mobile .nav_mobile ul li .sub-menu {
          padding: 0;
          max-height: 0;
          transition: all 0.5s;
          overflow: hidden; }
          #menu-mobile .nav_mobile ul li .sub-menu li:first-child {
            border-top: 0; }
          #menu-mobile .nav_mobile ul li .sub-menu li a {
            padding-left: 20px;
            display: inline-block; }
          #menu-mobile .nav_mobile ul li .sub-menu .sub-menu {
            max-height: 0;
            overflow: hidden; }
            #menu-mobile .nav_mobile ul li .sub-menu .sub-menu a {
              padding-left: 40px; }
      #menu-mobile .nav_mobile ul .active a {
        /* color: $color_cam; */ }
    #menu-mobile .nav_mobile .user-nav-mb span {
      width: 50%;
      float: left; }
      #menu-mobile .nav_mobile .user-nav-mb span i {
        margin-right: 10px;
        color: white; }
      #menu-mobile .nav_mobile .user-nav-mb span a {
        color: white; }
  #menu-mobile .accordion {
    color: #474747;
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 15px;
    transition: all 0.4s;
    position: absolute;
    top: 0;
    right: 0;
    background: #F2F2F2;
    width: 38px;
    height: 38px;
    line-height: 38px; }
    #menu-mobile .accordion:focus {
      outline: none; }
  #menu-mobile .accordion::after {
    content: "\f107";
    font-family: "FontAwesome";
    color: #474747;
    font-weight: bold; }
  #menu-mobile .accordion.active::after {
    content: "\f106";
    font-family: "FontAwesome"; }

.wrap_menu_mobile {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #441503;
  -webkit-background-color: #3b0505e6;
  -moz-background-color: #3b0505e6; }
  .wrap_menu_mobile .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px; }
    .wrap_menu_mobile .info .logo {
      text-align: right; }
      .wrap_menu_mobile .info .logo img {
        width: 70%; }

/* == End menu mobile */
/* -------- pop up ---- */
div#myModal .modal-content, div#myModal2 .modal-content, div#myModal3 .modal-content, div#myModal4 .modal-content, div#myModal5 .modal-content {
  background: #f8b431;
  border: 4px solid white;
  border-radius: 0;
  padding: 35px; }
  div#myModal .modal-content button.close, div#myModal2 .modal-content button.close, div#myModal3 .modal-content button.close, div#myModal4 .modal-content button.close, div#myModal5 .modal-content button.close {
    position: absolute;
    right: -2%;
    top: -4%;
    font-size: 22px;
    color: red;
    background-color: white !important;
    background: white;
    border-radius: 50%;
    opacity: 1;
    width: 28px;
    line-height: 25px;
    height: 28px;
    font-weight: bold; }
  div#myModal .modal-content .indext h3, div#myModal2 .modal-content .indext h3, div#myModal3 .modal-content .indext h3, div#myModal4 .modal-content .indext h3, div#myModal5 .modal-content .indext h3 {
    font-size: 22px;
    color: white;
    font-family: 'open-bold';
    padding-bottom: 2px; }
  div#myModal .modal-content .indext p, div#myModal2 .modal-content .indext p, div#myModal3 .modal-content .indext p, div#myModal4 .modal-content .indext p, div#myModal5 .modal-content .indext p {
    color: white;
    font-size: 16px;
    font-family: 'open-semi';
    padding-bottom: 20px; }
  div#myModal .modal-content .indext ul, div#myModal2 .modal-content .indext ul, div#myModal3 .modal-content .indext ul, div#myModal4 .modal-content .indext ul, div#myModal5 .modal-content .indext ul {
    padding-left: 18px;
    text-align: left; }
    div#myModal .modal-content .indext ul li, div#myModal2 .modal-content .indext ul li, div#myModal3 .modal-content .indext ul li, div#myModal4 .modal-content .indext ul li, div#myModal5 .modal-content .indext ul li {
      color: white;
      font-size: 16px;
      padding-bottom: 8px; }
  div#myModal .modal-content .form_contact h3, div#myModal2 .modal-content .form_contact h3, div#myModal3 .modal-content .form_contact h3, div#myModal4 .modal-content .form_contact h3, div#myModal5 .modal-content .form_contact h3 {
    font-size: 22px;
    color: white;
    font-family: 'open-bold';
    padding-bottom: 36px; }
  div#myModal .modal-content .form_contact form input, div#myModal2 .modal-content .form_contact form input, div#myModal3 .modal-content .form_contact form input, div#myModal4 .modal-content .form_contact form input, div#myModal5 .modal-content .form_contact form input {
    width: 100%;
    background: white;
    border: 0;
    outline: none;
    padding: 8px 15px;
    font-size: 15px;
    margin-bottom: 12px; }
  div#myModal .modal-content .form_contact form button, div#myModal2 .modal-content .form_contact form button, div#myModal3 .modal-content .form_contact form button, div#myModal4 .modal-content .form_contact form button, div#myModal5 .modal-content .form_contact form button {
    width: 100%;
    text-align: center;
    background: white;
    border: 0;
    font-size: 15px;
    padding: 8px 15px;
    color: #b50303;
    font-family: 'open-semi';
    cursor: pointer; }

.modal {
  top: 22%; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto; } }
/* -------- pop up ---- */
/* ------------- header -------------------- */
/* -------------- Footer ---------------------- */
.footer {
  width: 100%;
  background-size: cover;
  background-color: #441503;
  padding: 70px 0px 50px;
  position: relative;
  margin-top: 180px; }
  .footer::before {
    content: '';
    background-image: url("../images/bg_ft.webp");
    position: absolute;
    left: 0;
    bottom: 100%;
    height: 185px;
    width: 100%; }
  .footer .info .col_st h3 {
    font-size: 24px;
    color: #e1a338;
    text-transform: uppercase;
    font-family: 'utm';
    padding-bottom: 40px; }
  .footer .info .col_st h5 {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-family: 'open-bold';
    padding-bottom: 22px; }
  .footer .info .col_st .logo_ft {
    padding-bottom: 20px; }
  .footer .info .col_st p {
    font-size: 15px;
    color: #f9c3b2; }
  .footer .info .col_st ul.address {
    margin: 0;
    padding-bottom: 20px; }
    .footer .info .col_st ul.address li {
      list-style: none; }
      .footer .info .col_st ul.address li p {
        padding-bottom: 15px; }
        .footer .info .col_st ul.address li p i {
          font-size: 18px;
          color: white; }
        .footer .info .col_st ul.address li p span {
          display: block;
          padding-left: 28px;
          margin-top: -22px;
          font-size: 14px; }
  .footer .info .col_st ul.isocial {
    margin: 0; }
    .footer .info .col_st ul.isocial li {
      display: inline-block;
      list-style: none;
      margin-right: 13px; }
      .footer .info .col_st ul.isocial li a.btn_icon {
        font-size: 18px;
        color: #270b03;
        background: white;
        border-radius: 50%;
        width: 39px;
        height: 39px;
        display: inline-block;
        text-align: center;
        line-height: 39px; }

.copy_right {
  background: #270b03;
  padding: 10px 0px;
  text-align: center; }
  .copy_right .info p {
    color: #e4c5c5;
    font-size: 11px; }

.scrolltop a {
  font-size: 25px;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  background-color: #1b0802ba;
  position: fixed;
  bottom: 10%;
  right: 28px;
  z-index: 9999;
  transition: .5s;
  cursor: pointer;
  display: none; }
  .scrolltop a:hover {
    background: #1b0802; }

/* -------------- Footer ---------------------- */
/* ------------- home ----------------------- */
.title_all {
  text-align: center; }
  .title_all h2 {
    color: #f8b431;
    font-family: 'open-ex';
    font-size: 36px;
    padding-bottom: 35px;
    text-transform: uppercase;
    position: relative; }
    .title_all h2::before {
      content: '';
      background: #ebebeb;
      height: 3px;
      width: 140px;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%); }
    .title_all h2::after {
      content: '';
      background: #f8b431;
      height: 5px;
      width: 50px;
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%); }

.wrap_section_top .info .main_product .info_product .index .dot_content.active p {
  display: inline-block;
  transition: 0.5s all; }

.wrap_section_top {
  padding: 80px 0px 100px; }
  .wrap_section_top .info .main_product {
    padding-top: 50px; }
    .wrap_section_top .info .main_product .info_product .row > [class*='col-'] {
      padding: 0; }
    .wrap_section_top .info .main_product .info_product .index {
      padding: 20px 50px; }
      .wrap_section_top .info .main_product .info_product .index .dot_content {
        border-bottom: 1px solid #dddfdf; }
        .wrap_section_top .info .main_product .info_product .index .dot_content p {
          font-size: 15px;
          color: #313131;
          padding: 20px 0px;
          display: none;
          transition: 0.5s all; }
          .wrap_section_top .info .main_product .info_product .index .dot_content p:first-child {
            display: inline-block; }
      .wrap_section_top .info .main_product .info_product .index a {
        color: #2b110a;
        margin-top: 20px;
        font-size: 16px;
        font-family: 'open-semi';
        background: #f1e1ca;
        display: inline-block;
        padding: 5px 20px;
        border-radius: 5px; }
        .wrap_section_top .info .main_product .info_product .index a i {
          padding: 0px 5px; }
        .wrap_section_top .info .main_product .info_product .index a::before {
          content: 'Đọc thêm'; }
      .wrap_section_top .info .main_product .info_product .index a.load_more.active {
        margin-bottom: 30px; }
        .wrap_section_top .info .main_product .info_product .index a.load_more.active i {
          transform: rotate(180deg); }
        .wrap_section_top .info .main_product .info_product .index a.load_more.active::before {
          content: 'Thu gọn'; }

h3.title_product {
  color: #f8b431;
  font-size: 24px;
  font-family: 'open-bold';
  position: relative;
  padding-bottom: 18px; }
  h3.title_product::before {
    content: '';
    position: absolute;
    height: 2px;
    background: #ebebeb;
    width: 17%;
    left: 0;
    bottom: 0; }
  h3.title_product::after {
    content: '';
    position: absolute;
    height: 3px;
    background: #f8b431;
    width: 9%;
    left: 0;
    bottom: 0px; }

.wrap_section_two {
  background-image: url("../images/banner2.webp");
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 480px;
  position: relative;
  margin-bottom: 78px; }
  .wrap_section_two::before {
    content: '';
    background: #00000080;
    width: 40%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .wrap_section_two .info_main .left_info {
    padding-top: 50px;
    padding-bottom: 45px; }
    .wrap_section_two .info_main .left_info .title_all h2 {
      text-align: left; }
    .wrap_section_two .info_main .left_info .index_info {
      padding-top: 30px; }
      .wrap_section_two .info_main .left_info .index_info p {
        font-size: 16px;
        color: white;
        padding-bottom: 20px; }
        .wrap_section_two .info_main .left_info .index_info p:last-child {
          padding-bottom: 0; }
  .wrap_section_two .info_main .right_info {
    background-color: #ffffffba;
    padding: 40px 30px 10px 30px;
    margin-top: 55px;
    margin-left: -8px; }
    .wrap_section_two .info_main .right_info h3.title {
      text-align: center;
      color: #161414;
      font-family: 'open-ex';
      font-size: 24px;
      text-transform: uppercase;
      padding-bottom: 40px; }
    .wrap_section_two .info_main .right_info .info_social {
      display: flex;
      width: 100%;
      margin-bottom: 30px; }
      .wrap_section_two .info_main .right_info .info_social .icon {
        width: 30%;
        text-align: center; }
      .wrap_section_two .info_main .right_info .info_social .caption {
        width: 70%;
        padding-left: 15px; }
        .wrap_section_two .info_main .right_info .info_social .caption h4 {
          font-size: 18px;
          color: #161414;
          font-family: 'open-bold';
          text-transform: uppercase;
          padding-bottom: 5px; }
        .wrap_section_two .info_main .right_info .info_social .caption p {
          font-size: 14px;
          color: #161414;
          font-family: 'open-semi'; }

.wrap_section_three {
  padding-bottom: 50px; }
  .wrap_section_three .index_info h3.title_product {
    margin-bottom: 35px;
    font-family: 'open-ex'; }
  .wrap_section_three .index_info p {
    color: #798083;
    font-size: 16px;
    padding-bottom: 30px; }
  .wrap_section_three .index_info ul {
    margin: 0; }
    .wrap_section_three .index_info ul li {
      list-style: none; }
      .wrap_section_three .index_info ul li p {
        padding-bottom: 10px; }
        .wrap_section_three .index_info ul li p::before {
          content: '\f219 ';
          font-family: 'FontAwesome';
          padding-right: 5px; }
  .wrap_section_three .images_album {
    display: flex;
    flex-wrap: wrap; }
    .wrap_section_three .images_album a {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      padding: 5px; }

.wrap_section_four {
  background-image: url("../images/banner3.webp");
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0px;
  margin-bottom: 80px; }
  .wrap_section_four .info_main {
    padding: 70px 0px;
    background: #0000007d; }
    .wrap_section_four .info_main .info_details {
      text-align: center; }
      .wrap_section_four .info_main .info_details p {
        font-size: 18px;
        color: white;
        padding: 40px 0px; }
      .wrap_section_four .info_main .info_details .group_button a.btn_one {
        margin-right: 20px; }
      .wrap_section_four .info_main .info_details .group_button .button_base {
        margin: 0;
        border: 0;
        position: relative;
        width: 200px;
        height: 50px;
        text-align: center;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-user-select: none;
        cursor: pointer;
        font-size: 18px;
        font-family: 'open-bold';
        display: inline-block; }
      .wrap_section_four .info_main .info_details .group_button .b05_3d_roll {
        perspective: 500px;
        -webkit-perspective: 500px;
        -moz-perspective: 500px; }
        .wrap_section_four .info_main .info_details .group_button .b05_3d_roll:hover div:nth-child(1) {
          color: #ffffff;
          transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          transform: rotateX(0deg);
          -webkit-transform: rotateX(0deg);
          -moz-transform: rotateX(0deg); }
        .wrap_section_four .info_main .info_details .group_button .b05_3d_roll:hover div:nth-child(2) {
          background-color: white;
          transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          transform: rotateX(-90deg);
          -webkit-transform: rotateX(-90deg);
          -moz-transform: rotateX(-90deg); }
        .wrap_section_four .info_main .info_details .group_button .b05_3d_roll div {
          position: absolute;
          text-align: center;
          width: 100%;
          height: 50px;
          padding: 10px;
          pointer-events: none;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box; }
          .wrap_section_four .info_main .info_details .group_button .b05_3d_roll div:nth-child(1) {
            color: #000000 !important;
            background-color: white;
            transform: rotateX(90deg);
            -webkit-transform: rotateX(90deg);
            -moz-transform: rotateX(90deg);
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            transform-origin: 50% 50% -25px;
            -webkit-transform-origin: 50% 50% -25px;
            -moz-transform-origin: 50% 50% -25px; }
          .wrap_section_four .info_main .info_details .group_button .b05_3d_roll div:nth-child(2) {
            color: white;
            background-color: #f8b431;
            transform: rotateX(0deg);
            -webkit-transform: rotateX(0deg);
            -moz-transform: rotateX(0deg);
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            transform-origin: 50% 50% -25px;
            -webkit-transform-origin: 50% 50% -25px;
            -moz-transform-origin: 50% 50% -25px; }

.wrap_section_five {
  padding-bottom: 90px; }
  .wrap_section_five .info .main_slide {
    padding-top: 60px; }
    .wrap_section_five .info .main_slide .custom_owl_1 .owl-dots {
      display: none; }
    .wrap_section_five .info .main_slide .custom_owl_1 .owl-nav {
      margin-top: 20px; }
      .wrap_section_five .info .main_slide .custom_owl_1 .owl-nav button.owl-prev, .wrap_section_five .info .main_slide .custom_owl_1 .owl-nav button.owl-next {
        border: 1px solid #f8b431 !important;
        color: #f8b431 !important;
        display: inline-block !important;
        font-size: 18px !important;
        margin: 0 !important;
        margin-right: 20px !important;
        border-radius: 0 !important;
        padding: 9px 35px !important;
        outline: none; }
    .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col {
      margin-bottom: 170px; }
      .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item {
        position: relative;
        margin-right: 10px;
        margin-left: 10px; }
        .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item:hover .cs-item-text-box {
          width: 100%;
          left: 0;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
        .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item:hover img {
          width: 100% !important;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
        .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item:hover .cs-item-text-box span.cs-my-btn {
          -ms-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item img {
          width: 81% !important;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          z-index: 9;
          position: relative; }
        .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item .cs-item-text-box {
          width: 320px;
          padding: 70px 20px 20px 20px;
          position: absolute;
          left: 20px;
          bottom: -155px;
          border: 2px solid #bce7f0;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
          .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item .cs-item-text-box span.cs-my-btn {
            background: #f8b431;
            color: #FFF;
            padding: 10px 15px;
            text-transform: uppercase;
            border: none;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            position: absolute;
            right: -20px;
            top: -45px;
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            z-index: 9; }
            .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item .cs-item-text-box span.cs-my-btn:hover {
              background: #264DC2;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
          .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item .cs-item-text-box h5 {
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 10px; }
            .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item .cs-item-text-box h5 a {
              color: #f8b431;
              -webkit-transition: all 0.4s ease-in-out;
              -moz-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              -ms-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out; }
          .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item .cs-item-text-box p {
            font-size: 15px;
            color: #878787; }

.owl-carousel .owl-nav {
  display: block !important; }

.wrap_section_six {
  background-image: url("../images/bg_1.webp");
  width: 100%;
  background-size: contain;
  background-position: center center;
  padding: 50px 0px;
  margin-bottom: 90px; }
  .wrap_section_six .info {
    display: flex;
    align-items: baseline;
    justify-content: center; }
    .wrap_section_six .info p {
      font-size: 22px;
      color: white;
      font-family: 'open-semi';
      padding-right: 30px; }
    .wrap_section_six .info a.btn_load_price_table {
      font-size: 24px;
      color: white;
      text-transform: uppercase;
      font-family: 'utm';
      display: inline-block;
      box-shadow: 0px 0px 15px white;
      border-radius: 5px;
      padding: 12px 30px;
      background: linear-gradient(to bottom, #fc4140, #ba1702); }

.wrap_section_seven {
  padding-bottom: 120px; }
  .wrap_section_seven .info .title_all h2 {
    margin-bottom: 55px; }
  .wrap_section_seven .info .info_left {
    background: #f8b431;
    padding: 40px 45px;
    text-align: center; }
    .wrap_section_seven .info .info_left h3 {
      font-size: 22px;
      color: white;
      font-family: 'utm';
      text-transform: uppercase;
      padding-bottom: 30px; }
    .wrap_section_seven .info .info_left form input {
      color: #878787;
      background: white;
      border: 0;
      padding: 10px;
      text-align: center;
      display: block;
      width: 100%;
      margin-bottom: 20px;
      border-radius: 4px;
      outline: none; }
    .wrap_section_seven .info .info_left form button {
      font-size: 17px;
      color: white;
      background: #f0432a;
      outline: none;
      cursor: pointer;
      border: 0;
      padding: 9px 33px;
      letter-spacing: 1px;
      border-radius: 4px;
      margin-top: 25px;
      font-family: 'utm';
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
      .wrap_section_seven .info .info_left form button::before {
        content: "";
        position: absolute;
        border-radius: 4px;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2098D1;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
      .wrap_section_seven .info .info_left form button:hover::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
  .wrap_section_seven .info .info_right iframe {
    width: 100%;
    height: 395px;
    border: none; }

.wrap_section_four.change_button {
  background: none;
  padding: 0;
  margin: 0; }
  .wrap_section_four.change_button .info_main {
    padding: 0;
    background: none; }

.show-mobile {
  display: none !important; }

/* ------------- End  home ----------------------- */
/* --------------- Contact ----------------------- */
.header.Contact_hd {
  background-image: url("../images/banner_contact.webp");
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 400px; }

.wrap_panigation_info .info {
  text-align: center;
  padding: 50px 0px; }
  .wrap_panigation_info .info h2 {
    font-size: 60px;
    color: white;
    font-family: 'open-ex';
    padding-bottom: 15px; }
  .wrap_panigation_info .info ul {
    margin: 0; }
    .wrap_panigation_info .info ul li {
      display: inline-block;
      list-style: none; }
      .wrap_panigation_info .info ul li::before {
        content: '/';
        padding: 0px 10px;
        color: white; }
      .wrap_panigation_info .info ul li:first-child::before {
        content: ''; }
      .wrap_panigation_info .info ul li a {
        font-size: 16px;
        color: white;
        font-family: 'open-semi'; }
    .wrap_panigation_info .info ul li.active a {
      color: #f8b431; }

.wrap_top_info_contact {
  padding: 90px 0px; }
  .wrap_top_info_contact .info_left iframe {
    border: 1px solid #f8b431;
    width: 100%;
    height: 400px; }
  .wrap_top_info_contact .right_info {
    padding-left: 20px; }
    .wrap_top_info_contact .right_info h3.title {
      color: #f8b431;
      font-family: 'open-ex';
      text-transform: uppercase;
      font-size: 24px;
      padding-top: 37px;
      padding-bottom: 35px; }
    .wrap_top_info_contact .right_info .index_info {
      padding: 40px 50px 40px 0px;
      position: relative; }
      .wrap_top_info_contact .right_info .index_info::before {
        content: '';
        border: 2px solid #bce7f0;
        height: 100%;
        width: 560px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1; }
      .wrap_top_info_contact .right_info .index_info p {
        color: #6f6f6f;
        font-size: 15px;
        padding-bottom: 30px; }
      .wrap_top_info_contact .right_info .index_info ul.address {
        margin: 0; }
        .wrap_top_info_contact .right_info .index_info ul.address li {
          list-style: none; }
          .wrap_top_info_contact .right_info .index_info ul.address li p {
            padding-bottom: 8px; }
            .wrap_top_info_contact .right_info .index_info ul.address li p i {
              font-size: 18px;
              color: #f8b431; }
            .wrap_top_info_contact .right_info .index_info ul.address li p span {
              display: block;
              padding-left: 28px;
              margin-top: -22px;
              font-size: 14px; }

.wrap_bot_info_contact {
  background: #f8b431;
  padding: 45px 0px 50px;
  margin-bottom: 70px; }
  .wrap_bot_info_contact .info_form {
    text-align: center; }
    .wrap_bot_info_contact .info_form h3 {
      font-size: 22px;
      text-transform: uppercase;
      font-family: 'utm';
      padding-bottom: 27px;
      color: white; }
    .wrap_bot_info_contact .info_form form .form-group {
      margin-bottom: 24px;
      width: 100%;
      display: flex; }
      .wrap_bot_info_contact .info_form form .form-group input {
        font-size: 14px;
        color: #878787;
        border: none;
        padding: 15px 30px;
        outline: none;
        margin-right: 24px;
        width: 50%; }
        .wrap_bot_info_contact .info_form form .form-group input:last-child {
          margin-right: 0px; }
    .wrap_bot_info_contact .info_form form textarea {
      width: 100%;
      padding: 15px 30px;
      outline: none;
      font-size: 14px;
      border: none;
      resize: none;
      margin-bottom: 33px; }
    .wrap_bot_info_contact .info_form form button {
      font-size: 17px;
      color: white;
      background: #f0432a;
      outline: none;
      cursor: pointer;
      border: 0;
      padding: 9px 33px;
      letter-spacing: 1px;
      border-radius: 4px;
      font-family: 'utm';
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
      .wrap_bot_info_contact .info_form form button::before {
        content: "";
        position: absolute;
        border-radius: 4px;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2098D1;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
      .wrap_bot_info_contact .info_form form button:hover::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }

.contact_wrap_main .wrap_section_four, .about_wrap_main .wrap_section_four, .blog_wrap_main .wrap_section_four {
  margin-bottom: 275px; }

/* --------------- End Contact ----------------------- */
/* ----------------- About ------------------------- */
.wrap_top_info_about {
  padding: 80px 0px 70px; }
  .wrap_top_info_about .info_img {
    box-shadow: 6px 8px 17px #808080ad; }
  .wrap_top_info_about .info_index p {
    font-size: 15px;
    color: #504f4f;
    padding-bottom: 28px; }

.wrap_bot_info_about {
  padding-bottom: 45px; }
  .wrap_bot_info_about .info_block {
    display: inline-block;
    width: 100%;
    padding-bottom: 50px; }
    .wrap_bot_info_about .info_block .icon_info {
      width: 22%;
      float: left; }
    .wrap_bot_info_about .info_block .index_info {
      float: left;
      width: 75%;
      padding-left: 23px; }
      .wrap_bot_info_about .info_block .index_info h4 {
        color: #f8b431;
        font-size: 19px;
        font-family: 'open-ex';
        padding-bottom: 15px; }
      .wrap_bot_info_about .info_block .index_info p {
        font-size: 15px;
        color: #504f4f; }

/* ----------------- End About ------------------------- */
/* ------------------ Blog -------------------------------- */
.blog_wrap_main .info_post_conten {
  padding-bottom: 0px; }
  .blog_wrap_main .info_post_conten .block_content {
    margin-bottom: 80px;
    position: relative; }
    .blog_wrap_main .info_post_conten .block_content:hover .images a img {
      transition: 0.5s all;
      transform: scale(1.2); }
    .blog_wrap_main .info_post_conten .block_content .images {
      width: 66%;
      height: 100%;
      display: inline-block;
      z-index: 1;
      position: relative; }
      .blog_wrap_main .info_post_conten .block_content .images::before {
        content: '';
        border: 2px solid #bce7f0;
        position: absolute;
        width: 300px;
        height: 100%;
        left: 50%;
        top: 15%;
        z-index: -1; }
      .blog_wrap_main .info_post_conten .block_content .images a {
        overflow: hidden;
        display: inline-block;
        width: 100%;
        height: 100%; }
        .blog_wrap_main .info_post_conten .block_content .images a img {
          transition: 0.5s all;
          width: 100%; }
    .blog_wrap_main .info_post_conten .block_content .index {
      background: #f8b431;
      padding: 30px;
      width: 260px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) translateX(0%);
      z-index: 3; }
      .blog_wrap_main .info_post_conten .block_content .index h3 {
        font-size: 17px;
        font-family: 'open-bold';
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-height: 21px;
        height: 63px;
        max-height: 63px;
        color: white;
        margin-bottom: 20px; }
        .blog_wrap_main .info_post_conten .block_content .index h3 a {
          color: white; }
      .blog_wrap_main .info_post_conten .block_content .index span.date_info {
        font-size: 14px;
        color: #441405; }
.blog_wrap_main .top_post_conten {
  padding: 50px 0px 0; }
  .blog_wrap_main .top_post_conten .big_hot_new {
    border: 1px solid #f8b431; }
    .blog_wrap_main .top_post_conten .big_hot_new .caption {
      background: #f8b431;
      padding: 25px 25px; }
      .blog_wrap_main .top_post_conten .big_hot_new .caption h3 {
        font-size: 17px;
        color: white;
        font-family: 'open-bold';
        color: white;
        margin-bottom: 24px; }
        .blog_wrap_main .top_post_conten .big_hot_new .caption h3 a {
          color: white; }
      .blog_wrap_main .top_post_conten .big_hot_new .caption p {
        color: white;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-height: 25px;
        height: 48px;
        max-height: 48px;
        margin-bottom: 24px; }
      .blog_wrap_main .top_post_conten .big_hot_new .caption span.date_post {
        color: #441405;
        font-size: 15px; }
  .blog_wrap_main .top_post_conten .thumb_conten {
    border: 1px solid #f8b431;
    margin-bottom: 30px; }
    .blog_wrap_main .top_post_conten .thumb_conten .caption {
      padding: 20px; }
      .blog_wrap_main .top_post_conten .thumb_conten .caption h3 {
        color: #270b03;
        font-family: 'open-bold';
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-height: 20px;
        height: 40px;
        max-height: 40px; }
        .blog_wrap_main .top_post_conten .thumb_conten .caption h3 a {
          color: #270b03; }

.panigation_bottom {
  text-align: center;
  padding-top: 30px; }
  .panigation_bottom ul {
    margin: 0; }
    .panigation_bottom ul li {
      list-style: none;
      display: inline-block; }
      .panigation_bottom ul li a {
        font-size: 18px;
        color: #270b03;
        display: inline-block;
        border: 1px solid #f8b431;
        padding: 10px 18px;
        margin: 0px 3px; }
    .panigation_bottom ul li.active a {
      background-color: #f8b431; }

.main_content_details {
  padding: 50px 0px; }
  .main_content_details .content_wrap h3 {
    color: #f8b431;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'open-bold';
    text-align: center;
    padding-bottom: 30px; }
  .main_content_details .content_wrap span.date_post {
    color: #441405;
    font-size: 15px;
    text-align: right;
    display: block;
    padding-bottom: 30px; }
  .main_content_details .content_wrap p {
    color: #798083;
    font-size: 16px;
    padding-bottom: 25px; }
    .main_content_details .content_wrap p img {
      max-width: 100%;
      display: block;
      margin: 0 auto; }
  .main_content_details .content_wrap span.author {
    color: #441405;
    font-size: 15px;
    font-family: 'open-semi';
    display: block;
    text-align: right; }
  .main_content_details .sidebar_wrap {
    border: 1px solid #fbd792; }
    .main_content_details .sidebar_wrap h3 {
      background: #f8b431;
      padding: 15px 22px;
      color: white;
      font-size: 20px;
      font-family: 'open-bold'; }
    .main_content_details .sidebar_wrap .info_block {
      padding: 30px 22px; }
      .main_content_details .sidebar_wrap .info_block .content_block {
        display: flex;
        padding-bottom: 30px; }
        .main_content_details .sidebar_wrap .info_block .content_block:last-child {
          padding-bottom: 0; }
        .main_content_details .sidebar_wrap .info_block .content_block .caption {
          padding-left: 15px; }
          .main_content_details .sidebar_wrap .info_block .content_block .caption a {
            font-size: 14px;
            color: #270b03;
            font-family: 'open-semi';
            padding-bottom: 5px;
            display: inline-block; }
          .main_content_details .sidebar_wrap .info_block .content_block .caption span.date_post {
            color: #f8b431;
            font-size: 14px; }

/* call */
.phone_backtotop.left_center {
  bottom: 10%;
  left: 15px; }

.phone_backtotop {
  position: fixed;
  z-index: 555;
  top: auto !important;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
  background: #e21812;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  animation: play 1.5s ease infinite;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

@keyframes play {
  0% {
    transform: scale(1); }
  15% {
    box-shadow: 0 0 0 3px rgba(255, 66, 54, 0.1); }
  25% {
    box-shadow: 0 0 0 3px rgba(255, 88, 54, 0.1), 0 0 0 5px rgba(255, 88, 54, 0.1); }
  30% {
    transform: scale(1.2); }
  50% {
    box-shadow: 0 0 0 7px rgba(255, 88, 54, 0.1), 0 0 0 7px rgba(255, 88, 54, 0.1), 0 0 0 10px rgba(255, 88, 54, 0.2); }
  80% {
    transform: scale(1); } }
/* ------------------ Blog -------------------------------- */
/* responsive // 1199 991 767 480 414 375 360 320 max-width */
@media screen and (max-width: 1199px) {
  .wrap_bot_header .main_wrap .position_right a.login_project {
    font-size: 14px;
    padding: 5px 10px;
    font-family: 'open-regula';
    font-weight: normal; }

  .wrap_bot_header .main_wrap nav.navbar ul li a {
    font-size: 14px; }

  .wrap_bot_header .main_wrap nav.navbar ul li a .logo {
    padding: 5px 0px;
    text-align: center; }

  .wrap_bot_header .main_wrap nav.navbar ul li a .logo img {
    width: 70%; }

  .wrap_bot_header .main_wrap nav.navbar ul li {
    padding: 0px 8px; }

  .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col {
    margin-bottom: 0; }

  .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item {
    margin: 0; }

  .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item img {
    width: 100% !important; }

  .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item .cs-item-text-box {
    width: auto;
    padding: 25px 20px 20px 20px;
    position: unset;
    border: 1px solid #bce7f0; }

  .wrap_section_five .info .main_slide .custom_owl_1 .cs-offer-col .cs-single-item .cs-item-text-box span.cs-my-btn {
    font-size: 15px;
    margin-bottom: 15px;
    padding: 5px 15px;
    position: unset;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  .wrap_section_six .info p {
    font-size: 16px; }

  .wrap_section_six .info a.btn_load_price_table {
    font-size: 16px; }

  .wrap_section_six {
    padding: 35px 0px;
    margin-bottom: 60px; }

  .wrap_section_seven .info .info_left h3 {
    font-size: 19px; }

  .wrap_section_seven .info .info_left form input {
    font-size: 14px; }

  .wrap_top_info_contact .right_info {
    padding-left: 0; }

  .blog_wrap_main .info_post_conten .block_content {
    align-items: center; }

  .blog_wrap_main .info_post_conten .block_content .index p {
    font-size: 14px; }

  .blog_wrap_main .top_post_conten .thumb_conten a img {
    width: 100%; }

  .blog_wrap_main .top_post_conten .thumb_conten .caption {
    text-align: center; }

  .blog_wrap_main .info_post_conten .block_content .images::before {
    content: none; }

  .blog_wrap_main .top_post_conten {
    padding: 50px 0px 15px; }

  .blog_wrap_main .info_post_conten .block_content {
    margin-bottom: 30px; }

  .blog_wrap_main .info_post_conten .block_content .images {
    width: 100%; }

  .blog_wrap_main .info_post_conten .block_content .index {
    width: 100%;
    position: unset;
    transform: translateY(0%) translateX(0%);
    margin-top: -6px; } }
@media screen and (max-width: 991px) {
  .wrap_bot_header {
    display: none; }

  .wrap_menu_mobile {
    display: block; }

  .wrap_top_header .main_info .left_info, .wrap_top_header .main_info .right_info {
    display: flex;
    width: 100%;
    justify-content: center; }

  .wrap_top_header .main_info {
    flex-wrap: wrap; }

  .info_index_banner .info h1 {
    font-size: 40px;
    padding-bottom: 10px; }

  .header {
    min-height: 600px; }

  .info_index_banner {
    padding: 95px 0px; }

  .title_all h2 {
    font-size: 28px;
    padding-bottom: 22px; }

  .wrap_section_top .info .main_product .info_product .images img {
    width: 100%; }

  .wrap_section_top .info .main_product .info_product .images {
    margin-bottom: 20px; }

  .colum_revese {
    flex-direction: column-reverse; }

  .wrap_section_top .info .main_product .info_product .index {
    padding: 10px 20px 35px; }

  .wrap_section_two::before {
    content: none; }

  .wrap_section_two .info_main .right_info {
    margin-top: 0; }

  .wrap_section_three .index_info {
    padding-bottom: 30px; }

  .wrap_section_six .info p {
    font-size: 14px; }

  .wrap_section_six .info a.btn_load_price_table {
    font-size: 14px; }

  .wrap_section_seven .info .info_left {
    margin-bottom: 30px; }

  .wrap_top_info_contact .right_info h3.title {
    font-size: 21px;
    text-align: center; }

  .wrap_top_info_contact .right_info .index_info::before {
    content: none; }

  .wrap_top_info_contact .right_info .index_info {
    padding: 0; }

  .wrap_top_info_contact {
    padding: 60px 0px; }

  .wrap_bot_info_contact {
    padding: 20px; }

  .wrap_top_info_about .info_img img {
    width: 100%; }

  .wrap_top_info_about .info_img {
    margin-bottom: 40px; }

  .wrap_bot_info_about .info_block .icon_info {
    text-align: center; }

  .wrap_bot_info_about .info_block {
    padding-bottom: 35px; }

  .content_wrap {
    padding-bottom: 60px; }

  .blog_wrap_main .top_post_conten .big_hot_new .caption {
    padding: 30px 30px; }

  .blog_wrap_main .top_post_conten .big_hot_new {
    margin-bottom: 30px; }

  .blog_wrap_main .info_post_conten .block_content .index h3 {
    -webkit-line-clamp: 2;
    line-height: 21px;
    height: 42px;
    max-height: 42px; } }
@media screen and (max-width: 768px) {
  .header {
    min-height: 490px; } }
@media screen and (max-width: 767px) {
  .info_index_banner .info p {
    font-size: 14px; }

  .info_index_banner .info h1 {
    font-size: 30px; }

  .wrap_section_six .info {
    flex-flow: wrap; }

  .wrap_section_six .info p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 12px; }

  .wrap_section_seven {
    padding-bottom: 66px; }

  .footer .info .col_st {
    margin-bottom: 30px; }

  .wrap_top_header {
    display: none; }

  .open-nav {
    font-size: 25px; }

  .wrap_menu_mobile .info .logo img {
    width: 58%; }

  .info_index_banner .info h1 {
    font-size: 20px; }

  .info_index_banner .info .group_button a.one, .info_index_banner .info .group_button a.two {
    margin-right: 0; }

  .info_index_banner .info .group_button a.one, .info_index_banner .info .group_button a.two {
    border: 1px solid; }

  .info_index_banner .info .group_button a.one:hover {
    border: 1px solid #f8b431; }

  .title_all h2 {
    font-size: 20px;
    display: inline-block; }

  .wrap_section_top {
    padding: 49px 0px; }

  .wrap_section_two .info_main .right_info h3.title {
    font-size: 20px; }

  .wrap_section_three .images_album a {
    padding: 2px; }

  .wrap_section_four {
    padding: 50px 0px;
    margin-bottom: 50px; }

  .wrap_section_four .info_main {
    padding: 20px 0px; }

  .wrap_section_four .info_main .info_details .group_button a.btn_one {
    margin-right: 0; }

  .wrap_section_six .info p {
    padding-right: 0; }

  .wrap_section_seven .info .info_right iframe {
    height: 250px; }

  .wrap_section_seven .info .info_left {
    padding: 25px 15px;
    text-align: center; }

  .footer::before {
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -3px; }

  .footer {
    padding: 30px 0px 20px;
    margin-top: 140px; }

  .scrolltop a {
    font-size: 20px;
    padding: 2px 12px;
    right: 8px;
    background: #1b0802; }

  div#myModal .modal-content button.close, div#myModal2 .modal-content button.close, div#myModal3 .modal-content button.close, div#myModal4 .modal-content button.close {
    right: -3%;
    top: -1%; }

  .modal {
    top: 5%; }

  div#myModal .modal-content .form_contact h3, div#myModal2 .modal-content .form_contact h3, div#myModal3 .modal-content .form_contact h3, div#myModal4 .modal-content .form_contact h3 {
    font-size: 20px; }

  .wrap_section_four .info_main .info_details p {
    padding: 5px 0px; }

  .wrap_bot_info_contact .info_form form .form-group {
    flex-wrap: wrap;
    margin-bottom: 5px; }

  .wrap_bot_info_contact .info_form form .form-group input {
    padding: 10px;
    margin-right: 0;
    width: 100%;
    margin-bottom: 15px; }

  .wrap_bot_info_contact {
    margin-bottom: 225px; }

  .wrap_bot_info_contact .info_form h3 {
    font-size: 18px; }

  .wrap_top_info_contact .info_left iframe {
    height: 250px; }

  .header.Contact_hd {
    min-height: 250px; }

  .wrap_panigation_info .info h2 {
    font-size: 28px;
    padding-bottom: 5px; }

  .wrap_panigation_info .info ul li a {
    font-size: 14px; }

  div#myModal .modal-content button.close, div#myModal2 .modal-content button.close, div#myModal3 .modal-content button.close, div#myModal4 .modal-content button.close, div#myModal5 .modal-content button.close {
    right: -3%;
    top: -2%; }

  .blog_wrap_main .info_post_conten .block_content::before {
    width: 100%; }

  .panigation_bottom ul li a {
    font-size: 14px; }

  .blog_wrap_main .info_post_conten .block_content .index {
    width: 100%;
    padding-right: 0;
    padding: 15px 10px; }

  .blog_wrap_main .info_post_conten .block_content .images span.date_info {
    font-size: 14px;
    padding: 5px 10px;
    left: 5px;
    transform: translateX(0%);
    bottom: 11px; }

  .blog_wrap_main .info_post_conten {
    padding: 45px 0px 50px; }

  .panigation_bottom ul li a {
    padding: 8px 15px;
    margin: 0px 0px; }

  .blog_wrap_main .info_post_conten .block_content .images {
    width: 100%; }
    .blog_wrap_main .info_post_conten .block_content .images a {
      width: 100%; }
      .blog_wrap_main .info_post_conten .block_content .images a img {
        width: 100%; }

  .wrap_section_four {
    background-attachment: unset;
    background-position: right; }

  .hidden_md {
    display: none !important; }

  .show-mobile {
    padding-bottom: 30px;
    display: flex !important; }

  .blog_wrap_main .top_post_conten .big_hot_new .caption {
    padding: 12px; }

  .blog_wrap_main .top_post_conten .big_hot_new .caption h3 {
    font-size: 15px;
    margin-bottom: 10px; }

  .blog_wrap_main .top_post_conten .big_hot_new .caption p {
    font-size: 15px;
    line-height: 19px;
    height: 40px;
    max-height: 40px;
    margin-bottom: 15px; }

  .blog_wrap_main .top_post_conten .big_hot_new .caption span.date_post {
    font-size: 13px; }

  .blog_wrap_main .top_post_conten .thumb_conten .caption {
    padding: 10px; }

  .blog_wrap_main .top_post_conten .thumb_conten .caption h3 {
    font-size: 14px; }

  .blog_wrap_main .info_post_conten {
    padding: 0px 0px 50px; }

  .blog_wrap_main .info_post_conten .block_content .index h3 {
    margin-bottom: 10px; } }

/*# sourceMappingURL=style.css.map */