[contact]

[contact contact2]
==
<!DOCTYPE html>
<html lang="vi">
<head>
  <title>Condotel & Shophouse Vinpearl Đầu tư thảnh thơi - Sinh lời vượt trội</title>
  <meta charset="UTF-8">
  <META HTTP-EQUIV="Content-Language" CONTENT="vi">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <META NAME="Title" CONTENT="Vinpearl Phú Quốc">
  <META NAME="description" CONTENT="Vinpearl Phú Quốc - Đẳng cấp căn hộ đáng sống">

  <base href="{{'assets/ '|theme}}" >
  <base src="{{'assets/ '|theme}}" >

  <link rel="stylesheet" href="lib/animate/animate.css">
  <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="lib/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="lib/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link href="css/style.css" rel="stylesheet">
  
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="70">
  
    {% page %}
  

  
  <script type="text/javascript" src="lib/jquery/jquery-3.3.1.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script> -->
  <script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>
  <script type="text/javascript" src="lib/bootstrap/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="lib/animate/wow.min.js"></script>
  <script type="text/javascript" src="lib/owl-carousel/owl.carousel.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  {% framework extras %}{% scripts %}   
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5bbff7e108387933e5bb041a/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
</body>
</html>