@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important; }
  a:hover {
    text-decoration: none;
    outline: none;
    background: transparent; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: utma;
  src: url("../fonts/UTM Aristote.ttf"); }
/* @font-face {
    font-family: utmc;
    src: url('../fonts/UTM Caviar.ttf');
} */
@font-face {
  font-family: utmc;
  src: url("../fonts/SF-UI-Text-Regular.ttf"); }
@font-face {
  font-family: uvf;
  src: url("../fonts/UVF Caviar Dreams Bold.ttf"); }
@font-face {
  font-family: sf;
  src: url("../fonts/SF-UI-Text-Regular.ttf"); }
body {
  font-family: 'sf';
  background: white;
  overflow-x: hidden !important;
  -webkit-oveflow-x: hidden;
  -moz-oveflow-x: hidden;
  -ms-oveflow-x: hidden; }

/* ================ header ================================ */
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.md-show {
  visibility: visible; }

/* div bao phủ */
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(143, 27, 15, 0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible; }

.md-show.md-modal ~ .md-overlay {
  background: rgba(37, 37, 27, 0.8); }

/* Effect 15:  3D Rotate in from left */
.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px; }

.md-modal .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -moz-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -ms-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.md-show.md-modal .md-content {
  -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  -moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  -ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  transform: translateZ(0px) translateX(0%) rotateY(0deg);
  opacity: 1; }

.md-modal .info_popup {
  display: inline-block;
  width: 100%;
  background: #35ba7c;
  border: 5px solid white;
  padding: 30px;
  position: relative; }
  .md-modal .info_popup .indext h3 {
    font-size: 20px;
    color: white;
    font-family: utm;
    text-transform: uppercase;
    padding-bottom: 5px; }
  .md-modal .info_popup .indext p {
    font-size: 16px;
    color: white;
    font-family: utm;
    line-height: 1.1;
    display: inline-block;
    padding-bottom: 25px; }
  .md-modal .info_popup .indext ul {
    margin: 0; }
    .md-modal .info_popup .indext ul li {
      list-style: none;
      color: white;
      font-size: 15px;
      display: inline-block;
      line-height: 1.1;
      padding-bottom: 5px; }
      .md-modal .info_popup .indext ul li::before {
        content: '\f0a4 ';
        font-family: FontAwesome;
        padding-right: 10px;
        font-size: 15px;
        display: inline-block; }
  .md-modal .info_popup .form_contact h3 {
    font-size: 20px;
    color: white;
    font-family: utm;
    text-transform: uppercase;
    padding-bottom: 35px; }
  .md-modal .info_popup .form_contact form .form-group input {
    width: 100%;
    font-size: 15px;
    padding: 5px 13px;
    border: 0; }
    .md-modal .info_popup .form_contact form .form-group input::placeholder {
      color: #35ba7c; }
  .md-modal .info_popup .form_contact form button {
    font-size: 14px;
    color: #3eba48;
    text-transform: uppercase;
    font-family: utm;
    display: inline-block;
    background: white;
    border: 0;
    width: 100%;
    cursor: pointer;
    padding: 8px; }
  .md-modal .info_popup button.md-close {
    color: #ff0010;
    background: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    border: 1px solid #eee;
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer;
    outline: none; }

.md-modal.md-show .wow0 {
  visibility: visible;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-name: bounceInLeft;
  animation-fill-mode: both; }
.md-modal.md-show .wow1 {
  visibility: visible;
  animation-duration: 0s;
  animation-delay: 0.5s;
  animation-name: bounceInRight;
  animation-fill-mode: both; }
.md-modal.md-show .wow2 {
  visibility: visible;
  animation-duration: 1s;
  animation-delay: 0.7s;
  animation-name: bounceInRight;
  animation-fill-mode: both; }
.md-modal.md-show .wow3 {
  visibility: visible;
  animation-duration: 1s;
  animation-delay: 0.9s;
  animation-name: bounceInRight;
  animation-fill-mode: both; }
.md-modal.md-show .wow4 {
  visibility: visible;
  animation-duration: 1s;
  animation-delay: 1.1s;
  animation-name: bounceInRight;
  animation-fill-mode: both; }

.wrap_menu.active {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  transition: 1s all;
  z-index: 999999;
  background: white;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2); }
  .wrap_menu.active .main_wrap_menu .logo {
    padding: 10px 0px;
    transition: 0.5s all; }
    .wrap_menu.active .main_wrap_menu .logo a img {
      width: 50%;
      transition: 0.5s all; }
  .wrap_menu.active .main_wrap_menu nav.navbar ul li a {
    padding: 10px 10px 15px 10px;
    font-size: 15px;
    transition: 0.5s all; }
    .wrap_menu.active .main_wrap_menu nav.navbar ul li a::before {
      bottom: -5%; }

.wrap_menu {
  transition: 1s all; }
  .wrap_menu .main_wrap_menu {
    display: flex;
    justify-content: space-between; }
    .wrap_menu .main_wrap_menu .logo {
      padding: 15px 0px;
      transition: 0.5s all; }
      .wrap_menu .main_wrap_menu .logo a img {
        transition: 0.5s all; }
    .wrap_menu .main_wrap_menu nav.navbar {
      padding: 0;
      align-items: flex-end; }
      .wrap_menu .main_wrap_menu nav.navbar ul li.nav-item a.nav-link.active {
        background: #d29c2f;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        color: white; }
        .wrap_menu .main_wrap_menu nav.navbar ul li.nav-item a.nav-link.active::before {
          visibility: visible; }
      .wrap_menu .main_wrap_menu nav.navbar ul li {
        position: relative; }
        .wrap_menu .main_wrap_menu nav.navbar ul li::before {
          content: '';
          position: absolute;
          left: 0;
          top: 12px;
          background: #666;
          width: 1px;
          height: 35px; }
        .wrap_menu .main_wrap_menu nav.navbar ul li:first-child::before {
          background: none; }
        .wrap_menu .main_wrap_menu nav.navbar ul li:hover a {
          background: #d29c2f;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          color: white;
          transition: 0.3s all; }
          .wrap_menu .main_wrap_menu nav.navbar ul li:hover a::before {
            visibility: visible; }
        .wrap_menu .main_wrap_menu nav.navbar ul li a {
          color: #271709;
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          position: relative;
          padding: 17px 10px 31px 10px;
          margin-right: 5px;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          transition: 0.3s all; }
          .wrap_menu .main_wrap_menu nav.navbar ul li a::before {
            content: '\f0d7';
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
            position: absolute;
            bottom: 11%;
            left: 45%;
            font-family: 'FontAwesome';
            color: #f7d58d;
            font-size: 22px;
            line-height: 1.1;
            visibility: hidden; }

.wrap_menu.active .main_wrap_menu nav.navbar ul li::before {
  top: 9px;
  height: 25px; }

.wrap_banner_slide .custom_owl_1 .main_slide_item .caption {
  position: absolute;
  top: 57%;
  right: 10%;
  background-color: #438cc0ab;
  padding: 20px;
  border-radius: 7px;
  text-align: center; }
  .wrap_banner_slide .custom_owl_1 .main_slide_item .caption h3.one {
    font-size: 30;
    color: #ffffff;
    font-family: 'utma';
    padding-bottom: 10px; }
  .wrap_banner_slide .custom_owl_1 .main_slide_item .caption h3.two {
    color: #ffcc19;
    font-size: 26px;
    font-family: 'utma'; }
.wrap_banner_slide .custom_owl_1 .owl-item.active .main_slide_item .caption h3.one {
  visibility: visible;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  animation-name: bounceInRight; }
.wrap_banner_slide .custom_owl_1 .owl-item.active .main_slide_item .caption h3.two {
  visibility: visible;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeInLeft; }

.owl-nav {
  display: none; }

.owl-dots {
  position: absolute;
  left: 44%;
  bottom: 2%; }

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  margin: 5px 10px;
  transform: rotate(45deg);
  background: none !important;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 0;
  border: 4px solid #d39730; }

.owl-theme button.owl-dot.active span {
  background: #d39730 !important; }

.owl-theme button.owl-dot {
  outline: none !important; }

/* ================ header ================================ */
.container-fluid.flui-0 {
  padding: 0; }

.flui-0 .row > [class*='col-'] {
  padding: 0; }

.title_all {
  text-align: center; }
  .title_all h2 {
    color: #d39730;
    font-family: 'utmc';
    text-transform: uppercase;
    font-size: 41px;
    position: relative;
    padding-bottom: 60px; }
    .title_all h2::before {
      content: '';
      background-image: url("../images/icon_title.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 26px;
      position: absolute;
      bottom: 20px;
      left: 0%; }

.wrap_section1 {
  padding-top: 70px;
  position: relative; }
  .wrap_section1::after {
    content: '';
    background-image: url("../images/bg_vecter1.png");
    position: absolute;
    top: -55%;
    left: -20%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    height: 100%;
    z-index: -1; }
  .wrap_section1 .main_index {
    text-align: center;
    padding-bottom: 50px; }
    .wrap_section1 .main_index p {
      font-size: 18px;
      color: #090b5e;
      font-family: 'utmc';
      padding-top: 20px;
      max-width: 480px;
      display: inline-block; }
    .wrap_section1 .main_index ul {
      margin: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      padding-top: 35px; }
      .wrap_section1 .main_index ul li {
        display: inline-block;
        padding: 0px 5px;
        border-right: 1px solid gray; }
        .wrap_section1 .main_index ul li:last-child {
          padding-right: 0;
          border: 0; }
        .wrap_section1 .main_index ul li p {
          padding: 0;
          padding-bottom: 10px;
          max-width: 100%;
          display: block; }
        .wrap_section1 .main_index ul li span {
          color: #d39730;
          font-size: 20px; }
  .wrap_section1 .main_images {
    display: inline-block;
    position: relative;
    padding-bottom: 30px; }
    .wrap_section1 .main_images:hover .icon_detail img {
      transition: all 1s;
      transform: rotateY(360deg); }
    .wrap_section1 .main_images .icon_detail {
      position: absolute;
      top: 33%;
      left: -75px; }
      .wrap_section1 .main_images .icon_detail img {
        width: 70%;
        display: inline-block; }

.wrap_section1_2 {
  position: relative; }
  .wrap_section1_2::before {
    content: '';
    background-image: url("../images/bg_vecter1.png");
    position: absolute;
    top: -31%;
    left: -45%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    height: 100%;
    transform: rotate(90deg);
    z-index: -1; }
  .wrap_section1_2 .main_images {
    display: inline-block;
    position: relative; }
    .wrap_section1_2 .main_images:hover .icon_detail img {
      transition: all 1s;
      transform: rotateY(360deg); }
    .wrap_section1_2 .main_images .icon_detail {
      position: absolute;
      top: 33%;
      left: -75px; }
      .wrap_section1_2 .main_images .icon_detail img {
        width: 70%;
        display: inline-block; }
  .wrap_section1_2 .main_index {
    padding-top: 50px;
    padding-left: 105px; }
    .wrap_section1_2 .main_index .title_all {
      padding-right: 140px; }
    .wrap_section1_2 .main_index p {
      font-size: 18px;
      color: #090b5e;
      font-family: 'utmc';
      max-width: 480px;
      display: inline-block; }
    .wrap_section1_2 .main_index ul {
      margin: 0;
      padding-top: 30px; }
      .wrap_section1_2 .main_index ul li {
        list-style: none;
        font-size: 18px;
        color: #090b5e;
        font-family: 'utmc'; }
        .wrap_section1_2 .main_index ul li::before {
          content: '\f046 ';
          font-family: 'FontAwesome';
          padding-right: 10px; }

.wrap_section2 {
  padding-bottom: 70px;
  position: relative; }
  .wrap_section2::before {
    content: '';
    background-image: url("../images/bg_vecter1.png");
    position: absolute;
    top: -31%;
    left: 0%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    height: 100%;
    transform: rotate(90deg);
    z-index: -1; }
  .wrap_section2 .main_images .intro_main {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px; }
    .wrap_section2 .main_images .intro_main:hover .caption_title {
      transition: 0.3s all;
      bottom: -60px; }
    .wrap_section2 .main_images .intro_main:hover img {
      transition: 1s all;
      transform: scale(1.1); }
    .wrap_section2 .main_images .intro_main img {
      transition: 1s all;
      display: inline-block;
      width: 100%; }
    .wrap_section2 .main_images .intro_main .caption_title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background: rgba(56, 48, 93, 0.71);
      padding: 10px 0px;
      transition: 0.3s all; }
      .wrap_section2 .main_images .intro_main .caption_title h3 {
        color: white;
        font-size: 25px;
        line-height: 1.1;
        font-family: 'utmc'; }
  .wrap_section2 .main_index {
    text-align: center;
    padding: 50px 40px 40px; }
    .wrap_section2 .main_index img {
      width: 22%; }
    .wrap_section2 .main_index p {
      font-size: 18px;
      color: #090b5e;
      font-family: 'utmc'; }
    .wrap_section2 .main_index p.fix {
      font-family: 'uvf' !important;
      padding-top: 25px; }
    .wrap_section2 .main_index .title_all {
      padding-bottom: 25px; }

.section3 {
  padding-bottom: 90px; }

.section3_1 {
  padding: 0px 15px;
  position: relative; }
  .section3_1::before {
    content: '';
    background-image: url("../images/bg_vecter1.png");
    position: absolute;
    top: -31%;
    left: 0%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    height: 100%;
    transform: rotate(90deg);
    z-index: -1; }
  .section3_1 .title_all {
    padding-bottom: 20px; }
  .section3_1 .info_slide .custom_owl_2 .info_product {
    position: relative;
    overflow: hidden; }
    .section3_1 .info_slide .custom_owl_2 .info_product:hover .caption_title {
      transition: 0.3s all;
      bottom: -60px; }
    .section3_1 .info_slide .custom_owl_2 .info_product .caption_title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background: rgba(56, 48, 93, 0.71);
      padding: 10px 0px;
      transition: 0.3s all; }
      .section3_1 .info_slide .custom_owl_2 .info_product .caption_title h3 {
        color: white;
        font-size: 25px;
        line-height: 1.1;
        font-family: 'utmc'; }
  .section3_1 .info_slide .custom_owl_2 .owl-dots {
    left: 45%;
    bottom: -12%; }
    .section3_1 .info_slide .custom_owl_2 .owl-dots .owl-dot span {
      width: 15px;
      height: 15px;
      margin: 5px 6px;
      border: 2px solid #d39730; }

.section4 {
  padding-bottom: 30px;
  position: relative; }
  .section4::before {
    content: '';
    background-image: url("../images/bg_vecter1.png");
    position: absolute;
    top: -26%;
    left: -20%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    height: 100%;
    transform: rotate(90deg);
    z-index: -1; }
  .section4 .main_info .title_all {
    padding-bottom: 40px; }
  .section4 .main_info .info_product {
    position: relative;
    background: #d39730;
    padding: 20px 10px 15px 125px;
    margin-bottom: 65px; }
    .section4 .main_info .info_product:last-child {
      margin-bottom: 65px; }
    .section4 .main_info .info_product .img_model {
      position: absolute;
      left: -65px;
      top: -33px; }
    .section4 .main_info .info_product h4 {
      text-transform: uppercase;
      color: white;
      font-size: 20px;
      padding-bottom: 10px; }
    .section4 .main_info .info_product p {
      font-family: 'utmc';
      color: #090b5e;
      font-size: 17px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-height: 20px;
      height: 43px;
      max-height: 51px; }
  .section4 .main_info .info_product.fix_right {
    padding: 20px 125px 15px 15px; }
    .section4 .main_info .info_product.fix_right .img_model {
      top: -33px;
      right: -65px;
      left: unset; }

.section4_1 .title_all {
  padding-bottom: 20px; }
.section4_1 .main_info {
  background-image: url("../images/banner_bg1.jpg");
  background-size: cover;
  width: 100%;
  min-height: 505px;
  position: relative;
  background-attachment: fixed; }
  .section4_1 .main_info .info {
    text-align: center;
    padding-top: 135px; }
    .section4_1 .main_info .info h3 {
      position: relative;
      font-size: 30px;
      color: white;
      text-transform: uppercase;
      padding-bottom: 35px; }
      .section4_1 .main_info .info h3::before {
        content: '';
        position: absolute;
        width: 30%;
        background: white;
        height: 1px;
        bottom: 20px;
        left: 36%; }
    .section4_1 .main_info .info p {
      color: white;
      font-family: 'utmc';
      font-size: 20px;
      line-height: 1.1; }
    .section4_1 .main_info .info form {
      display: flex;
      justify-content: center;
      padding-top: 50px; }
      .section4_1 .main_info .info form input[type="text"] {
        font-size: 17px;
        font-family: 'utmc';
        border: 0;
        padding: 10px 20px;
        outline: none;
        background: rgba(140, 112, 115, 0.57);
        width: 30%;
        color: white; }
        .section4_1 .main_info .info form input[type="text"]::placeholder {
          color: white; }
      .section4_1 .main_info .info form button {
        background: #d39730;
        border: 0;
        outline: none;
        color: white;
        font-size: 17px;
        padding: 10px 25px;
        cursor: pointer;
        box-shadow: none; }

.section5 {
  padding: 0px 0px 30px;
  position: relative; }
  .section5::before {
    content: '';
    background-image: url("../images/bg_vecter1.png");
    position: absolute;
    top: -35%;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1; }
  .section5 .main_info .info_product {
    padding: 20px 15px 15px 90px; }
    .section5 .main_info .info_product .img_model {
      top: -27px; }
    .section5 .main_info .info_product p {
      color: white;
      text-transform: uppercase; }
  .section5 .main_info .info_product.fix_right {
    padding: 20px 90px 15px 15px; }

.section6 {
  padding-bottom: 70px;
  position: relative; }
  .section6::before {
    content: '';
    background-image: url("../images/bg_vecter1.png");
    position: absolute;
    top: -31%;
    left: 0%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    height: 100%;
    transform: rotate(90deg);
    z-index: -1; }
  .section6 .main_info .title_all {
    padding-bottom: 30px; }
  .section6 .main_info .main_slide .wrap_content_blog:hover .images a img {
    transform: scale(1.2);
    transition: 0.5s all; }
  .section6 .main_info .main_slide .wrap_content_blog .images {
    overflow: hidden; }
    .section6 .main_info .main_slide .wrap_content_blog .images a img {
      transition: 0.5s all; }
  .section6 .main_info .main_slide .wrap_content_blog .caption {
    padding-top: 16px; }
    .section6 .main_info .main_slide .wrap_content_blog .caption span.date_submit {
      font-size: 15px;
      color: #d3983c;
      padding-bottom: 22px;
      display: inline-block;
      font-family: 'utmc'; }
    .section6 .main_info .main_slide .wrap_content_blog .caption h4 {
      font-size: 20px;
      color: #10242b;
      text-transform: uppercase;
      padding-bottom: 10px; }
    .section6 .main_info .main_slide .wrap_content_blog .caption p {
      font-size: 15px;
      color: #5c666a;
      padding-bottom: 20px;
      font-family: 'utmc'; }
    .section6 .main_info .main_slide .wrap_content_blog .caption a.read_more {
      font-size: 15px;
      color: #10242b;
      background: #e6b459;
      display: inline-block;
      padding: 7px 20px;
      border-radius: 41px; }
      .section6 .main_info .main_slide .wrap_content_blog .caption a.read_more i {
        padding-left: 5px; }

.custom_owl_3 .owl-dots {
  display: none; }

.custom_owl_3 .owl-nav {
  display: block !important; }
  .custom_owl_3 .owl-nav button.owl-prev, .custom_owl_3 .owl-nav button.owl-next {
    display: inline-block;
    font-size: 23px;
    background: #e7b45a;
    padding: 0px 15px !important;
    color: white;
    outline: none;
    margin: 0 !important; }
    .custom_owl_3 .owl-nav button.owl-prev:hover, .custom_owl_3 .owl-nav button.owl-next:hover {
      background: #e7b45a; }
    .custom_owl_3 .owl-nav button.owl-prev:focus, .custom_owl_3 .owl-nav button.owl-next:focus {
      box-shadow: none;
      outline: none; }
  .custom_owl_3 .owl-nav button.owl-prev {
    left: 0;
    position: absolute;
    top: -83px; }
  .custom_owl_3 .owl-nav button.owl-next {
    right: 0;
    position: absolute;
    top: -83px; }

.section7 {
  position: relative; }
  .section7::before {
    content: '';
    background-image: url("../images/bg_vecter1.png");
    position: absolute;
    top: -31%;
    left: -13%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    height: 100%;
    z-index: -1; }
  .section7 .main_info .title_all {
    padding-bottom: 30px; }
  .section7 .main_info .contact_info p {
    font-size: 15px;
    color: #10242b;
    text-transform: uppercase;
    padding: 15px 0px 19px; }
  .section7 .main_info .contact_info .logo {
    display: inline-block;
    padding-bottom: 10px; }
  .section7 .main_info .contact_info .contact {
    font-family: 'utmc'; }
    .section7 .main_info .contact_info .contact ul {
      margin: 0; }
      .section7 .main_info .contact_info .contact ul li {
        list-style: none; }
        .section7 .main_info .contact_info .contact ul li p {
          font-size: 14px;
          color: #5c666a;
          padding: 0;
          padding-bottom: 12px; }
          .section7 .main_info .contact_info .contact ul li p span {
            display: block;
            padding-left: 20px;
            margin-top: -20px; }
  .section7 .main_info .contact_info .copy_right p {
    font-size: 13px;
    color: #5c666a;
    padding: 15px 0px 0px;
    text-transform: capitalize;
    border-top: 1px solid #d7d7d7;
    width: 74%;
    display: inline-block;
    font-family: 'utmc'; }
  .section7 .main_info .form_contact {
    padding: 38px 20px;
    background: #d2972f;
    position: relative;
    overflow: hidden;
    font-family: 'utmc'; }
    .section7 .main_info .form_contact::before {
      content: '';
      background: url("../images/bg_vecter4.png");
      position: absolute;
      right: 0;
      top: 0;
      background-position: right;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      z-index: 1; }
    .section7 .main_info .form_contact h2 {
      color: white;
      text-transform: uppercase;
      font-size: 22px;
      padding-bottom: 25px;
      z-index: 9;
      position: relative; }
    .section7 .main_info .form_contact form {
      position: relative;
      z-index: 9; }
      .section7 .main_info .form_contact form .form-group input {
        font-size: 14px;
        background: white;
        border-radius: 3px;
        border: 0;
        padding: 8px 15px; }
      .section7 .main_info .form_contact form button {
        font-size: 15px;
        font-family: 'uvf';
        color: white;
        background: #f0432a;
        border: 0;
        padding: 8px 15px;
        border-radius: 3px;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-box-shadow: 0 0 1px transparent;
        box-shadow: 0 0 1px transparent;
        position: relative;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer; }
        .section7 .main_info .form_contact form button::before {
          content: "";
          position: absolute;
          border-radius: 3px;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #00bfa5;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 0 50%;
          -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
          -webkit-transition-property: transform;
          -webkit-transition-property: -webkit-transform;
          transition-property: -webkit-transform;
          -o-transition-property: transform;
          transition-property: transform;
          transition-property: transform,-webkit-transform;
          -webkit-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }
        .section7 .main_info .form_contact form button:hover::before {
          transform: scaleX(1); }

/* ======================= scroll-top ======================= */
.scrolltop a {
  font-size: 25px;
  color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: gold;
  line-height: 50px;
  background: #d2972f;
  text-align: center;
  position: fixed;
  bottom: 10%;
  right: 28px;
  z-index: 9999;
  transition: .5s;
  cursor: pointer;
  display: none; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.animated.infinite {
  animation-iteration-count: infinite; }

.animated.hinge {
  animation-duration: 2s; }

.animated.bounceIn, .animated.bounceOut, .animated.flipOutX, .animated.flipOutY {
  animation-duration: .75s; }

@keyframes bounce {
  0%,20%,53%,80%,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0); }
  40%,43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }
.bounce {
  animation-name: bounce;
  transform-origin: center bottom; }

@keyframes flash {
  0%,50%,to {
    opacity: 1; }
  25%,75% {
    opacity: 0; } }
.flash {
  animation-name: flash; }

@keyframes pulse {
  0% {
    transform: scaleX(1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scaleX(1); } }
.pulse {
  animation-name: pulse; }

@keyframes rubberBand {
  0% {
    transform: scaleX(1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scaleX(1); } }
.rubberBand {
  animation-name: rubberBand; }

@keyframes shake {
  0%,to {
    transform: translateZ(0); }
  10%,30%,50%,70%,90% {
    transform: translate3d(-10px, 0, 0); }
  20%,40%,60%,80% {
    transform: translate3d(10px, 0, 0); } }
.shake {
  animation-name: shake; }

@keyframes headShake {
  0% {
    transform: translateX(0); }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg); }
  18.5% {
    transform: translateX(5px) rotateY(7deg); }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg); }
  43.5% {
    transform: translateX(2px) rotateY(3deg); }
  50% {
    transform: translateX(0); } }
.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake; }

@keyframes swing {
  20% {
    transform: rotate(15deg); }
  40% {
    transform: rotate(-10deg); }
  60% {
    transform: rotate(5deg); }
  80% {
    transform: rotate(-5deg); }
  to {
    transform: rotate(0deg); } }
.swing {
  transform-origin: top center;
  animation-name: swing; }

@keyframes tada {
  0% {
    transform: scaleX(1); }
  10%,20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg); }
  30%,50%,70%,90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg); }
  40%,60%,80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg); }
  to {
    transform: scaleX(1); } }
.tada {
  animation-name: tada; }

@keyframes wobble {
  0% {
    transform: none; }
  15% {
    transform: translate3d(-25%, 0, 0) rotate(-5deg); }
  30% {
    transform: translate3d(20%, 0, 0) rotate(3deg); }
  45% {
    transform: translate3d(-15%, 0, 0) rotate(-3deg); }
  60% {
    transform: translate3d(10%, 0, 0) rotate(2deg); }
  75% {
    transform: translate3d(-5%, 0, 0) rotate(-1deg); }
  to {
    transform: none; } }
.wobble {
  animation-name: wobble; }

@keyframes jello {
  0%,11.1%,to {
    transform: none; }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg); }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg); } }
.jello {
  animation-name: jello;
  transform-origin: center; }

@keyframes bounceIn {
  0%,20%,40%,60%,80%,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scaleX(1); } }
.bounceIn {
  animation-name: bounceIn; }

@keyframes bounceInDown {
  0%,60%,75%,90%,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }
.bounceInDown {
  animation-name: bounceInDown; }

@keyframes bounceInLeft {
  0%,60%,75%,90%,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }
.bounceInLeft {
  animation-name: bounceInLeft; }

@keyframes bounceInRight {
  0%,60%,75%,90%,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }
.bounceInRight {
  animation-name: bounceInRight; }

@keyframes bounceInUp {
  0%,60%,75%,90%,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translateZ(0); } }
.bounceInUp {
  animation-name: bounceInUp; }

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%,55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }
.bounceOut {
  animation-name: bounceOut; }

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%,45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }
.bounceOutDown {
  animation-name: bounceOutDown; }

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }
.bounceOutLeft {
  animation-name: bounceOutLeft; }

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }
.bounceOutRight {
  animation-name: bounceOutRight; }

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%,45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }
.bounceOutUp {
  animation-name: bounceOutUp; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInDown {
  animation-name: fadeInDown; }

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInDownBig {
  animation-name: fadeInDownBig; }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInLeft {
  animation-name: fadeInLeft; }

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInLeftBig {
  animation-name: fadeInLeftBig; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInRight {
  animation-name: fadeInRight; }

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInRightBig {
  animation-name: fadeInRightBig; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInUp {
  animation-name: fadeInUp; }

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInUpBig {
  animation-name: fadeInUpBig; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  to {
    opacity: 0; } }
.fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOutDown {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
.fadeOutDown {
  animation-name: fadeOutDown; }

@keyframes fadeOutDownBig {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }
.fadeOutDownBig {
  animation-name: fadeOutDownBig; }

@keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }
.fadeOutLeft {
  animation-name: fadeOutLeft; }

@keyframes fadeOutLeftBig {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }
.fadeOutLeftBig {
  animation-name: fadeOutLeftBig; }

@keyframes fadeOutRight {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }
.fadeOutRight {
  animation-name: fadeOutRight; }

@keyframes fadeOutRightBig {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }
.fadeOutRightBig {
  animation-name: fadeOutRightBig; }

@keyframes fadeOutUp {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }
.fadeOutUp {
  animation-name: fadeOutUp; }

@keyframes fadeOutUpBig {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }
.fadeOutUpBig {
  animation-name: fadeOutUpBig; }

@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(-1turn);
    animation-timing-function: ease-out; }
  40% {
    transform: perspective(400px) translateZ(150px) rotateY(-190deg);
    animation-timing-function: ease-out; }
  50% {
    transform: perspective(400px) translateZ(150px) rotateY(-170deg);
    animation-timing-function: ease-in; }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in; }
  to {
    transform: perspective(400px);
    animation-timing-function: ease-in; } }
.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flip; }

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotateX(-20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotateX(10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotateX(-5deg); }
  to {
    transform: perspective(400px); } }
.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX; }

@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotateY(-20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotateY(10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotateY(-5deg); }
  to {
    transform: perspective(400px); } }
.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInY; }

@keyframes flipOutX {
  0% {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotateX(-20deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0; } }
.flipOutX {
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@keyframes flipOutY {
  0% {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotateY(-15deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0; } }
.flipOutY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipOutY; }

@keyframes lightSpeedIn {
  0% {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0; }
  60% {
    transform: skewX(20deg);
    opacity: 1; }
  80% {
    transform: skewX(-5deg);
    opacity: 1; }
  to {
    transform: none;
    opacity: 1; } }
.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out; }

@keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }
.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in; }

@keyframes rotateIn {
  0% {
    transform-origin: center;
    transform: rotate(-200deg);
    opacity: 0; }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1; } }
.rotateIn {
  animation-name: rotateIn; }

@keyframes rotateInDownLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(-45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }
.rotateInDownLeft {
  animation-name: rotateInDownLeft; }

@keyframes rotateInDownRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(45deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }
.rotateInDownRight {
  animation-name: rotateInDownRight; }

@keyframes rotateInUpLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }
.rotateInUpLeft {
  animation-name: rotateInUpLeft; }

@keyframes rotateInUpRight {
  0% {
    transform-origin: right bottom;
    transform: rotate(-90deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }
.rotateInUpRight {
  animation-name: rotateInUpRight; }

@keyframes rotateOut {
  0% {
    transform-origin: center;
    opacity: 1; }
  to {
    transform-origin: center;
    transform: rotate(200deg);
    opacity: 0; } }
.rotateOut {
  animation-name: rotateOut; }

@keyframes rotateOutDownLeft {
  0% {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate(45deg);
    opacity: 0; } }
.rotateOutDownLeft {
  animation-name: rotateOutDownLeft; }

@keyframes rotateOutDownRight {
  0% {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate(-45deg);
    opacity: 0; } }
.rotateOutDownRight {
  animation-name: rotateOutDownRight; }

@keyframes rotateOutUpLeft {
  0% {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate(-45deg);
    opacity: 0; } }
.rotateOutUpLeft {
  animation-name: rotateOutUpLeft; }

@keyframes rotateOutUpRight {
  0% {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0; } }
.rotateOutUpRight {
  animation-name: rotateOutUpRight; }

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  20%,60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  40%,80% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0; } }
.hinge {
  animation-name: hinge; }

@keyframes jackInTheBox {
  0% {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom; }
  50% {
    transform: rotate(-10deg); }
  70% {
    transform: rotate(3deg); }
  to {
    opacity: 1;
    transform: scale(1); } }
.jackInTheBox {
  animation-name: jackInTheBox; }

@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate(-120deg); }
  to {
    opacity: 1;
    transform: none; } }
.rollIn {
  animation-name: rollIn; }

@keyframes rollOut {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate(120deg); } }
.rollOut {
  animation-name: rollOut; }

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.zoomIn {
  animation-name: zoomIn; }

@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInDown {
  animation-name: zoomInDown; }

@keyframes zoomInLeft {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInLeft {
  animation-name: zoomInLeft; }

@keyframes zoomInRight {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInRight {
  animation-name: zoomInRight; }

@keyframes zoomInUp {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInUp {
  animation-name: zoomInUp; }

@keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
.zoomOut {
  animation-name: zoomOut; }

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomOutDown {
  animation-name: zoomOutDown; }

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center; } }
.zoomOutLeft {
  animation-name: zoomOutLeft; }

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center; } }
.zoomOutRight {
  animation-name: zoomOutRight; }

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomOutUp {
  animation-name: zoomOutUp; }

@keyframes slideInDown {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    transform: translateZ(0); } }
.slideInDown {
  animation-name: slideInDown; }

@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    transform: translateZ(0); } }
.slideInLeft {
  animation-name: slideInLeft; }

@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    transform: translateZ(0); } }
.slideInRight {
  animation-name: slideInRight; }

@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    transform: translateZ(0); } }
.slideInUp {
  animation-name: slideInUp; }

@keyframes slideOutDown {
  0% {
    transform: translateZ(0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0); } }
.slideOutDown {
  animation-name: slideOutDown; }

@keyframes slideOutLeft {
  0% {
    transform: translateZ(0); }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0); } }
.slideOutLeft {
  animation-name: slideOutLeft; }

@keyframes slideOutRight {
  0% {
    transform: translateZ(0); }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0); } }
.slideOutRight {
  animation-name: slideOutRight; }

@keyframes slideOutUp {
  0% {
    transform: translateZ(0); }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0); } }
.slideOutUp {
  animation-name: slideOutUp; }

.mypage-alo-phone {
  position: fixed;
  left: 0px;
  bottom: 28px;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 200000 !important; }

.mypage-alo-ph-img-circle {
  width: 30px;
  height: 30px;
  top: 43px;
  left: 43px;
  position: absolute;
  background: rgba(30, 30, 30, 0.1) url(https://2.bp.blogspot.com/-551sYagSzdY/WfHbmMPn_TI/AAAAAAAAEMk/FtDIT1b13GsfsGgzKvsRucFKpJL9CLRGQCLcBGAs/s1600/dienthoai.png) no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background-color: #0089B9;
  background-size: 70%; }

.mypage-alo-ph-circle-fill {
  width: 60px;
  height: 60px;
  top: 28px;
  left: 28px;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  background-color: rgba(0, 175, 242, 0.5);
  opacity: .75 !important; }

.mypage-alo-ph-circle {
  width: 90px;
  height: 90px;
  top: 12px;
  left: 12px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: .1;
  border-color: #0089B9;
  opacity: .5; }

/* menu mobile */
.click_out {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8); }

.open-nav {
  font-size: 30px;
  z-index: 99;
  cursor: pointer;
  display: inline-block;
  line-height: 1.1;
  color: #ebf82a; }

#menu-mobile {
  background: #542f2f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 300px;
  height: 100%;
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  transform: translateX(-300px);
  transition: all 0.4s;
  overflow: auto; }
  #menu-mobile .far.fa-window-close {
    color: black !important;
    font-size: 28px !important;
    cursor: pointer; }
  #menu-mobile .nav_mobile {
    padding: 20px 15px; }
    #menu-mobile .nav_mobile .top {
      border-bottom: 1px solid #eee;
      padding-bottom: 10px; }
      #menu-mobile .nav_mobile .top a img {
        width: 55%; }
      #menu-mobile .nav_mobile .top .fa.fa-times.click_bg {
        font-size: 27px;
        float: right;
        cursor: pointer;
        color: white;
        padding-top: 13px; }
    #menu-mobile .nav_mobile ul {
      list-style: none;
      padding-top: 10px;
      overflow: auto;
      display: block; }
      #menu-mobile .nav_mobile ul li {
        clear: both;
        position: relative; }
        #menu-mobile .nav_mobile ul li:first-child {
          border: none; }
        #menu-mobile .nav_mobile ul li a {
          color: white;
          padding: 12px 0;
          display: block;
          font-size: 14px;
          text-transform: uppercase; }
          #menu-mobile .nav_mobile ul li a:hover {
            color: #d2972f; }
        #menu-mobile .nav_mobile ul li .sub-menu {
          padding: 0;
          max-height: 0;
          transition: all 0.5s;
          overflow: hidden; }
          #menu-mobile .nav_mobile ul li .sub-menu li:first-child {
            border-top: 0; }
          #menu-mobile .nav_mobile ul li .sub-menu li a {
            padding-left: 20px;
            display: inline-block; }
          #menu-mobile .nav_mobile ul li .sub-menu .sub-menu {
            max-height: 0;
            overflow: hidden; }
            #menu-mobile .nav_mobile ul li .sub-menu .sub-menu a {
              padding-left: 40px; }
      #menu-mobile .nav_mobile ul .active a {
        /* color: $color_cam; */ }
    #menu-mobile .nav_mobile .user-nav-mb span {
      width: 50%;
      float: left; }
      #menu-mobile .nav_mobile .user-nav-mb span i {
        margin-right: 10px;
        color: white; }
      #menu-mobile .nav_mobile .user-nav-mb span a {
        color: white; }
  #menu-mobile .accordion {
    color: #474747;
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 15px;
    transition: all 0.4s;
    position: absolute;
    top: 0;
    right: 0;
    background: #F2F2F2;
    width: 38px;
    height: 38px;
    line-height: 38px; }
    #menu-mobile .accordion:focus {
      outline: none; }
  #menu-mobile .accordion::after {
    content: "\f107";
    font-family: "FontAwesome";
    color: #474747;
    font-weight: bold; }
  #menu-mobile .accordion.active::after {
    content: "\f106";
    font-family: "FontAwesome"; }

.open-nav {
  display: none; }

.wrap_menu_mobi {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #542f2f;
  padding: 5px;
  width: 100%;
  display: none; }
  .wrap_menu_mobi .open-nav {
    float: left;
    padding-top: 12px; }
  .wrap_menu_mobi .logo {
    float: right;
    width: 20%; }

/* == End menu mobile */
/* -------blog -------- */
.wrap_main_content {
  padding: 75px 0px 80px;
  display: inline-block;
  font-family: 'utmc'; }
  .wrap_main_content h2 {
    font-size: 28px;
    color: #e6b45a;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 35px; }
  .wrap_main_content p {
    padding-bottom: 15px;
    font-size: 17px; }
  .wrap_main_content p.blog_fix1 {
    padding-left: 35px; }
  .wrap_main_content .images h4 {
    text-transform: uppercase;
    padding: 20px 0px; }
  .wrap_main_content .images p {
    font-style: italic;
    text-align: center;
    padding-top: 5px; }
  .wrap_main_content ul {
    padding: 10px 0px 30px 55px;
    margin: 0; }
    .wrap_main_content ul li p {
      padding: 0;
      padding-bottom: 5px; }
  .wrap_main_content .author_post {
    display: inline-block;
    float: right; }
    .wrap_main_content .author_post p {
      padding: 0; }
      .wrap_main_content .author_post p span {
        font-style: italic; }
      .wrap_main_content .author_post p a {
        font-size: 20px; }

/* ------- End blog -------- */
/* responsive // 1199 991 767 480 414 375 360 320 max-width */
@media screen and (max-width: 1199px) {
  .wrap_menu .main_wrap_menu nav.navbar ul li a {
    font-size: 13px;
    font-weight: normal; }

  .wrap_banner_slide .custom_owl_1 .main_slide_item .caption h3.two, .wrap_banner_slide .custom_owl_1 .main_slide_item .caption h3.one {
    font-size: 30px; }

  .wrap_section1 .main_index {
    padding-left: 40px; }

  .wrap_section1_2 .main_index {
    padding-left: 82px; }

  .section4 .main_info .info_product h4 {
    font-size: 20px; }

  .section4 .main_info .info_product p {
    font-size: 16px; }

  .wrap_section2 .main_index {
    padding: 0px 15px 0px; }

  .title_all h2 {
    font-size: 30px; }

  .wrap_section2 .main_index {
    padding: 20px 15px 40px; }

  .wrap_section2 .main_images .intro_main .caption_title h3, .section3_1 .info_slide .custom_owl_2 .info_product .caption_title h3 {
    font-size: 18px; }

  .wrap_section2 {
    padding-bottom: 30px; }

  .fixed_sidebar_left {
    top: 25% !important; }

  .fixed_sidebar_left.active {
    top: 14% !important; } }
@media screen and (max-width: 1024px) {
  .wrap_section1 .main_index p {
    max-width: 415px;
    padding-top: 0; }

  .wrap_section1 .main_index p {
    font-size: 16px; }

  .wrap_section1 .main_index ul {
    padding-top: 15px;
    padding-right: 40px; }

  .wrap_section1 .main_index ul li span {
    font-size: 17px; }

  .wrap_section1_2 .main_index p, .wrap_section1_2 .main_index ul li {
    font-size: 16px;
    max-width: 415px; }

  .wrap_section2 .main_index p {
    font-size: 16px; }

  .section5 {
    padding: 70px 0px 69px; }

  .section6 .main_info .main_slide .wrap_content_blog .caption h4 {
    font-size: 14px; }

  .fixed_sidebar_left {
    width: 24%;
    min-width: auto !important; }

  .section5 {
    padding: 0; }

  .section5::before {
    top: -48%; } }
@media screen and (max-width: 991px) {
  .mypage-alo-phone {
    bottom: 24%;
    right: 0;
    left: unset; }

  .wrap_menu {
    display: none; }

  .open-nav {
    display: inline-block; }

  .wrap_menu_mobi {
    display: inline-block; }

  .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 5px;
    border: 2px solid #d39730; }

  .wrap_section1 .main_index {
    padding-left: 0;
    text-align: center; }

  .wrap_section1 .main_index ul {
    display: block;
    padding: 0;
    padding-top: 20px; }

  .wrap_section1 .main_index {
    padding-bottom: 35px; }

  .flui-0 .row > [class*="col-"] {
    padding: 0px 15px; }

  .wrap_section1 .main_images .icon_detail, .wrap_section1_2 .main_images .icon_detail {
    display: none; }

  .wrap_section1 .main_images, .wrap_section1_2 .main_images {
    padding: 0px 100px;
    margin-bottom: 30px; }

  .wrap_section1_2 .main_index .title_all {
    padding-right: 0px; }

  .wrap_section1_2 .main_index {
    padding-left: 0;
    padding-top: 30px;
    text-align: center; }

  .wrap_section1_2 .main_index {
    text-align: center;
    padding: 0px 100px; }

  .wrap_section1_2 .main_index p, .wrap_section1_2 .main_index ul li {
    max-width: unset; }

  .wrap_section1_2 .main_index ul {
    display: inline-block; }

  .wrap_section1_2 .main_index ul li {
    text-align: left; }

  .wrap_section2 {
    padding: 0px 100px 50px;
    text-align: center; }

  .wrap_section2 .main_images {
    padding: 0; }

  .wrap_section2 .main_images .intro_main {
    display: inline-block; }

  .wrap_section2 .main_index img {
    width: 20%; }

  .wrap_section2 .main_index {
    margin: 35px 0px; }

  .section3_1 .info_slide .custom_owl_2 .owl-dots {
    left: 48%;
    bottom: -8%; }

  .section3_1 {
    margin-bottom: 75px; }

  .section3 {
    padding-bottom: 30px; }

  .section4 .main_info .info_product:last-child {
    margin-bottom: 65px; }

  .section4 {
    padding-bottom: 20px; }

  .section5::before, .custom_owl_3 .owl-dots {
    content: none; }

  .section7 .main_info .title_all {
    padding: 0; }

  .section7 .main_info .contact_info {
    margin-bottom: 35px; }

  .section4_1 .main_info .info p {
    font-size: 17px; }

  .wrap_section1 .main_images, .wrap_section1_2 .main_images {
    padding: 0;
    margin-bottom: 20px; }

  .fixed_sidebar_left, .fixed_sidebar_left.active {
    display: none !important; }

  .fix_container {
    margin: 0 auto !important; }

  .wrap_banner_slide {
    margin-top: 55px; }

  .wrap_banner_slide .custom_owl_1 .main_slide_item .caption h3.two, .wrap_banner_slide .custom_owl_1 .main_slide_item .caption h3.one {
    font-size: 21px; }

  /*     .wrap_section1_2::before {
          right: -155px;
      } */
  .fixed_notification {
    text-align: center;
    display: inline-block !important;
    background: red;
    color: white;
    padding: 7px;
    cursor: pointer;
    text-transform: capitalize;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;
    bottom: 0;
    font-size: 1rem; }

  .section7 .main_info .form_contact {
    margin-bottom: 35px; }

  .wrap_section2::before, .wrap_section1::after, .wrap_section1_2::before, .wrap_section2::before, .section3_1::before, .section4::before, .section6::before, .section7::before {
    display: none; } }
@media screen and (max-width: 768px) {
  .wrap_banner_slide .custom_owl_1 .main_slide_item .caption h3.two, .wrap_banner_slide .custom_owl_1 .main_slide_item .caption h3.one {
    font-size: 20px; }

  .section3_1 .info_slide .custom_owl_2 .owl-dots {
    left: 45%; }

  .section4 .main_info .info_product .img_model {
    display: none; }

  .section4 .main_info .info_product, .section4 .main_info .info_product.fix_right {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center; }

  .section4 .main_info .info_product h4 {
    font-size: 18px; }

  .section4 .main_info .info_product p {
    font-size: 16px; }

  .section4 .main_info .title_all {
    padding-bottom: 10px; }

  .section4 .main_info .info_product:last-child {
    margin-bottom: 20px; }

  .wrap_section1_2::before {
    right: -40px; } }
@media screen and (max-width: 767px) {
  .section4_1 .main_info .info h3 {
    font-size: 20px; }

  .section4_1 .main_info .info form button {
    font-size: 15px;
    padding: 5px 15px; }

  .section4_1 .main_info .info form input[type="text"] {
    font-size: 15px;
    padding: 10px 20px;
    width: 45%; }

  .wrap_menu_mobi .open-nav {
    padding-top: 3px; }

  .wrap_main_content h2 {
    font-size: 23px; }

  .wrap_section1::after {
    top: -30%;
    left: -30%; }

  .wrap_section1_2 .main_index, .wrap_section2 {
    padding: 0; }

  .section3_1 .info_slide .custom_owl_2 .owl-dots {
    left: 44%;
    bottom: -13%; } }
@media screen and (max-width: 480px) {
  .open-nav {
    font-size: 23px; }

  .wrap_section1::after {
    left: 0; }

  .wrap_section1 {
    padding-top: 35px; }

  .wrap_section1 .main_index ul li {
    display: inline-block;
    border-right: 0;
    width: 100%; }

  .wrap_section1 .main_index ul li span {
    font-size: 23px; }

  .wrap_section1 .main_images, .wrap_section1_2 .main_images, .wrap_section1_2 .main_index, .wrap_section2 {
    padding: 0; }

  .wrap_section2 {
    padding-bottom: 50px; }

  .section3_1 {
    padding: 0; }

  .section3_1 .info_slide .custom_owl_2 .owl-dots {
    left: 40%;
    bottom: -15%; }

  .scrolltop a {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px; }

  .indext.wow0 {
    display: none; }

  .wrap_banner_slide .custom_owl_1 .main_slide_item .caption h3.two, .wrap_banner_slide .custom_owl_1 .main_slide_item .caption h3.one {
    font-size: 13px; } }
@media screen and (max-width: 414px) {
  .wrap_banner_slide .custom_owl_1 .main_slide_item .caption h3.two, .wrap_banner_slide .custom_owl_1 .main_slide_item .caption h3.one {
    font-size: 13px; }

  .title_all h2 {
    font-size: 25px; }

  .owl-dots {
    left: 42%;
    bottom: 0%; }

  .wrap_section2 .main_images .intro_main .caption_title h3, .section3_1 .info_slide .custom_owl_2 .info_product .caption_title h3 {
    font-size: 18px; }

  .wrap_section2 .main_index img {
    width: 30%; }

  .section3 {
    padding-bottom: 0; }

  .section7 .main_info .form_contact form .form-group input {
    width: 75%; }

  .scrolltop a {
    right: 5px; }

  .mypage-alo-phone {
    right: -8px; } }
@media screen and (max-width: 375px) {
  .wrap_banner_slide .custom_owl_1 .main_slide_item .caption h3.two, .wrap_banner_slide .custom_owl_1 .main_slide_item .caption h3.one {
    font-size: 11px; } }
@media screen and (max-width: 320px) {
  .section3_1 .info_slide .custom_owl_2 .owl-dots {
    bottom: -22%; } }
.fixed_sidebar_left {
  position: fixed;
  left: 0;
  top: 19%;
  transition: 0.5s all;
  z-index: 99999;
  background: #d39730;
  padding: 50px 30px;
  display: block;
  visibility: visible;
  box-shadow: 3px 7px 15px grey;
  min-width: 290px; }
  .fixed_sidebar_left form {
    text-align: center; }
    .fixed_sidebar_left form .form-group {
      margin-bottom: 30px; }
      .fixed_sidebar_left form .form-group input {
        width: 100%;
        font-size: 16px;
        padding: 5px 10px;
        background: white;
        border: 0;
        border-radius: 2px; }
    .fixed_sidebar_left form button {
      color: white;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: bold;
      background: #2b3c8d70;
      border-radius: 3px;
      padding: 5px 15px;
      border: 1px solid transparent;
      box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
      outline: 1px solid;
      outline-color: rgba(255, 255, 255, 0.5);
      outline-offset: 0px;
      text-shadow: none;
      transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
      cursor: pointer; }
      .fixed_sidebar_left form button:hover {
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388; }

.fixed_sidebar_left.active {
  top: 11%;
  transition: 0.3s all; }

.fix_container {
  margin-right: -15px; }

.fixed_notification {
  display: none; }

/*# sourceMappingURL=style.css.map */
