==
  <div class="footer">
    <div class="container">
      <div class="info">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="col_st">
              <h3>thông tin công ty</h3>
              <div class="logo_ft">
                <a href="#"><img src="{{general.logo|media}}" alt="" class="img-fluid"></a>
              </div>
              <p>
                {{general.description}}
              </p>
            </div> <!-- /col_st -->
          </div> <!-- /col -->

          <div class="col-lg-4 col-md-6">
            <div class="col_st">
              <h3>thông tin liên hệ</h3>
              <h5>{{general.company}}</h5>
              <ul class="address">
                <li><p><i class="fa fa-location-arrow" aria-hidden="true"></i> <span>{{general.location}}</span></p></li>
                <li><p><i class="fa fa-phone" aria-hidden="true"></i> <span>{{general.phone}}</span></p></li>
                <li><p><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>{{general.email}}</span></p></li>
              </ul>
              <ul class="isocial">
                <li><a href="{{general.link_fb}}" class="btn_icon"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="{{general.link_yt}}" class="btn_icon"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="{{general.link_gg}}" class="btn_icon"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="{{general.link_gg}}" class="btn_icon"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div> <!-- /col_st -->
          </div> <!-- /col -->

          <div class="col-lg-4 col-md-6">
            <div class="col_st">
              <h3>theo dõi qua facebook</h3>
              <div class="banger">
                  <div id="fb-root"></div>
                  
                  <div class='fb-page' data-href='{{general.link_fb}}' data-tabs='timeline' data-width='500px' data-height='245px' data-small-header='false' data-adapt-container-width='false' show_facepile='true' adapt_container_width='true' data-hide-cover='false' data-show-facepile='false'>
                      <blockquote cite='{{general.link_fb}}' class='fb-xfbml-parse-ignore'><a href='{{general.link_fb}}'>Facebook</a></blockquote>
                  </div>
              </div>
            </div>
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div> <!-- /info -->
    </div> <!-- /container -->
  </div><!--  /footer -->

{%put scripts%}
<script>
    $(document).ready(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{%endput%}