==
<div class="header {% if seo_title != 'Trang chủ' %}Contact_hd{% endif %}">
    <div class="wrap_top_header">
      <div class="container">
        <div class="main_info">
          <div class="left_info">
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i>{{general.email}}</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>{{general.phone}}</p>
          </div> <!-- /left_info -->
          <div class="right_info">
            <p>Kết nối với chúng tôi 
              <a href="{{general.link_fb}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="{{general.link_gg}}"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
              <a href="{{general.link_yt}}"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </p>
          </div><!--  /right_info -->
        </div> <!-- /main_info -->
      </div> <!-- /container -->
    </div> <!-- /wrap_top_header -->

    <div class="wrap_bot_header">
      <div class="container">
        <div class="main_wrap">
          <nav class="navbar">
            <ul class="nav">
              <li class="nav-item">
                  <a class="nav-link active" href="{{'home'|page}}">trang chủ</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{'shophouse'|page }}">shophouse</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{'condotel'|page}}">condotel</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#myModal">bảng giá</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{'home'|page}}">
                    <div class="logo">
                    <img src="{{general.logo|media}}" alt="logo" class="img-fluid">
                  </div>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{'news'|page}}">tin tức</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{'about'|page}}">giới thiệu</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{'contact'|page}}">liên hệ</a>
              </li>
            </ul>
          </nav>

          <div class="position_right">
            <a href="javascript:void(0)" class="login_project" data-toggle="modal" data-target="#myModal">Đăng ký dự án</a>
          </div> <!-- /position_right -->
        </div> <!-- /main_wrap -->
      </div> <!-- /container -->
    </div> <!-- /wrap_bot_header -->

    
    <div class="wrap_menu_mobile">
      <div class="container">
        <div class="info">
          <div class="open-nav" onclick="openNav()">
              <i class="fa fa-bars" aria-hidden="true"></i>
          </div>

          <div class="logo">
            <a href="javascript:void(0)"><img src="images/logo.png" alt="" class="img-fluid"></a>
          </div>
        </div> <!--  /info -->

        <!--menu mobile -->
          <div id="menu-mobile" class="hidden-md hidden-lg">
              <div class="nav_mobile">
                <div class="top">
                   <a href="{{'home'|page}}"><img src="images/logo.png" alt="logo" class="img-fluid"></a>
                   <i class="fa fa-times click_bg"  aria-hidden="true" onclick="closeNav()"></i>
                </div>
                     
                  <ul class="nav">
              <li class="nav-item">
                  <a class="nav-link active" href="{{'home'|page}}">trang chủ</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{'shophouse'|page }}">shophouse</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{'condotel'|page}}">condotel</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#myModal">bảng giá</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{'news'|page}}">tin tức</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{'about'|page}}">giới thiệu</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{'contact'|page}}">liên hệ</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#myModal">Đăng ký dự án</a>
              </li>
            </ul>
              </div>
          </div>
          <div class="click_out"></div>
      <!--end menu mobile -->
      </div> <!-- /container -->
    </div> <!-- /wrap_menu_mobile -->

    {% if seo_title == 'Trang chủ' %}
    <div class="info_index_banner">
      <div class="container">
        <div class="info">
          <h1 class="wow fadeInUp" data-wow-delay="0.7s">nhận bảng giá dự án</h1>
          <p class="wow fadeInUp" data-wow-delay="1s">
            Thông tin bảng giá Condotel và Shophouse được cập nhật thường xuyên, <br> báo giá hợp lý với nhiều ưu đãi lớn
          </p>
          <div class="group_button">
            <a href="{{'news'|page}}" class="one  wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1.2s">Tìm hiểu thêm</a>
            <a href="javascript:void()" data-toggle="modal" data-target="#myModal2" class="two  wow fadeInRight" data-wow-delay="1s" data-wow-duration="1.2s">Tải bảng giá</a>
          </div> <!-- /group_button -->
        </div> <!-- /info -->
      </div> <!-- /container -->
    </div> <!-- /info_index_banner -->
    {% else %}
    <div class="wrap_panigation_info">
      <div class="container">
        <div class="info">
          <h2>{% if seo_title != 'Chi tiết tin tức' %}{{seo_title}}{% endif %}</h2>
          <ul>
            <li><a href="{{'home'|page}}">Trang chủ</a></li>
            <li class="active"><a href="javascript:void()">{{seo_title}}</a></li>
          </ul>
        </div> <!-- /info -->
      </div> <!-- /container -->
    </div> <!-- /wrap_panigation_info -->
    {% endif %}
</div> <!-- /header -->

