[viewBag]

[contact]

[contact contact2]

[contact contact3]

[contact contact4]

[contact contact5]
==
<!-- pop up -->
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
           <button type="button" class="close" data-dismiss="modal">×</button>
            <div class="row">
          <div class="col-lg-6">
            <div class="indext">
              <h3>ĐĂNG KÝ NGAY</h3>
              <p>Nhận bộ tài liệu bảng giá</p>
              <ul>
                <li>Thông tin đầy đủ dự án</li>
                <li>Mặt bằng khu</li>
                <li>Bảng giá chi tiết từng căn</li>
                <li>Tiến độ thanh toán</li>
                <li>Chương trình ưu đãi mới nhất</li>
                <li>Cam kết lợi nhuận</li>
              </ul>
            </div>
          </div> <!-- /col -->
          <div class="col-lg-6 ">
            <div class="form_contact">
              <h3>THÔNG TIN ĐĂNG KÝ</h3>
              {% component 'contact' %}
            </div>
          </div> <!-- /col -->
        </div> <!-- /row -->
        </div>
      </div>
  </div> <!-- /modal -->

<!-- pop up -->
<!-- pop up 2 -->
  <!-- The Modal -->
  <div class="modal fade" id="myModal2">
      <div class="modal-dialog">
        <div class="modal-content">
           <button type="button" class="close" data-dismiss="modal">×</button>
            <div class="row">
          <div class="col-lg-6">
            <div class="indext">
              <h3>ĐĂNG KÝ NGAY</h3>
              <p>Nhận bộ tài liệu bảng giá</p>
              <ul>
                <li>Thông tin đầy đủ dự án</li>
                <li>Mặt bằng khu</li>
                <li>Bảng giá chi tiết từng căn</li>
                <li>Tiến độ thanh toán</li>
                <li>Chương trình ưu đãi mới nhất</li>
                <li>Cam kết lợi nhuận</li>
              </ul>
            </div>
          </div> <!-- /col -->
          <div class="col-lg-6 ">
            <div class="form_contact">
              <h3>THÔNG TIN ĐĂNG KÝ</h3>
              {% component 'contact2' %}
            </div>
          </div> <!-- /col -->
        </div> <!-- /row -->
        </div>
      </div>
  </div> <!-- /modal -->

<!-- pop up 2 -->
<!-- pop up 3-->
<!-- The Modal -->
<div class="modal fade" id="myModal3">
    <div class="modal-dialog">
      <div class="modal-content">
         <button type="button" class="close" data-dismiss="modal">×</button>
          <div class="row">
        <div class="col-lg-6">
          <div class="indext">
            <h3>ĐĂNG KÝ NGAY</h3>
            <p>Nhận bộ tài liệu bảng giá</p>
            <ul>
              <li>Thông tin đầy đủ dự án</li>
              <li>Mặt bằng khu</li>
              <li>Bảng giá chi tiết từng căn</li>
              <li>Tiến độ thanh toán</li>
              <li>Chương trình ưu đãi mới nhất</li>
              <li>Cam kết lợi nhuận</li>
            </ul>
          </div>
        </div> <!-- /col -->
        <div class="col-lg-6 ">
          <div class="form_contact">
            <h3>THÔNG TIN ĐĂNG KÝ</h3>
            {% component 'contact3' %}
          </div>
        </div> <!-- /col -->
      </div> <!-- /row -->
      </div>
    </div>
</div> <!-- /modal -->
<!-- pop up 3 -->
<!-- pop up 4 -->
<!-- The Modal -->
<div class="modal fade" id="myModal4">
    <div class="modal-dialog">
      <div class="modal-content">
         <button type="button" class="close" data-dismiss="modal">×</button>
          <div class="row">
        <div class="col-lg-6">
          <div class="indext">
            <h3>ĐĂNG KÝ NGAY</h3>
            <p>Nhận bộ tài liệu bảng giá</p>
            <ul>
              <li>Thông tin đầy đủ dự án</li>
              <li>Mặt bằng khu</li>
              <li>Bảng giá chi tiết từng căn</li>
              <li>Tiến độ thanh toán</li>
              <li>Chương trình ưu đãi mới nhất</li>
              <li>Cam kết lợi nhuận</li>
            </ul>
          </div>
        </div> <!-- /col -->
        <div class="col-lg-6 ">
          <div class="form_contact">
            <h3>THÔNG TIN ĐĂNG KÝ</h3>
            {% component 'contact4' %}
          </div>
        </div> <!-- /col -->
      </div> <!-- /row -->
      </div>
    </div>
</div> <!-- /modal -->
<!-- pop up 4 -->
<!-- pop up 5 -->
<!-- The Modal -->
<div class="modal fade" id="myModal5">
    <div class="modal-dialog">
      <div class="modal-content">
         <button type="button" class="close" data-dismiss="modal">×</button>
          <div class="row">
        <div class="col-lg-6">
          <div class="indext">
            <h3>ĐĂNG KÝ NGAY</h3>
            <p>Nhận bộ tài liệu bảng giá</p>
            <ul>
              <li>Thông tin đầy đủ dự án</li>
              <li>Mặt bằng khu</li>
              <li>Bảng giá chi tiết từng căn</li>
              <li>Tiến độ thanh toán</li>
              <li>Chương trình ưu đãi mới nhất</li>
              <li>Cam kết lợi nhuận</li>
            </ul>
          </div>
        </div> <!-- /col -->
        <div class="col-lg-6 ">
          <div class="form_contact">
            <h3>THÔNG TIN ĐĂNG KÝ</h3>
            {% component 'contact5' %}
          </div>
        </div> <!-- /col -->
      </div> <!-- /row -->
      </div>
    </div>
</div> <!-- /modal -->
<!-- pop up 5 -->