==
<div class="wrap_section_six">
    <div class="container">
        <div class="info">
            <p>Nhận báo giá 10 căn  cuối cùng đẹp nhất dự án, chiết khấu cao</p>
            <a href="#" class="btn_load_price_table">tải bảng giá</a>
        </div> <!--  /info -->
    </div> <!-- /container -->
</div> <!-- /wrap_section_six --> 
