title = "Giới thiệu"
url = "/about"
layout = "defautl"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[About]
==
<div class="content">
	<div class="about_wrap_main">
		<div class="container">
			<div class="wrap_top_info_about">
				<div class="row">
					<div class="col-lg-6">
						<div class="info_img">
							<img src="{{about.image|media|resize(540,320, { mode: 'crop', extension: 'jpg' })}}" alt="" class="img-fluid">
						</div>
					</div>

					<div class="col-lg-6">
						<div class="info_index">
							{{about.description|raw}}
						</div>
					</div>
				</div>
			</div> <!-- /wrap_top_info_about -->

			<div class="wrap_bot_info_about">
				<div class="row">
					{% for item in about.content %}
					<div class="col-lg-6">
						<div class="info_block">
							<div class="icon_info">
								<img src="{{item.icon|media|resize(118,118, { mode: 'crop', extension: 'png' })}}" alt="" class="img-fluid">
							</div>
							<div class="index_info">
								<h4>{{ item.name }}</h4>
								<p>
									{{ item.description }}
								</p>
							</div>
						</div>
					</div> <!-- /col -->
    				{% endfor %}

				</div>
			</div> <!-- /wrap_bot_info_about -->
			
		</div> <!-- /container -->


			<div class="wrap_section_four">
				<div class="info_main">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-lg-3">
								<div class="info_details">
									<div class="title_all wow fadeInUp" data-wow-delay="0.4s">
										<h2>bảng giá</h2>
									</div> <!--  /title_all -->
									<p class="wow fadeInUp" data-wow-delay="0.7s">
										Nhận thông tin bảng giá được cập nhật thường xuyên, báo giá hợp lý với nhiều ưu đãi lớn
									</p>
									<div class="group_button">
										<a href="#" class="btn_one button_base b05_3d_roll wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1.2s" data-toggle="modal" data-target="#myModal3">
											<div>Condotel</div>
											<div>Condotel</div>
										</a>


									<a href="#" class="btn_two button_base b05_3d_roll wow fadeInRight" data-wow-delay="1s" data-wow-duration="1.2s" data-toggle="modal" data-target="#myModal4">
										<div>Shophouse</div>
										<div>Shophouse</div>
									</a>

								</div> <!--  /group_button -->
							</div> <!-- /info_details -->
						</div> <!-- /col -->
					</div> <!-- /row -->
				</div> <!-- /container -->
				</div> <!-- /info_main -->
			</div> <!-- /wrap_section_four -->
	</div> <!-- /about_wrap_main -->
	
</div> <!-- /content -->