title = "Condotel"
url = "/condotel"
layout = "defautl"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[Condotel]

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<div class="content">
    <div class="submenu_flexleft navbar navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item icon_overview_duc">
                <a class="nav-link" href="/condotel/#section1">Tổng quan</a>
            </li>
            <li class="nav-item icon_location_duc">
                <a class="nav-link" href="/condotel/#section2">Vị trí</a>
            </li>
            <li class="nav-item icon_utilities_duc">
                <a class="nav-link" href="/condotel/#section3">Tiện ích</a>
            </li>
            <li class="nav-item icon_progress_duc">
                <a class="nav-link" href="/condotel/#section4">Tiến độ</a>
            </li>
            <li class="nav-item icon_policy_duc">
                <a class="nav-link" href="/condotel/#section6">Chính sách</a>
            </li>
            <li class="nav-item icon_image_duc">
                <a class="nav-link" href="/condotel/#section5">Hình ảnh</a>
            </li>
            <li class="nav-item icon_video_duc">
                <a class="nav-link" href="/condotel/#section5">Video</a>
            </li>
            <li class="nav-item icon_news_duc">
                <a class="nav-link" href="/condotel/#section7">Tin tức</a>
            </li>
        </ul>
    </div>

    <div class="sub_project_overview" id="section1" style="background-image:url('{{condotel.background1|media}}');">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                </div> <!--/col-->
                <div class="col-lg-7 overview_right">
                    <div class="subtongquanduan wow fadeInRight" data-wow-delay="1s" data-wow-duration="1.2s">
                        <div class="list_cate">
                            <h2><a class="title_listcate">{{condotel.namec1}}</a></h2>
                            <div class="note_list">
                                {{condotel.descriptionc1}}
                            </div>
                        </div>
                        <div class="lstdsduan">
                            {% for item in condotel.contentc1 %}
                            <div class="item_dstongquanduan">
                                <div class="khungAnh">
                                    <a class="khungAnhCrop">
                                        <img class="img-fluid" src="{{ item.icon|media }}" />
                                    </a>
                                </div>
                                <div class="ngoaia">
                                    <h3>
                                        <a class="title_tqda">{{ item.name }}</a>
                                    </h3>
                                </div>
                                <div class="note_tqda">
                                    {{ item.description }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div> <!--/col-->
            </div>
        </div>
    </div> <!--/sub_project_overview-->

    <div class="sub_project_location" id="section2">
        <div class="row">
            <div class="col-lg-5">
                <div class="sub_location_left wow zoomIn" data-wow-delay="0.5s" data-wow-duration="1.2s">
                    <div class="list_cate">
                        <h2><a class="title_listcate">{{condotel.namec2}}</a></h2>
                        <div class="note_list">
                            {{condotel.descriptionc2}}
                        </div>
                    </div>
                    <div class="lstdsvitri_duan">
                        {% for item in condotel.contentc2 %}
                        <div class="item_dsvitriduan">
                            <div class="frames_mages">
                                <a class="frames_mages_Crop">
                                    <img class="img-fluid" src="{{ item.icon|media }}" />
                                </a>
                            </div>
                            <div class="project_information">
                                <div class="ngoaia">
                                    <h3><a class="title_vtda">{{ item.name }}</a></h3>
                                </div>
                                <div class="note_vtda">
                                   {{ item.description }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div> <!--/sub_location_left-->
            </div> <!--/col-->
            <div class="col-lg-7">
                <div class="sub_location_right wow fadeInRight" data-wow-delay="1s" data-wow-duration="1.2s">
                    <div class="frames_mages">
                        <a class="frames_mages_Crop">
                            <img class="img-fluid" src="{{ condotel.imagec2|media }}" />
                        </a>
                    </div>
                </div> <!--/sub_location_right-->
            </div> <!--/col-->
        </div>
    </div> <!--/sub_project_position-->

    <div class="sub_project_utility" id="section3" style="background-image:url('{{condotel.background2|media}}');">
        <div class="row">
            <div class="col-lg-6">
                <div class="utility_left wow zoomIn" data-wow-delay="0.5s" data-wow-duration="1.2s">
                    <div class="lst_left_tienich">
                        {% for key,item in condotel.images %}
                        <div class="item_bieudotienich tienich0{{key+1}}">
                            <div class="frames_mages">
                                <a class="frames_mages_Crop">
                                    <img src="{{ item.path }}" />
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div> <!--/col-->
            <div class="col-lg-6">
                <div class="utility_right wow zoomIn" data-wow-delay="1s" data-wow-duration="1.2s">
                    <div class="sub_utility">
                        <div class="list_cate">
                            <h2><a class="title_listcate">{{condotel.namec3}}</a></h2>
                            <div class="note_list">
                                {{condotel.descriptionc3}}
                            </div>
                        </div>
                        <div class="lstdsutility">
                            {% for item in condotel.contentc3 %}
                            <div class="itemdsutility">
                                <div class="frames_mages">
                                    <a class="frames_mages_Crop0">
                                        <img src="{{ item.icon|media }}" />
                                    </a>
                                </div>
                                <div class="ngoaia">
                                    <h3><a class="title_tida">{{ item.name }}</a></h3>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div> <!--/col-->
        </div>
    </div> <!--/sub_project_utility-->

    <div class="sub_project_progress" id="section4">
        <div class="list_cate">
            <h2><a class="title_listcate wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.2s">{{condotel.namec4}}</a></h2>
            <div class="note_list wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="1.2s">
                {{condotel.descriptionc4}}
            </div>
        </div>
        <div class="lst_dsprogress">
            {% for item in condotel.contentc4 %}
            <div class="item_dsprogress wow fadeInUp" data-wow-delay="1s" data-wow-duration="1.2s">
                <div class="frames_mages">
                    <a class="frames_mages_Crop">
                        <img src="{{ item.icon|media }}" />
                    </a>
                </div>
                <div class="progress_information">
                    <div class="ngoaia">
                        <h3><a class="title_tdda">{{ item.name }}</a></h3>
                    </div>
                    <div class="note_tdda">
                        {{ item.description }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="buttom_progress">
            <a class="btn_receive_information" href="javascript:" data-toggle="modal" data-target="#myModal4">Nhận thông tin dự án</a>
        </div>
    </div> <!--/sub_project_progress-->

    <div class="sub_video_image" id="section5">
        <div class="container">
            <div class="list_cate">
                <h2><a class="title_listcate wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.2s">{{condotel.namec5}}</a></h2>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="lst_image_project wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1.2s">
                    {% for item in condotel.contentc5 %}
                        <div class="item_image_project">
                            <div class="frames_mages">
                                <a class="frames_mages_Crop">
                                    <img src="{{ item.image|media }}" />
                                </a>
                            </div>
                            <div class="ngoaia">
                                <h3><a class="title_hada">{{ item.name }}</a></h3>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div> <!--/col-->
                <div class="col-lg-6">
                    <div class="lst_image_project wow fadeInRight" data-wow-delay="1s" data-wow-duration="1.2s">
                        <div class="item_image_project">
                            <div class="frames_mages">
                                <a class="frames_mages_Crop">
                                    {% if condotel.link_video != "" %}{{ condotel.link_video|raw }}{% else %}<img src="{{ condotel.image_video|media }}" />{% endif %}
                                </a>
                            </div>
                            <div class="ngoaia">
                                <h3><a class="title_hada">Video dự án</a></h3>
                            </div>
                        </div>
                    </div>
                </div> <!--/col-->
            </div> <!--/row-->
        </div> <!-- /container -->
    </div> <!--/sub_video_image-->

    <div class="sub_price_policy" id="section6" style="background-image:url('{{condotel.background3|media}}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="sub_policy wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1.2s">
                        <div class="list_cate">
                            <h2><a class="title_listcate">{{condotel.namec6}}</a></h2>
                        </div>
                        <div class="note_policy">
                            {{condotel.contentc6|raw}}
                        </div>
                        <a class="btn_seemore_policy" href="javascript://"><span class="open_seemore">Xem thêm</span><span class="close_compact">Rút gọn</span></a>
                    </div>
                </div> <!--/col-->
                <div class="col-lg-6">
                    <div class="sub_price wow fadeInRight" data-wow-delay="0.5s" data-wow-duration="1.2s">
                        <div class="list_cate">
                            <h2><a class="title_listcate">Bảng giá</a></h2>
                        </div>
                        <form data-request="contact::onSendContact"   data-request-validate data-request-flash>
                        <div class="information_price">
                                <input type="text" id="contactFormName" name="name" value="" placeholder="Họ & Tên">
                                <span style="color:red;"  data-validate-for="name"> * Bạn chưa nhập tên</span><br/>
                                <input type="text" name="email" placeholder="Email" id="contactFormEmail" autocapitalize="off">
                                <span style="color:red;" data-validate-for="email" > * Bạn chưa nhập email</span><br/>
                                <textarea rows="5" placeholder="Nội dung" name="content"></textarea>
                                <span style="color:red;" data-validate-for="email" > * Bạn chưa nhập nội dung</span><br/>
                        </div>
                        <div class="butom_guithongtin">
                            <button type="submit" class="btn_guithongtin" data-attach-loading >GỬI NGAY</button>
                        </div>
                        </form>
                    </div>
                </div> <!--/col-->
            </div> <!--/row-->
        </div> <!--/container-->
    </div> <!--/sub_price_policy-->

    <div class="sub_news_duc" id="section7">
        <div class="container">
            <div class="list_cate wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
                <h2><a class="title_listcate">Tin tức</a></h2>
            </div>
            <div class="lst_dsnews_duc">
            {% for post in posts %}
                {% if post.published %}
                <div class="item_news_duc wow fadeInUp" data-wow-delay="1s" data-wow-duration="1.2s">
                    <div class="frames_mages">
                        <a class="frames_mages_Crop" href="/news/detail/{{ post.slug }}">
                            <img src="{{ post.featured_images.path|resize(362,253, { mode: 'crop', extension: 'jpg' }) }}" alt="{{ post.title }}" />
                        </a>
                    </div>
                    <div class="information_new_duc">
                        <div class="date_submitted_news_duc">Ngày Đăng: <span>{{ post.published_at|date('d/m/Y') }}</span></div>
                        <div class="ngoaia">
                            <h3>
                                <a class="title_news_duc" href="/news/detail/{{ post.slug }}">
                                    {{ html_limit(post.title,50) }}
                                </a>
                            </h3>
                        </div>
                        <div class="note_news_duc">
                            {{ html_limit(post.excerpt,100) }}
                        </div>
                        <a class="btn_chitiet_duc" href="/news/detail/{{ post.slug }}">Chi tiết</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div> <!--/sub_news_duc-->

    <div class="wrap_section_six">
        <div class="container">
            <div class="info">
                <p>Nhận báo giá 10 căn condotel condotel cuối cùng đẹp nhất dự án, chiết khấu cao</p>
                <a href="#" class="btn_load_price_table">tải bảng giá</a>
            </div> <!--  /info -->
        </div> <!-- /container -->
    </div> <!-- /wrap_section_six -->
</div> <!-- /content -->