title = "Liên hệ"
url = "/contact"
layout = "defautl"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="content">
		<div class="contact_wrap_main">
			<div class="container">
				<div class="wrap_top_info_contact">
					<div class="row">
						<div class="col-lg-8">
							<div class="info_left">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.8340273134413!2d105.79891351430211!3d20.999289186014394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acbcc5ce97ad%3A0xd0fad8a4e5766983!2zMjAgTmfhu6V5IE5oxrAgS29uIFR1bSwgTmjDom4gQ2jDrW5oLCBUaGFuaCBYdcOibiwgSMOgIE7hu5lpLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1541576404558" allowfullscreen></iframe>
							</div> <!-- /info_left -->
						</div> <!-- /col -->

						<div class="col-lg-4">
							<div class="right_info">
								<h3 class="title">{{general.company}}</h3>

								<div class="index_info">
									<p>
										{{general.description}}
									</p>

									<ul class="address">
									<li><p><i class="fa fa-location-arrow" aria-hidden="true"></i> <span>{{general.location}}</span></p></li>
									<li><p><i class="fa fa-phone" aria-hidden="true"></i> <span>{{general.phone}}</span></p></li>
									<li><p><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>{{general.email}}</span></p></li>
								</ul>
								</div>
							</div> <!-- /right_info -->
						</div>  <!-- /col -->
					</div> <!-- /row -->
				</div> <!-- /wrap_top_info_contact -->

				<div class="wrap_bot_info_contact">
					<div class="row">
						<div class="col-lg-8 offset-lg-2">
							<div class="info_form">
								<h3>để lại lời nhắn cho chúng tôi</h3>

								<form data-request="contact::onSendContact"   data-request-validate data-request-flash>
									<div class="form-group">
										<input type="text" id="contactFormName" name="name" value="" placeholder="Họ & Tên">
								    	<span style="color:#fff;"  data-validate-for="name"> * Bạn chưa nhập tên</span><br/>
										<input type="email" name="email" placeholder="Email" id="contactFormEmail" autocapitalize="off">
								    	<span style="color:#fff;" data-validate-for="email" > * Bạn chưa nhập email</span><br/>
									</div>
									<textarea rows="8" placeholder="Nội dung" name="content" style="margin: 20px 0 0 0;"></textarea>
									<span style="color:#fff;" data-validate-for="email" > * Bạn chưa nhập nội dung</span><br/>
									<button type="submit" data-attach-loading style="margin: 20px 0 0 0;">GỬI NGAY</button>
								</form>
							</div> <!-- /info_form -->
						</div> <!-- /col -->
					</div> <!-- /row -->
				</div> <!-- /wrap_bot_info_contact -->
			</div> <!-- /container -->

			<div class="wrap_section_four">
				<div class="info_main">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-lg-3">
								<div class="info_details">
									<div class="title_all wow fadeInUp" data-wow-delay="0.4s">
										<h2>bảng giá</h2>
									</div> <!--  /title_all -->
									<p class="wow fadeInUp" data-wow-delay="0.7s">
										Nhận thông tin bảng giá được cập nhật thường xuyên, báo giá hợp lý với nhiều ưu đãi lớn
									</p>
									<div class="group_button">
										<a href="#" class="btn_one button_base b05_3d_roll wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1.2s" data-toggle="modal" data-target="#myModal3">
											<div>Condotel</div>
											<div>Condotel</div>
										</a>


									<a href="#" class="btn_two button_base b05_3d_roll wow fadeInRight" data-wow-delay="1s" data-wow-duration="1.2s" data-toggle="modal" data-target="#myModal4">
										<div>Shophouse</div>
										<div>Shophouse</div>
									</a>

								</div> <!--  /group_button -->
							</div> <!-- /info_details -->
						</div> <!-- /col -->
					</div> <!-- /row -->
				</div> <!-- /container -->
				</div> <!-- /info_main -->
			</div> <!-- /wrap_section_four -->
		</div> <!-- /contact_wrap_main -->
	</div> <!-- /content -->