title = "Trang chủ"
url = "/"
layout = "defautl"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "bao-tri"
postPage = "bao-tri"

[Content]

[contact]
==
<div class="content">
  <div class="wrap_section_top">
    <div class="container">
      <div class="info">
        <div class="title_all  wow fadeInUp" data-wow-delay="0.4s">
          <h2>{{content.namec1}}</h2>
        </div> <!--  /title_all -->

        <div class="main_product">
          {% for k,item in content.content1 %}
          {% if k%2 == 1 %}
          <div class="info_product">
            <div class="row">
              <div class="col-lg-6">
                <div class="images wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1.2s">
                  <a href="javascript:void()"><img src="{{ item.image|media|resize(570,330, { mode: 'crop', extension: 'jpg' }) }}" alt="{{ item.name }}" class="img-fluid"></a>
                </div>
              </div> <!-- /col -->
              <div class="col-lg-6">
                <div class="index wow wow zoomIn" data-wow-delay="1s" data-wow-duration="1.2s">
                  <h3 class="title_product">{{ item.name }}</h3>
                  <div class="dot_content">
                    {{ item.content|raw }}
                  </div> <!-- /dot_content -->
                  <a href="javascript:void()" class="load_more"> <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                  
                </div>
              </div> <!-- /col -->
            </div> <!-- /row -->
          </div> <!-- /info_product -->
          {% else %}
          <div class="info_product">
            <div class="row colum_revese">
              <div class="col-lg-6">
                <div class="index wow zoomIn" data-wow-delay="1s" data-wow-duration="1.2s">
                  <h3 class="title_product">{{ item.name }}</h3>
                  <div class="dot_content">
                    {{ item.content|raw }}
                  </div> <!-- /dot_content -->
                  <a href="javascript:void()" class="load_more"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                </div>
              </div> <!-- /col -->
              <div class="col-lg-6">
                <div class="images  wow fadeInRight" data-wow-delay="0.5s" data-wow-duration="1.2s">
                  <a href="javascript:void()"><img src="{{ item.image|media|resize(570,330, { mode: 'crop', extension: 'jpg' }) }}" alt="{{ item.name }}" class="img-fluid"></a>
                </div>
              </div> <!-- /col -->
            </div> <!-- /row -->
          </div> <!-- /info_product -->
          {% endif %}
          {% endfor %}
        </div> <!-- /main_product -->
      </div> <!-- /info -->
    </div> <!-- /container -->
  </div> <!-- /wrap_section_top -->

  <div class="wrap_section_two">
    <div class="container">
      <div class="info_main">
        <div class="row">
          <div class="col-lg-4">
            <div class="left_info wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1.2s">
              <div class="title_all">
                <h2>{{content.namec2}}</h2>
              </div> <!--  /title_all -->

              <div class="index_info">
                {{content.description2|raw}}
              </div> <!-- /index_info -->
            </div> <!-- /left_info -->
          </div> <!-- /col-4 -->

          <div class="col-lg-8">
            <div class="right_info wow fadeInRight" data-wow-delay="1s" data-wow-duration="1.2s">
              <h3 class="title">{{content.namec2}}</h3>
              <div class="row">
                {% for k,item in content.content2 %}
                <div class="col-lg-4 col-md-6">
                  <div class="info_social">
                    <div class="icon">
                      <img src="{{ item.icon|media}}" alt="" class="img-fluid">
                    </div> <!-- /icon -->
                    <div class="caption">
                      <h4>{{ item.name }}</h4>
                      <p>
                        {{ item.content }}
                      </p>
                    </div> <!-- /caption -->
                  </div><!--  /info_social -->
                </div> <!-- /col -->
                {% endfor %}


                <div class="wrap_section_four change_button">
                  <div class="info_main">
                    <div class="info_details">
                      <div class="group_button">
                        <a  href="{{'condotel'|page}}" class="btn_one button_base b05_3d_roll wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1.2s">
                          <div>Condotel</div>
                          <div>Condotel</div>
                        </a>

                        <a  href="{{'shophouse'|page}}" class="btn_two button_base b05_3d_roll wow fadeInRight" data-wow-delay="1s" data-wow-duration="1.2s">
                          <div>Shophouse</div>
                          <div>Shophouse</div>
                        </a>
                      </div> <!--  /group_button -->
                    </div> <!-- /info_details -->
                  </div> <!-- /info_main -->
                </div> <!-- /wrap_section_four -->
              </div> <!-- /row -->
            </div> <!-- /right_info -->
          </div> <!-- /col -->
        </div> <!--  /row -->
      </div> <!-- /info_main -->
    </div><!--  /container -->
  </div> <!-- /wrap_section_two -->

  <div class="wrap_section_three">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="index_info">
            <h3 class="title_product wow fadeInUp" data-wow-delay="0.4s">{{content.namec3}}</h3>
            <p>
              {{content.description3}}
            </p>

              <!-- hide desktop - show mobile -->

                <div class="images_album show-mobile">
                  {% for k,item in content.content3 %}
                  <a href="{{ item.image|media }}" data-fancybox="images-preview2" data-width="1500" data-height="1000" data-thumbs='{"autoStart":true}' class="wow fadeIn" data-wow-delay="0.{{k}}s" data-wow-duration="2s">
                    <img src="{{ item.image|media|resize(230,220, { mode: 'crop', extension: 'jpg' }) }}" alt="" class="img-fluid">
                  </a>
                  {% endfor %}
                </div> <!-- /images_album -->

              <!-- hide desktop - show mobile -->
            <ul>
              {% for k,item in content.content3 %}
              <li>
                <p>{{item.description}}</p>
              </li>
              {% endfor %}
            </ul>
          </div> <!-- /index_info -->
        </div> <!--  /col -->

          <div class="col-lg-8">
            <div class="images_album hidden_md">
              {% for k,item in content.content3 %}
              <a href="{{ item.image|media }}" data-fancybox="images-preview2" data-width="1500" data-height="1000" data-thumbs='{"autoStart":true}' class="wow fadeIn" data-wow-delay="0.{{k}}s" data-wow-duration="2s">
                <img src="{{ item.image|media|resize(230,220, { mode: 'crop', extension: 'jpg' }) }}" alt="" class="img-fluid">
              </a>
              {% endfor %}
            </div> <!-- /images_album -->
          </div>  <!--  /col -->
        </div>  <!--  /col -->
      </div> <!-- /row -->
    </div> <!-- /container -->
  </div> <!-- /wrap_section_three -->

  <div class="wrap_section_four">
    <div class="info_main">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div class="info_details">
              <div class="title_all wow fadeInUp" data-wow-delay="0.4s">
                <h2>bảng giá</h2>
              </div> <!--  /title_all -->
              <p class="wow fadeInUp" data-wow-delay="0.7s">
                Nhận thông tin bảng giá được cập nhật thường xuyên, báo giá hợp lý với nhiều ưu đãi lớn
              </p>
              <div class="group_button">
                <a href="javascript:void()" class="btn_one button_base b05_3d_roll wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1.2s" data-toggle="modal" data-target="#myModal3">
                  <div>Condotel</div>
                  <div>Condotel</div>
                </a>


                <a href="javascript:void()" class="btn_two button_base b05_3d_roll wow fadeInRight" data-wow-delay="1s" data-wow-duration="1.2s" data-toggle="modal" data-target="#myModal4">
                  <div>Shophouse</div>
                  <div>Shophouse</div>
                </a>


              </div> <!--  /group_button -->
            </div> <!-- /info_details -->
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div> <!-- /container -->
    </div> <!-- /info_main -->
  </div> <!-- /wrap_section_four -->

  <div class="wrap_section_five">
    <div class="container">
      <div class="info">
        <div class="title_all wow fadeInUp" data-wow-delay="0.4s">
          <h2>tin tức</h2>
        </div> <!--  /title_all -->

        <div class="main_slide">
          <div class="owl-carousel owl-theme custom_owl_1">
             {% component 'blogPosts' %}
          </div>
        </div> <!-- /main_slide -->
      </div><!--  /info -->
    </div> <!-- /container -->
  </div> <!-- /wrap_section_five -->

  <div class="wrap_section_six">
    <div class="container">
      <div class="info">
        <p>Nhận báo giá 10 căn condotel shophouse cuối cùng đẹp nhất dự án, chiết khấu cao</p>
        <a href="javascript:void(0)" class="btn_load_price_table" data-toggle="modal" data-target="#myModal5">tải bảng giá</a>
      </div> <!--  /info -->
    </div> <!-- /container -->
  </div> <!-- /wrap_section_six -->

  <div class="wrap_section_seven">
    <div class="container">
      <div class="info">
        <div class="title_all wow fadeInUp" data-wow-delay="0.4s">
          <h2>liên hệ</h2>
        </div> <!--  /title_all -->

        <div class="row">
          <div class="col-lg-5">
            <div class="info_left  wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1.2s">
              <h3>đăng kí nhận thông tin dự án</h3>
              {% component 'contact' %}
            </div> <!-- /info_left -->
          </div> <!-- /col -->

          <div class="col-lg-7">
            <div class="info_right  wow fadeInRight" data-wow-delay="1s" data-wow-duration="1.2s">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.8340273134413!2d105.79891351430211!3d20.999289186014394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acbcc5ce97ad%3A0xd0fad8a4e5766983!2zMjAgTmfhu6V5IE5oxrAgS29uIFR1bSwgTmjDom4gQ2jDrW5oLCBUaGFuaCBYdcOibiwgSMOgIE7hu5lpLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1541576404558" allowfullscreen></iframe>
            </div> <!-- /info_right -->
          </div> <!-- /col -->
        </div> <!--  /row -->
      </div> <!-- /info -->
    </div> <!-- /container -->
  </div> <!-- /wrap_section_seven -->

</div> <!-- /content -->