title = "Chi tiết bài viết"
url = "/news/detail/:slug"
layout = "defautl"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[SeoBlogPost]
post = "post"
==
{% component 'SeoBlogPost' %} 
<div class="content">
 <div class="blog_wrap_main">
    
    <div class="container">
      <div class="main_content_details">
        <div class="row">
		      {% component 'blogPost' %}
        	<div class="col-lg-4">
            	<div class="sidebar_wrap">
              <h3>Tin liên quan</h3>
              <div class="info_block">
              	{% for postRelation in posts %}
                <div class="content_block">
                  <div class="images">
                    <a href="/news/detail/{{ postRelation.slug}}"><img src="{{ postRelation.featured_images.path|resize(120,80, { mode: 'crop', extension: 'jpg' }) }}"></a>
                  </div>
                  <div class="caption">
                    <a href="/news/detail/{{postRelation.slug}}">{{postRelation.title}}</a>
                    <span class="date_post">{{ postRelation.published_at|date('d/m/Y') }}</span>
                  </div>
                </div> <!-- /content_block -->
                {% endfor %}
              </div> <!-- /info_block -->
            </div> <!-- /sidebar_wrap -->
          	</div> <!-- /col -->
        </div> <!-- /row -->
      </div> <!-- /main_content_details -->
    </div> <!-- /container -->

    <div class="wrap_section_four">
      <div class="info_main">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <div class="info_details">
                <div class="title_all wow fadeInUp" data-wow-delay="0.4s">
                  <h2>bảng giá</h2>
                </div> <!--  /title_all -->
                <p class="wow fadeInUp" data-wow-delay="0.7s">
                  Nhận thông tin bảng giá được cập nhật thường xuyên, báo giá hợp lý với nhiều ưu đãi lớn
                </p>
                <div class="group_button">
                  <a href="#" class="btn_one button_base b05_3d_roll wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1.2s" data-toggle="modal" data-target="#myModal3">
                    <div>Condotel</div>
                    <div>Condotel</div>
                  </a>

                <a href="#" class="btn_two button_base b05_3d_roll wow fadeInRight" data-wow-delay="1s" data-wow-duration="1.2s" data-toggle="modal" data-target="#myModal4">
                  <div>Shophouse</div>
                  <div>Shophouse</div>
                </a>


              </div> <!--  /group_button -->
            </div> <!-- /info_details -->
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div> <!-- /container -->
      </div> <!-- /info_main -->
    </div> <!-- /wrap_section_four -->


  </div> <!-- /about_wrap_main -->
</div> <!-- /content -->