<form data-request="contact::onSend"   data-request-validate data-request-flash >
    <input name='form_type' type='hidden' value='contact'>
    <input name='utf8' type='hidden' value='✓'>
    <input type="text" id="contactFormName" name="name" value="" placeholder="Họ & Tên" style="margin: 20px 0 0 0;">
    <span style="color:#fff;"  data-validate-for="name"> * Bạn chưa nhập tên</span><br/>
    <input type="tel"  id="contactFormPhone" name="phone"  autocapitalize="words" placeholder="Điện thoại" style="margin: 20px 0 0 0;">
    <span style="color:#fff;" data-validate-for="phone" > * Bạn chưa nhập số điện thoại</span><br/>
    <input type="email" name="email" placeholder="Email" id="contactFormEmail" autocapitalize="off" style="margin: 20px 0 0 0;">
    <span style="color:#fff;" data-validate-for="email" > * Bạn chưa nhập Email</span><br/>
    <button type="submit" data-attach-loading style="margin: 20px 0 0 0;">Gửi đăng kí</button>
</form>