title = "Không tìm thấy trang"
url = "/404"
is_hidden = 0
==
==
<!DOCTYPE html>
<html lang="vi">
<head>
  <title> Home </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 


  <base href="{{'assets/ '|theme}}" >
  <base src="{{'assets/ '|theme}}" >

  <link rel="stylesheet" href="lib/animate/animate.css">
  <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="lib/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="lib/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link href="css/style.css" rel="stylesheet">
  
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="70">
  

  <h1 style="text-align: center;"></h1>
  <h1 style="text-align: center;margin-top: 20px;">404</h1>
  <h3 style="text-align: center;margin-top: 20px;">Xin lỗi! trang bạn yêu cầu không tồn tại</h3>
  <h5 style="text-align: center;margin-top: 20px;"><a href="/" title="Quay lại trang chủ"><i class="fa fa-arrow-left"></i> Quay lại trang chủ</a></h5>



  
  <script type="text/javascript" src="lib/jquery/jquery-3.3.1.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script> -->
  <script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>
  <script type="text/javascript" src="lib/bootstrap/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="lib/animate/wow.min.js"></script>
  <script type="text/javascript" src="lib/owl-carousel/owl.carousel.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
   
</body>
</html>