title = "Home"
url = "/"
layout = "defautl"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = 404
postPage = 404
==
{% partial 'header' %} <!-- /header -->

  <div class="content">


  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-3">
        <div class="content">
          <div class="wrap_section1" id="section1">

              <div class="row">
                <div class="col-lg-12">
                  <div class="main_index wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1.2s">
                    <div class="title_all">
                      <h2>Thông tin dự án</h2>
                    </div>
                    <p>
                      <strong>Vinpearl Phú Quốc</strong> là một khu nghỉ dưỡng cao cấp liên hợp casino nằm trong quần thể tiện ích của Siêu dự án Phú Quốc được đầu tư và phát triển bởi <strong>tập đoàn Vingroup</strong>. Sự kết hợp của các tài sản du lịch nói trên sẽ tạo ra khu du lịch sang trọng tích hợp đầu tiên của Phú Quốc.  
                    </p>
                    <ul>
                      <li>
                        <p>Số căn hộ condotel</p>
                        <span>10.000</span>
                      </li>
                        
                    <li>
                        <p>Số căn hộ shophouse</p>
                        <span>1.000</span>
                      </li>
                    </ul>
                  </div> <!-- /main_index -->
                </div> <!-- /col -->
                <div class="col-lg-12">
                  <div class="main_images fadeInRight wow" data-wow-delay="0.5s" data-wow-duration="1.2s">
                    <img src="images/images1.jpg" alt="" class="img-fluid">
                    <div class="icon_detail">
                      <img src="images/info_img1.png" alt="" class="img-responsive">
                    </div>
                  </div>
                </div> <!-- /col -->
              </div> <!-- /row -->

          </div> <!-- /wrap_section1 -->

          <div class="wrap_section1_2">

              <div class="row">
                <div class="col-lg-12">
                  <div class="main_images fadeInLeft wow" data-wow-delay="0.5s" data-wow-duration="1.2s">
                    <img src="images/images2.jpg" alt="" class="img-fluid">
                    <div class="icon_detail">
                      <img src="images/info_img2.png" alt="" class="img-responsive">
                    </div>
                  </div>
                </div> <!-- /col -->
                <div class="col-lg-12">
                  <div class="main_index fadeInRight wow" data-wow-delay="0.5s" data-wow-duration="1.2s">
                    <div class="title_all">
                      <h2>Vị trí đắc địa</h2>
                    </div>
                    <p>
                       <strong>Vinpearl Phú Quốc</strong> sở hữu vị trí đắc địa trong quần thể khu du lịch dịch vụ và giải trí Casino Phú Quốc, lại nằm ngay cạnh khu nghỉ dưỡng cao cấp Vinpearl Condotel Phú Quốc của tập đoàn Vingroup, Vinpearl Phú Quốc nhận được những đặc quyền hiếm có dự án nào có được.
                    </p>
                    <ul>
                      <li>Nằm trong khu vực có cơ sở hạ tầng phát triển vượt trội</li>
                      <li>Hệ thống giao thông hiện đại</li>
                      <li>Không khí trong lành, khí hậu ôn hòa</li>
                      <li>Gần nhiều khu vui chơi giải trí lớn và dịch vụ tiện ích</li>
                      <li>Thuận tiện đến sân bay và cảng biển quốc tế Phú Quốc</li>
                    </ul>
                  </div> <!-- /main_index -->
                </div> <!-- /col -->
              </div> <!-- /row -->

          </div> <!-- /wrap_section1_2 -->

          <div class="wrap_section2" id="section2">

              <div class="row">

                <div class="col-lg-12">
                  <div class="main_index wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.2s">
                    <img src="images/info_img3.png" alt="" class="img-fluid">
                    <div class="title_all">
                      <h2>tiện ích 5 sao</h2>
                    </div>
                    <p>
                      <strong>Dự án Vinpearl Phú Quốc</strong> được chú trọng về tiện ích và dịch vụ là một trong những yếu tố quan trọng quyết định tới nguồn khách du lịch trong và ngoài nước nghỉ dưỡng và các nhà đầu tư. Để đạt khu biệt thự Vinpearl đạt chuẩn 5 sao, không chỉ cần yếu tố tự nhiên mà các dịch vụ và tiện ích nội khu phải được phát triển đồng bộ.
                    </p>
                    <p class="fix">
                      Tiện ích tại Vinpearl Phú Quốc đa dạng và vô cùng hiện đại sẽ làm hài lòng từ những khách hàng khó tính nhất
                    </p>
                  </div> <!-- /main_index -->
                </div> <!-- /col -->

                <div class="col-lg-6">
                  <div class="main_images">
                    <div class="intro_main wow fadeInLeft" data-wow-delay="0.4s" data-wow-duration="1s">
                      <img src="images/images3.jpg" alt="" class="img-fluid">
                      <div class="caption_title">
                        <h3>Vinpearl Safari</h3>
                      </div> <!--  /caption_title -->
                    </div> <!-- /intro_main -->

                    <div class="intro_main wow fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1s">
                      <img src="images/images4.jpg" alt="" class="img-fluid">
                      <div class="caption_title">
                        <h3>Sân Golf đẳng cấp</h3>
                      </div> <!--  /caption_title -->
                    </div> <!-- /intro_main -->

                    <div class="intro_main wow fadeInLeft" data-wow-delay="0.8s" data-wow-duration="1s">
                      <img src="images/images5.jpg" alt="" class="img-fluid">
                      <div class="caption_title">
                        <h3>Vinpearl Land</h3>
                      </div> <!--  /caption_title -->
                    </div> <!-- /intro_main -->
                  </div> <!-- /main_images -->
                </div> <!-- /col -->

                <div class="col-lg-6">
                  <div class="main_images">
                    <div class="intro_main wow fadeInRight"  data-wow-delay="0.4s" data-wow-duration="1s">
                      <img src="images/images6.jpg" alt="" class="img-fluid">
                      <div class="caption_title">
                        <h3>Vincharm Spa</h3>
                      </div> <!--  /caption_title -->
                    </div> <!-- /intro_main -->

                    <div class="intro_main  wow fadeInRight"  data-wow-delay="0.6s" data-wow-duration="1s">
                      <img src="images/images7.jpg" alt="" class="img-fluid">
                      <div class="caption_title">
                        <h3>Bể bơi 5 sao</h3>
                      </div> <!--  /caption_title -->
                    </div> <!-- /intro_main -->

                    <div class="intro_main  wow fadeInRight"  data-wow-delay="0.8s" data-wow-duration="1s">
                      <img src="images/images10.jpg" alt="" class="img-fluid">
                      <div class="caption_title">
                        <h3>Sòng bài casino</h3>
                      </div> <!--  /caption_title -->
                    </div> <!-- /intro_main -->
                  </div> <!-- /main_images -->
                </div> <!-- /col -->
              </div> <!-- /row -->

          </div> <!-- /wrap_section2 -->

          <div class="section3" id="section3">
              <div class="row">
                <div class="col-lg-12">
                  <div class="section3_1">
                    <div class="title_all wow bounceInUp" data-wow-delay="1s" >
                      <h2>mặt bằng dự án</h2>
                    </div>
                    <div class="info_slide wow zoomIn" data-wow-delay="0.5s" data-wow-duration="1s">
                      <div class="owl-carousel owl-theme custom_owl_2">
                        <div class="item">
                          <div class="info_product">
                            <img src="images/images8.jpg" alt="" class="img-fluid">
                            <div class="caption_title">
                              <h3>Mặt bằng tổng thể</h3>
                            </div> <!-- /caption_title -->
                          </div> <!-- /info_product -->
                        </div>
                        <div class="item">
                          <div class="info_product">
                            <img src="images/images8.jpg" alt="" class="img-fluid">
                            <div class="caption_title">
                              <h3>Mặt bằng tổng thể</h3>
                            </div> <!-- /caption_title -->
                          </div> <!-- /info_product -->
                        </div>
                        <div class="item">
                          <div class="info_product">
                            <img src="images/images8.jpg" alt="" class="img-fluid">
                            <div class="caption_title">
                              <h3>Mặt bằng tổng thể</h3>
                            </div> <!-- /caption_title -->
                          </div> <!-- /info_product -->
                        </div>
                      </div>
                    </div> <!-- /info_slide -->
                  </div> <!-- /section3_1 -->
                </div> <!-- /col -->

              </div> <!-- /row -->
          </div> <!-- section -->

          <div class="section4" id="section4">

              <div class="main_info">
                <div class="title_all wow fadeInUp" data-wow-delay="0.6s">
                  <h2>lý do đầu tư</h2>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="info_product wow fadeInLeft" data-wow-delay="0.4s" data-wow-duration="1s">
                      <div class="img_model">
                        <img src="images/info_img4.png" alt="" class="img-fluid">
                      </div>
                      <h4>chủ đầu tư uy tín</h4>
                      <p>
                        Tập đoàn Vingroup - 1 trong những tập đoàn đầu tư bất động sản lớn và uy tín nhất tại Việt Nam
                      </p>
                    </div> <!-- /info_product -->

                    <div class="info_product wow fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1s">
                      <div class="img_model">
                        <img src="images/info_img5.png" alt="" class="img-fluid">
                      </div>
                      <h4>tiềm năng tănG giá cao</h4>
                      <p>
                        Phú Quốc đang nằm trong đà phát triển để tiến đến là đặc khu kinh tế
                      </p>
                    </div> <!-- /info_product -->

                    <div class="info_product wow fadeInLeft" data-wow-delay="0.8s" data-wow-duration="1s">
                      <div class="img_model">
                        <img src="images/info_img8.png" alt="" class="img-fluid">
                      </div>
                      <h4>Cam kết lợi nhuận 10%/1 năm trong vòng 10 năm.</h4>
                      <p>
                        Giá từ 2 tỷ/1 căn hộ em nhé.
                      </p>
                    </div> <!-- /info_product -->
                  </div> <!-- /col -->

                  <div class="col-lg-12">
                    <div class="info_product fix_right wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="1s">
                      <div class="img_model">
                        <img src="images/info_img6.png" alt="" class="img-fluid">
                      </div>
                      <h4>Chi phí đầu tư thấp, sinh lời cao</h4>
                      <p>
                        Mức chia sẻ lợi nhuận 85% từ việc cho thuê căn hộ nhưng không thấp hơn 10% / năm / tổng giá trị căn hộ
                      </p>
                    </div> <!-- /info_product -->

                    <div class="info_product fix_right wow fadeInRight" data-wow-delay="0.6s" data-wow-duration="1s">
                      <div class="img_model">
                        <img src="images/info_img9.png" alt="" class="img-fluid">
                      </div>
                      <h4>Được 15 đêm nghỉ dưỡng</h4>
                      <p>
                        Khách hàng sẽ nhận được ưu đãi 15 đêm nghỉ dưỡng trong 1 năm trên toàn hệ thống Condotel của Vinpearl
                      </p>
                    </div> <!-- /info_product -->

                    <div class="info_product fix_right wow fadeInRight" data-wow-delay="0.8s" data-wow-duration="1s">
                      <div class="img_model">
                        <img src="images/info_img7.png" alt="" class="img-fluid">
                      </div>
                      <h4> Giá từ 2 tỷ/1 căn</h4>
                      <p>
                        Giá cả mở bán căn hộ phải chăng, tiềm năng tăng giá lớn và đem về dòng lợi nhuận sinh lời cao
                      </p>
                    </div> <!-- /info_product -->
                  </div> <!-- /col -->
                </div> <!-- /row -->
              </div> <!-- /main_info -->
          </div> <!-- /section4 -->


          <div class="section5 section4" id="section5">

              <div class="main_info">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="title_all wow zoomIn" data-wow-delay="1s" data-wow-duration="1s">
                      <h2>Chính sách đầu tư</h2>
                    </div>
                    <div class="info_product wow fadeInLeft" data-wow-delay="0.4s" data-wow-duration="1s">
                      <div class="img_model">
                        <img src="images/info_img10.png" alt="" class="img-fluid">
                      </div>
                      <p>
                        Ngân hàng hỗ trợ cho vay 70%, hỗ trợ 0% lãi xuất trong 1 năm
                      </p>
                    </div> <!-- /info_product -->

                    <div class="info_product wow fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1s">
                      <div class="img_model">
                        <img src="images/info_img10.png" alt="" class="img-fluid">
                      </div>
                      <p>
                        Thời gian cho vay tối đa 20 năm
                      </p>
                    </div> <!-- /info_product -->

                    <div class="info_product wow fadeInLeft" data-wow-delay="0.8s" data-wow-duration="1s">
                      <div class="img_model">
                        <img src="images/info_img10.png" alt="" class="img-fluid">
                      </div>
                      <p>
                        CHÍNH SÁCH CAM KẾT THUÊ LẠI TỪ CHỦ ĐẦU TƯ TRONG 5 NĂM VỚI MỖI NĂM 10%/NĂM/GIÁ TRỊ CĂN HỘ
                      </p>
                    </div> <!-- /info_product -->
                  </div> <!-- /col -->

                  <div class="col-lg-12">
                    <div class="title_all wow zoomIn" data-wow-delay="1s" data-wow-duration="1s">
                      <h2>phương thức thanh toán</h2>
                    </div>
                    <div class="info_product fix_right wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="1s">
                      <div class="img_model">
                        <img src="images/info_img10.png" alt="" class="img-fluid">
                      </div>
                      <p>
                        thanh toán 30% khi nhận nhà
                      </p>
                    </div> <!-- /info_product -->

                    <div class="info_product fix_right wow fadeInRight" data-wow-delay="0.6s" data-wow-duration="1s">
                      <div class="img_model">
                        <img src="images/info_img10.png" alt="" class="img-fluid">
                      </div>
                      <p>
                        TIẾN ĐỘ THANH TOÁN SẼ ĐƯỢC CẬP NHẬT ĐẾN KHÁCH HÀNG THƯỜNG XUYÊN
                      </p>
                    </div> <!-- /info_product -->

                    <div class="info_product fix_right wow fadeInRight" data-wow-delay="0.8s" data-wow-duration="1s">
                      <div class="img_model">
                        <img src="images/info_img10.png" alt="" class="img-fluid">
                      </div>
                      <p>
                        NHẬN ĐẶT GIỮ CHỖ ƯU TIÊN ĐƯỢC CHỌN MUA căn hộ VINPEARL PHÚ QUỐC
                      </p>
                    </div> <!-- /info_product -->
                  </div> <!-- /col -->
                </div> <!-- /row -->
              </div> <!-- /main_info -->
          </div> <!--  /section5 -->

          <div class="section6" id="section6">

              <div class="main_info">
                <div class="title_all wow zoomIn" data-wow-delay="1s" data-wow-duration="0.7s">
                  <h2>tin tức - sự kiện</h2>
                </div>

                <div class="main_slide">
                  <div class="owl-carousel owl-theme custom_owl_3">
                    {% component 'blogPosts' %}
                  </div>
                </div> <!-- /main_slide -->
              </div> <!-- /main_info -->
          </div> <!-- /section6 -->

          <div class="section7" id="section7">

              <div class="main_info">
                <div class="title_all wow fadeInUp" data-wow-delay="0.8s">
                  <h2>liên hệ</h2>
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <div class="contact_info wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1.2s">
                      <p>
                        CÔNG TY CP ĐẦU TƯ BẤT ĐỘNG SẢN ĐẠI PHÚ MỸ HƯNG
                      </p>
                      <div class="logo">
                        <a href="#0"><img src="images/logo.png" alt="" class="img-fluid"></a>
                      </div>
                      <div class="contact">
                        <ul>
                          <li><p><i class="fa fa-map-marker" aria-hidden="true"></i> <span> Tầng 1+ Tầng 2, Số 20, Phố Ngụy Như Kontum, Phường Nhân Chính, Quận Thanh Xuân, HN</span></p></li>
                          <li>
                            <p><i class="fa fa-phone" aria-hidden="true"></i>  <span>096 969 8993</span></p>
                          </li>
                          <li>
                            <p><i class="fa fa-globe" aria-hidden="true"></i> <span>phuquoccasinovinpearl@gmail.com</span></p>
                          </li>
                        </ul>
                      </div>
                      <div class="copy_right">
                        <p>
                          Copyright © 2018 Dai Phu My Hung Group
                        </p>
                      </div>
                    </div>
                  </div> <!-- /col -->

                  <div class="col-lg-7">
                    <div class="form_contact wow fadeInRight" data-wow-delay="0.5s" data-wow-duration="1.2s">
                      <h2>đăng ký <br> nhận thông tin dự án</h2>

                        {% component 'contact' %}
                    </div> <!-- /form_contact -->
                  </div> <!-- /col -->
                </div>
              </div><!--  /main_info -->
          </div> <!-- /section_7 -->

          <div class="md-modal">
            <div class="md-content">
              <div class="info_popup">
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="indext wow0">
                      <h3>đăng ký ngay</h3>
                      <p>Nhận bộ tài liệu</p>
                      <ul>
                        <li>Thông tin đầy đủ dự án</li>
                        <li>Mặt bằng khu</li>
                        <li>Bảng giá chi tiết từng căn</li>
                        <li>Tiến độ thanh toán</li>
                        <li>Thư mời tham quán miễn phí</li>
                        <li>Chương trình ưu đãi mới nhất</li>
                        <li>Cam kết cho thuê lại</li>
                      </ul>
                    </div>
                  </div> <!-- /col -->
                  <div class="col-lg-6 col-md-6">
                    <div class="form_contact">
                      <h3>thông tin đăng ký</h3>
                        {% component 'contact' %}
                    </div>
                  </div> <!-- /col -->
                </div> <!-- /row -->
                <button class="md-close"><i class="fa fa-times" aria-hidden="true"></i></button>
              </div> <!-- /info_popup -->
            </div>
          </div>
           <div class="md-overlay"></div>

          <div class='scrolltop'>
            <a href="#" class="go-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
          </div> <!-- /scrolltop -->

          <a href="tel:0969698993" mypage="" class="call-now" rel="nofollow"><div
          class="mypage-alo-phone"><div
          class="animated infinite zoomIn mypage-alo-ph-circle"></div><div
          class="animated infinite pulse mypage-alo-ph-circle-fill"></div><div
          class="animated infinite tada mypage-alo-ph-img-circle"></div></div>
          </a>
      </div>
    </div>
    </div>
  </div> <!-- /container -->