[contact]

[contact contact2]

[SeoCmsPage]

[General]
==
<!DOCTYPE html>
<html lang="vi">
<head>
  {% component 'SeoCmsPage' %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <base href="{{'assets/ '|theme}}" >
  <base src="{{'assets/ '|theme}}" >

  <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
  <link href="css/style2.css" rel="stylesheet">
  <link href="css/ducstyle.css" rel="stylesheet" />

  <link rel="icon" type="image/png" href="{{general.favicon|media}}">
  
</head>
<body >
  
  {% partial 'header' %} <!-- /header -->
  {% page %}
  {% partial 'footer' %} <!-- /header -->
  {% partial 'Modal' %} <!-- /modal -->

  <div class="copy_right">
    <div class="container">
      <div class="info">
        <p>Copyright © 2018 Dai Phu My Hung Group. Powered by ThienVietJSC.</p>
      </div>
    </div> <!-- /container -->
  </div> <!-- /copy_right -->

  <div class='scrolltop'>
    <a href="#" class="go-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
  </div> <!-- /scrolltop -->

  
  <div class="Call">
    <a  href="tel:0981118855" title="Gọi ngay">
      <span class="phone_backtotop left_center" ><i class="fa fa-phone"></i></span>
    </a>
  </div>
  

  <link rel="stylesheet" href="lib/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="lib/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="lib/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="lib/animate/animate.css">
  <link href="lib/slick/slick-theme.css" rel="stylesheet" />
  <link href="lib/slick/slick.css" rel="stylesheet" />
  <script src="lib/jquery/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="lib/bootstrap/bootstrap.min.js"></script>
  <script src="lib/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="lib/animate/wow.min.js"></script>
  <script src="lib/owl-carousel/owl.carousel.min.js"></script>
  <script src="lib/fancybox/jquery.fancybox.min.js"></script>
  <script src="js/index.js"></script>
  <script src="lib/slick/slick.js"></script>
   
  {% framework extras %}{% scripts %}  
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="1627061120926842"
  theme_color="#ffc300"
  logged_in_greeting="Hi! How can we help you?"
  logged_out_greeting="Hi! How can we help you?">
</div>
</body>
</html>